[2014-12-29 15:03] Aaron1011 opened #1 "Shift value of At annotation not handled correctly"
Currently, `ASMHelper#getAnnotationValue` iterates over `AnnotationNode.values`, assuming that the name of the value is followed by the value itself.

However, this isn't the case [for Enum values](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/util/ASMHelper.java#L466). Instead of an Enum member, the value is a two-element array containing a descriptor for

[2014-12-29 15:57] #1 closed, assigned to nobody

[2015-01-01 21:52] Zidane opened #4 "Annotation Processor (For Obfuscation Step)"
@Mumfrey

My mod Almura is basically ready for primetime and while mixins are not 100% needed, it does let some of what we are doing work 100% correctly.

Are we any further with getting this working?

[2015-01-01 22:38] Mumfrey commented on #4
Since injection is working I'm working on it this week while I'm off work. For the time being you can just obfuscate your mixins by hand if you need them in your other project.

[2015-01-04 18:35] Mumfrey commented on #4
So the AP is now mostly complete and generates the '*hard*' SRG mappings for SS and the '*soft*' remappings for string-based runtime member lookups as discussed. As we discussed yesterday I've now made it a hard requirement that ```@At``` "target" specifiers must be fully-qualified references, at least for now.

* Note that this hasn't undergone *any* testing to speak of so far so I fully expect s

[2015-01-04 23:56] Zidane opened #5 "Not providing the SRG file in build.gradle results in NPE during compile step"
We discovered today that when gradle downloaded the newest snapshot of Mixin for Almura we could no longer perform a compilation due to missing the SRG or mappings.

Mixin should handle this without bombing on javac step.

[2015-01-04 23:56] Zidane opened #6 "Incorrect javadocs prevent compilation from completing with JDK 8"
Title says it all.

[2015-01-05 00:58] Mumfrey commented on #5
This was actually intentional, but can be changed. Not having mappings is an error condition as far as mixins are concerned. I can make the error message more descriptive than the exception that gets thrown if that woul be better?

[2015-01-05 00:59] Mumfrey commented on #6
I was under the impression that we were working with JDK 6 which is what all of my testing has been performed under. If it's only javadoc then I can fix building in JDK 8 easily though.

[2015-01-05 01:00] progwml6 commented on #6
jdk 8 is rather picky w/ javadoc

[2015-01-05 01:02] Mumfrey commented on #6
I know, I kind of like the javadoc to be clean though and generally spend quite a bit of time adding javadoc comments to everything. Not sure what JDK8 would be choking on but I'll investigate.

[2015-01-05 01:10] Kobata commented on #6
It's a few things: For one, it doesn't like the &lt;/pre&gt;&lt;/blockquote&gt;&lt;/p&gt; because &lt;pre&gt; and &lt;blockquote&gt; imply &lt;/p&gt; on the opening tags.

There's also a spot or two where you have &lt;init&gt;, which makes it complain because that's not a tag, and using @-returns instead of @-return

[2015-01-05 01:12] Mumfrey commented on #6
I actually took the nesting of blockquotes/pre etc from the JDK javadoc, so go figure why that breaks! The ctor reference makes sense and I can replace the html entities.

[2015-01-05 01:36] #6 closed

[2015-01-05 02:01] Mumfrey commented on #5
Closing because this is the intended behaviour, the AP does output a compiler error message as well as the NPE stack trace.

[2015-01-05 02:01] #5 closed

[2015-01-05 16:44] Mumfrey commented on #5
I've compromised and have it only throw a hissy-fit if it actually hits an annotation which requires remapping. This should allow the error to be suppressed when working with purely non-obfuscated targets by setting ```remap=false``` on all mixin annotations.

[2015-01-05 17:19] Mumfrey opened #7 "Mixins cannot target a package-private class or protected inner class"
Paging @Zidane and @bloodmc

The title says it all. Because mixins require the ```@Mixin``` annotation to refer to the target class literal, they cannot reference protected inner classes or any package-private classes.

Looking for opinions on adding a second *targets* array to the ```@Mixin``` annotation which would allow additional targets to be specified as strings, this would allow even privat

[2015-01-06 02:37] luacs1998 opened #8 "Ability to selectively control which mixin classes are applied"
This is especially useful should the environment change in such a way that a mixin patch should become incompatible with the enviroment for one reason or another, or for whatever reason a mixin should only be applied under special circumstances.

I am looking into implementing Mixin for ForgeEssentials, and thus need this functionality for a few reasons:

- In order not to conflict with Sponge, I

[2015-01-07 01:18] simon816 opened #10 "Allow a mixin to have any super class in the target's hierarchy"
(Originally from https://github.com/SpongePowered/Mixin/pull/9)

There is currently no way for a mixin to have a super class that's not the direct super class of the target.
This is normally fine, but can become an issue when creating a mixin for targeting multiple classes.
Some of the target classes may have a different direct super class, but all have a class in common. However this common class

[2015-01-07 17:03] #10 closed

[2015-01-07 17:54] Mumfrey commented on #10
@simon816  This should now work as expected, please test it and let me know how you get on.

[2015-01-07 17:56] Mumfrey commented on #10
Bear in mind that multi-target mixins **must not** contain any `@Shadow`, `@Overwrite` or `@Inject` annotations.

[2015-01-07 21:36] simon816 commented on #10
Seems to work fine from some testing, however I have not thoroughly tested all cases but nothing has gone wrong so far.  I'll report back here if I find something failing.

[2015-01-08 22:23] Aaron1011 opened #11 "Allow injecting arbitrary ASM nodes"
Currently, Mixin injects the bytecode from a method with the `@Inject` annotation into the target method. While this is usually sufficient, there are some use cases where it isn't:

* Modifying arguments for method calls. In many places, Vanilla uses magic numbers, instead of using a constant with that value. In order to modify the value, the rest of the method (and all necessary `@Shadow`s) needs

[2015-01-09 00:34] Mumfrey commented on #11
Okay, let me start by saying this: *the aim of Mixins is to remove the need for ASM hackery*, that is to say, just like you write a method *once* and use it many times, the aim I've always had with my transformers is to do all the ASM hackery in one place and have other things leverage that hackery. This makes the whole thing more stable and predictable than a dozen different transformers messing

[2015-01-09 01:28] #11 closed

[2015-01-09 18:00] #4 closed

[2015-01-09 18:01] Mumfrey commented on #4
Thanks a tonne @AbrarSyed! Works like a charm!

[2015-01-09 21:06] Aaron1011 commented on #11
@Mumfrey: I'm interested in working on method proxying/argument maniuplation, unless you've already started.

[2015-01-09 21:52] Mumfrey commented on #11
You're a couple of hours too late, was thinking about this today at work and sat down to work on it this evening when I got home.

In a nutshell the most elegant way I could think for single-arg replacements is doing this, method proxy is easy but I like the idea of a single-arg replacement too so I've basically done it so it works like this:

* You write a method which accepts and returns type of

[2015-01-13 13:23] #8 closed

[2015-01-13 14:41] Zidane commented on #7
Honestly, this seems like the best way to approach this.

[2015-01-13 14:49] Mumfrey commented on #7
Since it's the one outstanding issue but nobody's commented, I was thinking of just either going ahead with this plan *or* just closing the issue until an actual use-case appeared and I got bugged into adding something like this anyway.

The two choices for implementation basically are:

* Add an extra array of strings to the `@Mixin` annotation
* Add an alternate version of `@Mixin` (eg. `@Privat

[2015-01-13 23:42] ryantheleach commented on #7
Would PrivateMixin error if a mixin could have been used instead?

[2015-01-14 02:58] Mumfrey commented on #7
That would make sense.

[2015-01-14 11:43] simon816 commented on #7
I think a `String[] targets()` would be fine here, unless private-class specific parameters are needed there's not much reason to use another annotation.

[2015-01-14 11:49] Mumfrey commented on #7
No particular reason, and programmatically it makes no odds either way, the complexity is pretty much exactly equal whether it's an extra property or an extra annotation.

Really it's just nicer that the `value` property is default if no other properties are specified and just leads to the slightly nicer

[code]

versus

[code]

So there's that. Basically since annotation properties when being par

[2015-01-15 18:55] bloodmc commented on #7
Lets go with option 2 for the sake of the users

[code]

[2015-01-15 21:47] Mumfrey commented on #7
Alrighty then!

[2015-01-18 00:06] #7 closed

[2015-02-04 18:44] bloodmc opened #13 "Mixin using anonymous class fails with Travis"
Here is what travis is seeing
http://pastie.org/pastes/9886632/text

The problematic mixin is MixinBootstrap
https://github.com/SpongePowered/Sponge/blob/master/src/main/java/org/spongepowered/mod/mixin/MixinBootstrap.java

I don't have this issue in dev nor when building locally.

@Mumfrey let me know if you need any other info. Thanks!

[2015-02-04 18:44] Mumfrey commented on #13
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  adam@eq2.serveftp.net
    Domain eq2.co.uk has exceeded the max emails per hour (60/60 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2015-02-04 19:19] Zidane commented on #13
@bloodmc

/home/travis/build/SpongePowered/Sponge/build/sources/java/org/spongepowered/mod/mixin/entity/vehicle/MixinEntityBoat.java:72: warning: Cannot find method mapping for @At(INVOKE.<target>) 'java.lang.Math.sqrt(D)D
    @Inject(method = "onUpdate()V", at = @At(value = "INVOKE", target = "java.lang.Math.sqrt(D)D", ordinal = 0))
    ^
/home/travis/build/SpongePowered/Sponge/build/sources/java

[2015-02-04 20:25] bloodmc commented on #13
@Zidane Yes I saw that, will fix soon.

So I just ran the build locally to see if it would make a difference and it worked. But with Travis, it fails...

[2015-02-04 22:00] caseif opened #14 "Annotation processor does not compile against JDK 1.8"
The annotation processor fails to compile against JDK 1.8 since [dcd44b9](https://github.com/SpongePowered/Mixin/commit/dcd44b9). FakeElement and FakeType throw compilation errors on the basis that TypeMirror (indirectly implemented by the two classes) now extends AnnotatedConstruct, the methods of which are not currently implemented in Mixin.

[2015-02-04 22:45] Mumfrey commented on #14
I know, it's not a high priority though, I'll get to make it work on 1.8 when I have time.

[2015-02-04 22:47] Mumfrey commented on #13
I am aware, it seems like an issue which only occurs with travis but I haven't had time to look into it because I've been handling a complicated server migration the last week. I'm back in the real world now so once I've cleared the accumulated backlog I'll have a look.

[2015-02-05 04:53] bloodmc commented on #13
After speaking with Lex, he recommended that we should support Class ID's that are generated at reobf time. Here is an example

[code]

This might help solve our issue when attempting to use strings for anonymous classes.

[2015-02-05 04:55] AbrarSyed commented on #13
I wouldnt bother with those too much. grum tweeted that they have stopped ripping out the inner class table.. so those class IDs shouldnt be needed anymore in the next MC release..

[2015-02-05 10:51] LexManos commented on #13
They will still be needed as it's not the inner class names that are the issue, it's the id shifting that happens across the recompile boundary.

[2015-02-05 11:04] Mumfrey commented on #13
@bloodmc I think there's a potentially better way to deal with this anyway, so I'll likely rip out the problem classes. Basically the mirror API doesn't really support anoymous inner classes so this was an attempt to fill the gap. I think I just need to try a different approach.

Using the class IDs doesn't really help because they're not easily available to me at compile time because I only get a

[2015-02-08 21:29] caseif commented on #14
@Mumfrey Is it plausible to implement the JDK 8 methods without @Override annotations so as not to upset older compilers? I understand it's bad form, but it's by far the simplest solution and doesn't seem to carry any adverse side effects.

[2015-02-09 11:27] Mumfrey commented on #14
Over my dead body.

Closing this because it's essentially a duplicate of #13 and will be fixed at the same time.

[2015-02-09 11:27] #14 closed

[2015-02-14 00:10] #13 closed

[2015-02-17 04:03] luacs1998 opened #15 "Mixins don't seem to work with FG and custom source sets?"
Log:
[code]

Is there anything else I need to do? I need the files in the custom source sets (utils in this case) to be reobfed as well.

[2015-02-17 04:40] luacs1998 commented on #15
Guys on IRC helped me out.

[2015-02-17 04:40] #15 closed

[2015-02-21 23:25] Adubbz opened #16 "Re-entrance triggered under latest Forge"
ASMTransformerWrapper (introduced in https://github.com/MinecraftForge/FML/commit/43ec26023a5cb4a6fcc90561c4adea93ace72265 which is present as of Forge build 1310) breaks re-entrance detection.

An example of the impact this with the latest Biome O' Plenty (which uses Mixins) can be found here:
https://dl.dropboxusercontent.com/u/56679758/Crashes/Mixins/fml-client-latest.log

[2015-02-22 06:01] luacs1998 opened #17 "Force injection of FML coremods/mods does not work on MC 1.7.10 and below"
MixinTweaker only supports the post-MC 1.8 FML CoreModManager (net.minecraftforge.fml namespace), whereas other parts of the mixin codebase support the cpw.mods.fml namespace used by FML before MC 1.8.

This "bug" has prevented me from being able to test FE, which employs mixins in a 1.7.10 environment, within a production workspace.

Will this be fixed?

[2015-02-22 13:13] #17 closed

[2015-02-22 13:14] Mumfrey commented on #17
That should fix it, let me know if it doesn't.

[2015-02-22 14:02] #16 closed

[2015-02-23 12:50] luacs1998 commented on #17
It doesn't. Here's a build of FE including mixins and this bug: http://1drv.ms/1EHWnl6

[2015-02-23 13:57] Mumfrey commented on #17
What I don't quite understand is how this is working for @Zidane (who is also using it in 1.7.10) and not for you. The logic for the tweaker goes like this:

* Mixins **must** be loaded by a tweaker in production to end up in the correct classloader
* If FML parses a file and it has a tweaker, it does **no** further processing of that file and doesn't look for coremods or anything, this means the

[2015-02-23 14:01] luacs1998 commented on #17
Alright, thanks for the help anyway.

[2015-02-23 14:39] Zidane commented on #17
@luacs1998

https://github.com/AlmuraDev/AlmuraSDK

Take a look at how I use Mixins here. I can absolutely confirm that this does work for 1.7.10.

[2015-02-23 14:41] Mumfrey commented on #17
Don't get me wrong, if you come back and say "you need to make *x, y, z* change and then this'll work in 1.7.10" then I'll add that no problem, but the focus of development has to be 1.8 and I can't really devote the time for troubleshooting on an outdated platform.

Yes absolutely, the tweaker in the package is provided for convenience but ultimately it doesn't matter which tweaker actually gets

[2015-02-23 14:59] luacs1998 commented on #17
Hmm, I'm doing the exact same things as Zidane (from what I see), but why is mixin complaining that it isn't in the right classloader? Must I reflectively call MixinBootstrap.init()?

Just thinking out loud here.

[2015-02-23 15:12] Mumfrey commented on #17
Because you can't initialise the mixin environment from a coremod in production, as I said, the mixin environment *must* be initialised from a tweaker in a production environment. In dev, it's safe to dispense with the tweaker and use the coremod, that's why both bits of code exist: one handles dev, the other handles production.

Once it's successfully initalised in the right classloader, it's saf

[2015-02-27 18:56] Aaron1011 opened #18 "Translate casts to Mixin class into casts to target classes"
I propose that the Mixin project convert casts to a mixin class into casts to the class targeted by said mixin. This would allow mixins to be written much more cleanly, without needing to add in an interface for every mixin whose added methods need to be added.

Consider the following scenario (many such examples exist in the Sponge repository)

* A mixin called `MixinEntity` adds a method - `isTe

[2015-02-27 19:21] gratimax commented on #18
I brought up the point in IRC that currently, one of the basic guarantees of Mixin is that it _only modifies the target class_ (@Aaron1011 later corrected me in saying that it also modifies the mixin class). The point of this is that Mixin does no work beyond classes directly affected by it (the target and mixin classes). This change, while rather simple, drops that guarantee and lets Mixin work o

[2015-02-27 20:39] Aaron1011 opened #19 "Allow Mixin to be run outside of a launchwrapper context"
Currently, applying mixins requires that Mixin be started from a tweak class, invoked by launchwrapper. This means that a full server instance must be started just to see if a mixin will apply cleanly.

Allowing Mixin to be started without launchwrapper (with Forge on the classpath) would allow the actual application of mixins, not just their compilation, to be tested on a CI server, without the n

[2015-02-28 00:27] Mumfrey commented on #18
They [already are](https://github.com/SpongePowered/Mixin/blob/feature/supermixin/src/main/java/org/spongepowered/asm/mixin/transformer/MixinTargetContext.java#L261-L263), see current feature branch. As for the other thing: **no**, a mixin should never, ever, be referenced outside itself so this isn't happening.

[2015-02-28 00:27] #18 closed

[2015-02-28 02:49] luacs1998 commented on #19
Wouldn't it fall on you to test your mixins locally before submitting to your CI, or is this for unit testing?

[2015-03-01 06:58] me4502 opened #20 "Globally assigned variables are sometimes null."
Variables that are assigned globally in the class, specifically

private List<PatternLayer> patterns = Lists.newArrayList();

in MixinTileEntityBanner, do not actually set the variable.

As can be seen here, https://github.com/SpongePowered/Sponge/commit/f9851975f7d5280348e3d290377371cb9c54a82f

[2015-03-01 10:39] simon816 commented on #20
Thing is, it does work. Looking at the decompiled output of the mixins (in jd-gui) you can see it sets the field just fine.
![Screenshot](http://puu.sh/ghECk/f003899aa3.png)
(Mind you, I am on the `feature/supermixin` branch but pretty sure it would work on master too)

[2015-03-01 10:49] me4502 commented on #20
Yeah, it seems to work on supermixin. I'll just leave this open until then I guess.

[2015-03-01 10:54] Minecrell commented on #20
The `master` branch doesn't seem to add it:
[code]

[2015-03-01 11:10] simon816 commented on #20
Actually I was on the master branch, forgot I checked-out. I've just tested with supermixins too and it also works.

To be specific, it works using the Mixin commits 8748534d18c8f8db7209e3393def72c2b4bdfc40 and 25570a0ada10449f31867326551d3662eb9e236d. With SpongePowered/Sponge@013191ff296f831049c6cacfc99e4a4abb1fc33e

[2015-03-01 12:56] ryantheleach commented on #20
I thought mix-ins mixed at runtime, how are you getting the files into jd and fernflower?

[2015-03-01 12:59] simon816 commented on #20
@ryantheleach add `-Dmixin.debug.export=true` to the VM launch arguments. It dumps the mixed-in classes into `{run_dir}/.mixin.out/`
See [MixinTransformer:161](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/transformer/MixinTransformer.java#L161)

[2015-03-01 13:33] Minecrell opened #21 "Methods in mixins not extending any other mixin are not transformed"
I'm trying to cast an instance of the target class to the Mixin itself so I can access a private field of it. Here is a small example:
[code]
Normally this should work in the `feature/supermixin` branch but it doesn't because only methods of mixins extending another mixin get transformed. When I [remove the check](https://github.com/SpongePowered/Mixin/blob/feature/supermixin/src/main/java/org/spo

[2015-03-01 13:41] Aaron1011 commented on #21
To fix this problem, I believe that the check in [`transformDescriptor`](https://github.com/SpongePowered/Mixin/compare/feature/supermixin#diff-c5603c752b2213f6705f33507868f2b8R391) needs to be removed.

[2015-03-01 14:28] Mumfrey commented on #20
This was already fixed a while ago on the current feature branch, I will close this issue when I merge it.

[2015-03-01 14:32] Mumfrey commented on #21
Ok, the check is just there for efficiency rather than because running the check will break anything, because looking up things in the hierarchy is expensive and thus to be avoided wherever possible. I think I'll change the logic for that flag to find if there are any mixins on superclasses of the target and that should fix the problem. I'm just going out but I'll fix it when I get back later.

[2015-03-01 19:05] modwizcode opened #22 "Allow @Overwrite to work like @Inject"
There are a few cases where we want to replace some existing bytecode, but not all of it. By adding an optional @Inject type parameter to @Overwrite along with a specifier for how many instructions we would want to overwrite, this situation can be handled without duplication of entire methods, or confusing blocks of code that null out other blocks of code to get the features of @Inject.

I'm plann

[2015-03-01 19:15] Mumfrey commented on #22
This on its own makes this utterly no-go. There are plans for block replacement injections which would address this use case, however the implementation of these is quite complicated and needs to be tackled alone.

If you want to do ASM-y things, write a transformer and do them with ASM, but the aim of mixins is and always will be to completely decouple transformations from having to understand by

[2015-03-01 19:15] #22 closed

[2015-03-01 19:39] modwizcode commented on #22
If you wish to think of this as a personal project that's fine. But it's still part of the larger SpongeProject, which I'm perfectly capable of contributing to, don't attack my ability as a developer. Closing something without any active discourse on IRC or through the issue beside a brief explanation is not fair to progress. My plan to work on this is because having one person (you) do all the wo

[2015-03-01 19:56] Mumfrey commented on #22
It's been extensively discussed, we were even discussing it last night. Happy to discuss more but you're not on IRC right now. I didn't close *this* issue without discussion because the wider issue is invalid, but because *this specific issue* you've proposed is invalid and doesn't really need any further discussion.

To clarify: `@Inject` does not *replace* **any** code, that's why it's "safe". I

[2015-03-01 20:26] Mumfrey commented on #21
Should be fixed now @Minecrell, let me know.

[2015-03-01 21:32] #21 closed

[2015-03-02 15:56] #20 closed

[2015-03-02 18:59] clienthax opened #23 "Running Mixins on mod classes"
I currently have a situation where i would like to run a mixin on a mod, but the current setup seems to run mixins as they are loaded, so this causes a class not found because it runs before the class is actually loaded,

is there a way to run a mixin after a mod is loaded?

[2015-03-02 19:09] Mumfrey commented on #23
Mixins are never "run". A mixin is **applied** to its target classes on **class load**, there is *no* way around this because it's an intrinsic feature of transformers - you can only transform a class when it is loaded.

I have no idea what you're trying to describe but it makes no sense whatsoever because there is absolutely no physical, possible, conceivable way that a mixin could "run" (whateve

[2015-03-02 19:09] #23 closed

[2015-03-16 18:19] sfPlayer1 opened #24 "Repeated IClassTransformer invocations"
As described in https://github.com/ForgeEssentials/ForgeEssentialsMain/issues/1351 or https://github.com/Chicken-Bones/ForgeMultipart/issues/313 (similar issue), the current(?) implementation incorrectly runs transformers multiple times, potentially causing unexpected internal state there.

[2015-03-16 23:37] Mumfrey commented on #24
I think you misunderstand the transformer contract. Transformers are not supposed to be stateful.

[2015-03-17 07:00] sfPlayer1 commented on #24
That's wrong, there's no contract whatsoever. Stateless is an extra requirement over "nothing", just like thread safety or reentrant compatibility.

You don't match vanilla behavior.

[2015-03-17 08:33] sfPlayer1 commented on #24
On a somewhat unrelated note, your own transformer is not reentrant, while it has to be. Your transformer code only doesn't end up in infinite recursion because it's stateful and excludes itself, but that's only sufficient in isolation, i.e. as long as nobody else does a similar thing.

If it was reentrant, it can't universally reliably react to external changes to the code being processed, which

[2015-03-20 23:22] jamierocks commented on #19
Not only will it allow it to be used on ci's but be able to be used in projects that aren't mc related.

[2015-03-22 02:01] luacs1998 opened #26 "Extremely odd LinkageErrors"
As described in ForgeEssentials/ForgeEssentialsMain#1333, some of my users have been encountering funny LinkageErrors when using Mixin-enabled versions of FE.

Sample log here, more in the linked issue: http://pastebin.com/WBUM0iLa

Is there any workaround I can use, or does any fixing have to be done on your part?

[2015-03-23 10:19] Mumfrey commented on #26
Looking at the issue comment, is this now resolved?

[2015-03-23 14:48] luacs1998 commented on #26
Nope, not yet resolved.

What would the root cause be?

[2015-03-23 15:13] Mumfrey commented on #24
I take your point, I was away at the time of your post so just had to boil the reply down to the most basic form I could. You're absolutely correct, there is **no** additional contract specified for transformers, which is the same reason why consumers can be allowed to not care about the internal state of transformer instances, it's not specified in the contract that they should, and thus from the

[2015-03-23 16:09] Mumfrey commented on #26
Nope, more likely something is using ASM before I get a chance to exclude the package in [MixinBootstrap](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/launch/MixinBootstrap.java) which means ASM gets half-loaded in the ACL and half in the LCL. If I shade ASM instead in a different package then the cast exception wouldn't happen.

Basically the expectation

[2015-03-23 21:54] Mumfrey commented on #24
Just to add, I think I have worked out where the additional redundant (non-cached) class load/transform is happening and I can hopefully fix this now, so the number of transformer passes will return to 2 as intended.

[2015-03-24 12:06] Mumfrey commented on #19
No it won't, at least not very effectively, because you still need to instance the upstream transformers in order for application of the mixins to work in most cases. Applying mixins to un-transformed bytecode has applications when you're **not** using it for a downstream project (eg. say Lex wanted to use mixins to implement parts of Forge itself, he could write mixins which worked on the *un-tra

[2015-03-25 11:58] luacs1998 commented on #26
So would a workaround to be set TweakOrder at a high enough level to ensure the Mixin tweaker gets loaded first?

[2015-03-25 12:04] Mumfrey commented on #26
TweakOrder is actually lowest-first. The issue is that the tweak has to be loaded after the FML tweaker in order for the coremod injection to work. You could try playing with the TweakOrder and see what results you get, but I believe the lowest value you'll get away with will be 1001 but don't quote me on that.

[2015-03-26 22:35] Minecrell opened #29 "Mixin uses Guava 18.0 while Minecraft (1.8.X) provides only Guava 17.0"
Mixin is currently [referencing Guava 18.0 as dependency](https://github.com/SpongePowered/Mixin/blob/master/build.gradle#L80) while Minecraft 1.8.X only provides Guava 17.0. Therefore, using features of Guava 17.0 will fail on most implementations (and especially in Forge mods as Forge is using the Guava version provided by Vanilla).

Due to transitive dependencies, Guava gets also silently upgra

[2015-03-26 22:41] Minecrell opened #30 "Access reference to outer class in mixins for inner classes"
Right now accessing references to the outer class in mixins for inner classes is really hard because they have different names in decompiled and binary deobfuscated environment at runtime. In decompiled environment these references are called like `this$0` by the Java decompiler, at runtime the deobfuscator will name them normally with the `field_xxxxx` name.

This makes it nearly impossible to us

[2015-03-27 18:23] zml2008 opened #31 "Mixin transformer needs to account for synthetic inner classes"
**Stacktrace**: https://gist.github.com/zml2008/0d935592484363d6c601

**Relevant code**: https://github.com/SpongePowered/Sponge/blob/feature/permissions/src/main/java/org/spongepowered/mod/mixin/core/command/MixinSubject.java

I'm thinking this is related to the switch statement -- those sometimes create inner classes for some reason, and is part of the hasPermission method, which is what was bei

[2015-03-28 16:02] luacs1998 commented on #26
With the assistance of some users, I have tracked the problem down to the Mariculture mod. I will work with the developer on a solution, and will get back to you if there's anything more needed on your part.

[2015-03-28 16:02] #26 closed

[2015-03-28 18:00] gFreezer commented on #26
The same thing happens when you try to load Sponge together with another coremod (tried with CodeChickenCore): http://pastebin.com/xBpnPqPX

Seems like this should definitely be fixed on Mixin's side

[2015-03-29 02:00] luacs1998 commented on #26
I tried to run FTB Infinity (which obviously includes CCC), and only encountered issues with mariculture.

[2015-03-29 21:38] Mumfrey commented on #31
Ah yes, that old chestnut. I'll take a look at this now I'm back and see about handling the inner class shenanigans. Since it's synthetic I should be able to handle it gracefully.

[2015-03-29 22:02] Mumfrey commented on #29
I think I only ended up upgrading that reference because [a transitive dependency had it pegged at 18.0](https://github.com/MinecraftForge/Srg2Source/blob/master/build.gradle) and the 17.0 was being evicted anyway, so I think if I remove it then the transitive dependency will just evict the older version regardless.

[2015-03-29 22:16] progwml6 commented on #29
once we figure out which dep we can exclude it from that dependency
On Mar 29, 2015, at 6:02 PM, Mumfrey <notifications@github.com> wrote:

[2015-03-29 22:17] Mumfrey commented on #29
I linked to it, it's srg2source. I can happily downgrade my reference with no issues.

[2015-03-30 10:58] #29 closed

[2015-03-30 10:59] Mumfrey commented on #29
[Found a way to prevent srg2source evicting the older version](http://stackoverflow.com/questions/27004899/how-do-i-resolve-dependency-conflicts-with-gradle) so I've reverted to Guava 17.0, hopefully should work for Sponge as well but if it doesn't then we can just add the same declaration to the Sponge build script.

[2015-03-30 11:01] Mumfrey commented on #19
Closing if there are no further comments, similar functionality to the proposed is already roadmapped and this issue doesn't really contribute anything.

[2015-03-30 11:01] #19 closed

[2015-03-30 13:41] Mumfrey commented on #31
@zml2008 hopefully that should fix the issue for (static) synthetic inner classes used for switch table implementation but still allow non-static and non-synthetic inner classes to cause a crash. I've tested it locally but would be great if you could verify and report back.

[2015-03-30 14:25] Minecrell opened #33 "@Inject on invokation of methods defined in super classes don't get reobfuscated"
When you try to add an `@Inject` at `INVOKE` of methods called in the target class (but defined in a super class) they don't get reobfuscated by the annotation processor. For example, these [3 injections in a mixin for `DedicatedServer` in Granite](https://github.com/SpongePowered/Granite/blob/master/src/main/java/org/spongepowered/granite/mixin/server/MixinDedicatedServer.java#L53-L69) are failin

[2015-03-30 14:51] Mumfrey commented on #33
Whilst this is kind of weird (usually in bytecode method invocations are qualified by their owner) it does seem like in this case there's a mismatch between the invoked class and the owner class so there are two options you've identified, use the owner or use the invoked class.

In this case, I think it's easier to preserve the semantic that a method invocation is qualified with the name of the cl

[2015-03-30 15:34] Mumfrey commented on #30
As far as I can tell, this is happening because FG re-compiles the sources which it decompiles and it is these recompiled classes which are used in dev.

In a nutshell:

* The original mojang source has a (non-static) anonymous inner class, when this is compiled the synthetic field `this$0` is added by the compiler, so far, so good
* Mojang obfuscates the class and the synthetic field is renamed t

[2015-03-30 17:08] zml2008 commented on #31
yup, seems to work. thanks!

[2015-03-30 17:08] #31 closed

[2015-03-30 22:21] #33 closed

[2015-04-02 03:35] Zidane opened #34 "Mixin errors in Sponge"
http://pastebin.com/403DgfnP

Seems odd as that would mean that somehow the inner/outer class is null or the name is?

[2015-04-02 04:09] Zidane commented on #34
This ONLY happens on JDK8.

[2015-04-02 10:23] Mumfrey commented on #34
Indeed, kind of strange but not entirely unexpected. Will investigate.

[2015-04-04 17:15] #34 closed

[2015-04-04 23:06] Mumfrey commented on #30
Should be resolved by 872d922a573bb14824ec361d459e8efbb3204191

[2015-04-04 23:06] #30 closed

[2015-04-07 21:12] modwizcode opened #36 "Constructors"
This isn't an issue so much as a question.

For Map implementation I can mix my interface into the vanilla MapColor, however I need to create instances of my interface to complete colors that aren't in the original enum (shades). I can work around this, but is it possible to just do new MixinMapColor(MapColor nmsMapColor, int shade)?
Or am I stuck with a static method that creates these?

Sorry if

[2015-04-07 21:20] Mumfrey commented on #36
Under no circumstances should you add values to an existing enum, for the same reason as we don't use enums in the API. See [this article](http://www.javaspecialists.eu/archive/Issue161.html) which talks about doing it with reflection but ultimately the reasons are the same.

You cannot instance a mixin because a mixin isn't a class, it only makes sense in terms of its target, and in this particul

[2015-04-07 21:26] modwizcode commented on #36
Ah, why would I add the surrogate class instead of just using the surrogate class and no mixin?

[2015-04-07 21:39] Mumfrey commented on #36
Because a surrogate allows you to reuse the code that you're mixing in to `MapColour`:

![](http://eq2.co.uk/minecraft/mixin/surrogate.jpg)

It's just an example of what's possible. I have no idea what your goal is so these are just random suggestions as to what you can try.

[2015-04-08 16:53] Mumfrey commented on #36
@modwizcode Do you need further assistance with this or can I close this issue?

[2015-04-08 19:11] modwizcode commented on #36
I think you covered exactly what I needed to know. Thanks, as always, for
the thorough explanation.

[2015-04-08 19:12] Mumfrey commented on #36
Ok cool, re-open if any further related queries.

[2015-04-08 19:12] #36 closed

[2015-04-09 16:39] bloodmc opened #37 "Disable JDK 8 doclint"
https://github.com/SpongePowered/Sponge/blob/master/build.gradle#L253

Can this be added to Mixin build.gradle? Currently, the latest Mixin master is failing in travis due to javadoc errors. Adding the fix above will ignore javadoc errors.

[2015-04-09 17:15] Mumfrey commented on #37
Seems like a good idea. I honestly can't wrap my head around how unspeakably dumb the javadoc parser in JDK8 is :/

[2015-04-09 17:18] #37 closed

[2015-04-12 02:42] luacs1998 opened #38 "Javadocs do not seem to build properly"
When building javadocs for mixin, the build fails with the following errors:

`<redacted>\Mixin\src\main\java\org\spongepowered\asm\mixin\transformer\meta\MixinRenamed.java:37: error: reference not found`
 `* {@link org.spongepowered.asm.mixin.transformer.meta.MixinInfo} and`
`<redacted>\Mixin\src\main\java\org\spongepowered\asm\mixin\transformer\meta\MixinRenamed.java:38: error: reference not fou

[2015-04-12 02:43] Mumfrey commented on #38
That's not on the latest master it was fixed in commit [88932f117e05546659d1360f2ce83f489f27c688](https://github.com/SpongePowered/Mixin/commit/88932f117e05546659d1360f2ce83f489f27c688) a few days ago.

[2015-04-12 02:43] #38 closed

[2015-04-12 02:46] luacs1998 commented on #38
Ah, sorry.

[2015-04-12 19:32] Mumfrey commented on #24
@sfPlayer1 do you have any further feedback on this. I'd like to take action on it if possible, or if no further action is required then I will close the issue for now. I'd like to try and resolve this one way or another.

[2015-04-16 12:13] #24 closed

[2015-04-16 12:54] luacs1998 opened #39 "A question relating to compatibility."
Why does Mixin even require the use of the system class loader anyway?

I've been having to troubleshoot various compatibility issues between FE and various other coremods, and seem to keep running into the problem of ASM being split-loaded by the LaunchClassLoader before I get a chance to call MixinBootstrap.

[2015-04-16 13:06] Mumfrey commented on #39
To be honest, discussing this the other day in IRC I think we came to the conclusion that submitting a PR to FML to exclude ASM at startup is going to be the most effective solution. The only other option is to shade ASM with a package rename

[2015-04-16 13:12] luacs1998 commented on #39
Shall I do it, or do you want to? It seems to be a one-line change for both the 1.7.10 and 1.8 branches...

Also, I fail to understand why the Mixin subsystem is so particular about having ASM be loaded by the system class loader.

[2015-04-16 13:19] Mumfrey commented on #39
It's because mixin itself has to load in the system classloader, so if ASM is not then it causes the split where some classes get loaded in the wrong classloader, since it doesn't matter where ASM gets loaded it's just easier and cleaner to push ASM up into the system classloader as well.

[2015-04-16 13:28] luacs1998 commented on #39
Ah, I see. Thanks for the explanation.

[2015-04-22 14:35] Minecrell opened #40 "Validate shadow methods/fields and injections at compile time"
I'm not completely sure if this exists already, but it would be great if the annotation processor could validate the shadow fields and methods as well as injections at compile time and warn if they actually don't exist. While you'll notice it at runtime, it would be better if that could be reported already at compile time instead of only noticing once the mixin target class gets loaded.

For examp

[2015-04-22 16:49] Mumfrey commented on #40
Warning is definitely possible. It could never fail a build because there are perfectly valid circumstances in which a shadow field or method may not exist at compile time, or may not be visible via Mirror.

It's worth bearing in mind that the information the AP has to work with is kind of limited. Mirror is pretty shite and also can't account for things which are added at runtime (such as fields

[2015-04-22 19:26] Minecrell commented on #40
@Mumfrey Speaking of running an audit, is there a way to force-load all the classes (to check for apply errors) but without generating all the implementation reports? This is spamming the console quite a lot, but it is not running the audit if CHECK_IMPLEMENTS is not set.

[2015-04-22 19:38] Mumfrey commented on #40
I could probably remove the `CHECK_IMPLEMENTS` requirement on the audit pass.

[2015-04-23 00:07] #40 closed

[2015-04-23 00:13] #39 closed

[2015-04-25 13:16] luacs1998 commented on #39
Is there any progress on this?

[2015-04-29 05:01] Zidane opened #42 "Local Variable Table Generator does not successfully generate LVT"
http://pastebin.com/EQTutDeN

@Aaron1011 and myself have been going back and forth in TS regarding this issue. He created a branch called "maybe fix" but the nature of Mixin's setup in SpongeCommon makes this surprisingly difficult as gradle refuses to use our changes (another issue altogether).

[2015-04-29 06:08] jk-5 opened #43 "Asserts in mixins"
When using asserts in mixin classes, the mixin applier fails with the following message:

    Mixin classes cannot contain visible static methods or fields, found $assertionsDisabled

When the java compiler finds an assert, it adds a static variable to the class indicating whether or not the -ea argument is added. As this variable is not visible in source, it is safe to whitelist it.

[2015-04-29 10:37] Mumfrey commented on #42
This is the nature of local capture, if the LVT can't be inflected then the injector will not be able to affect the injection, although in the specific case I'm not sure where it would be failing since `RETURN` is usually the most reliable place to inject.

I will investigate and see if the LVT generation can be improved, but be aware that it is mind-blowingly complicated and finding corner cases

[2015-04-29 10:40] Mumfrey commented on #43
The processor is actually supposed to exclude synthetic fields from that check and I've noticed that it [does here](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/transformer/MixinApplicator.java#L291) but [doesn't here](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/transformer/MixinPreProcessor.java#L251]

[2015-04-29 10:56] Mumfrey commented on #43
I was able to successfully replicate this behaviour and the synthetic exclusion in the pre-processor does indeed rectify the issue.

[2015-04-29 10:59] #43 closed

[2015-04-29 12:06] Mumfrey commented on #42
Ah, I see what's going on here. I just added some debugging of my own and discovered where the LVT generator is failing. In dev, the expected output as the generator walks through the method is:

    METHOD             OPCODE INSNTYPE   FRAME
    spawnEntityInWorld #2     VAR        [ World Entity - - - - ]
    spawnEntityInWorld #7     VAR        [ World Entity I - - - ]
    spawnEntityInWorld #1

[2015-04-29 14:40] jk-5 commented on #43
Thanks for the quick fix. It works properly now.

[2015-04-29 14:58] Aaron1011 commented on #42
Thing's I've discovered so far (dumping them before I forget):

* In the spawnEntity local variable capture', the boolean field is getting unset on line 165 of Locals (not sure why yet)
* There appears to be a stack map frame that's overwritting local var 4
* Local var 5 is having its descriptor set to null
* Local var 5 is introduced in an if block (it's scope is only valid there). I think it's t

[2015-04-29 14:58] Mumfrey commented on #42
So, having [sprinkled a bunch of debug output](https://github.com/SpongePowered/Mixin/commit/510f7ae71f274c906ef6f3fb7aef8d042a317c63) throughout the LVT generation algorithm I've been able to improve it somewhat. There's something weird with truncated frames which I'm trying to work out, but the LVT generation is slightly better. The main issue I've got is that ASM seems to be really inconsistent

[2015-04-29 15:01] Mumfrey commented on #42
@Aaron1011 yes that's consistent with what I'm seeing. Like I say I think the issues are actually the inconsistent way in which ASM expands the frames, the current code I just committed to the branch generates this for that method:

    func_72838_d                   #2    VAR 1                [ World Entity - - - - ]
    func_72838_d                   #7    VAR 2                [ World Entity I -

[2015-04-29 15:15] Mumfrey commented on #42
Just to explain what I mean, the issue really revolves around [this line](https://github.com/SpongePowered/Mixin/blob/510f7ae71f274c906ef6f3fb7aef8d042a317c63/src/main/java/org/spongepowered/asm/util/Locals.java#L179) where you would assume that for a frame with a size smaller than the current locals that you can either say:

* locals *after* the end of the frame are set back to null **or**
* loca

[2015-04-29 18:27] jk-5 commented on #43
Not really fixed yet. For some reason, the mixin system doesn't throw any error, but loading the class fails with
`java.lang.NoClassDefFoundError: nl/jk_5/pumpkin/server/mixin/core/server/management/MixinServerConfigurationManager`, while loading `ServerConfigurationManager` (the class containing the asserts). It looks like the reference to the static field is not renamed from the mixin class to t

[2015-04-29 19:35] Mumfrey commented on #43
Ok I'll check it out when I get home later. I suspect I know what the issue is and it shouldn't be too tricky to fix.

[2015-04-30 11:21] Mumfrey commented on #43
Sorry for the delay, I completely forgot about this yesterday. Should be properly resolved now.

[2015-05-04 14:28] luacs1998 opened #44 "FMLCorePluginContainsFMLMod not supported by MixinTweaker"
This causes issues where if the MixinTweaker, a coremod, and a regular mod are in the same jar file, only the MixinTweaker and the coremod are loaded, but the regular mod is ignored.

As [I mentioned here](https://github.com/SpongePowered/Mixin/pull/41#issuecomment-96361978), this is due to the MixinTweaker removing the container file from the "loaded coremods" list, which forces FML to look throu

[2015-05-04 14:49] Mumfrey commented on #44
I'm still getting to grips with FML so apologies for the oversight and thanks for the example. I will incorporate the logic into the mixin tweaker.

[2015-05-04 14:51] luacs1998 commented on #44
FML itself already has the FMLCorePluginContainsFMLMod marker so you can just check for that. Let me know if you need any other assistance.

[2015-05-04 14:52] Mumfrey commented on #44
Ok thanks will do. I'll poke you on IRC if I need any help.

[2015-05-04 14:52] luacs1998 commented on #44
Sure thing, you know where to find me, or just send me a PM and I'll respond when I can.

[2015-05-06 12:21] #44 closed

[2015-05-06 12:22] Mumfrey commented on #44
Hey luacs could you let me know if this solves the issue. I don't actually have an actual mod to test with so I can only assume that since this is based on the code in your tweaker that it works as expected.

[2015-05-06 12:30] Mumfrey commented on #44
I have rebased [feature/shade-asm](https://github.com/SpongePowered/Mixin/tree/feature/shade-asm) on this commit now, so that version 0.4 on the branch also contains these changes.

[2015-05-06 15:05] luacs1998 commented on #44
Okay. I need to update mixin on my end, and pair this with some classloader changes, so I can only get you a reply Friday at the earliest.

[2015-05-06 15:15] Mumfrey commented on #44
Ok no worries, if there are any changes I'll update them on maven.

[2015-05-07 15:21] Mumfrey commented on #42
Okay, so after a **lot** of research my findings so far are as follows.

The issue seems to be related to ASM's expansion of `F_FULL` frames in the production code. By creating a complex chain of method visitors I was able to determine that the locals sizes in the production code versus the decompiled/recompiled code differ in certain places that match up with the symptoms we've been observing. I

[2015-05-07 15:26] Mumfrey commented on #42
Pinging @Zidane and @Aaron1011

[2015-05-07 19:34] jk-5 opened #45 "Invalid access flags error when mixing in on a class with inner class"
I'm writing a mixin for BiomeGenBase, similar as in sponge common. Applying of this mixin fails with:

[code]

Note that the stacktrace mentions the CheckClassAdapter's visitInnerClass. It fails with an invalid access flags error (16425). After some calculation, it turns out that the inner class has ACC_SUPER (32) where that is not allowed.

It fails on visiting inner class TempCategory in BiomeGe

[2015-05-07 19:41] jk-5 commented on #45
Same error when mixing in to ServerStatusResponse$MinecraftProtocolVersionIdentifier, which also has an inner class. This inner class is public (1) and static (8), that adds op to 9 as modifier. The error tells that it's 41. 41 - 9 = 32, which also is ACC_SUPER

[2015-05-07 20:04] Mumfrey commented on #45
Interesting, it's actually not mixin which is setting the ACC_SUPER flag, at least I don't think so, and I can't even think of a good reason that it would be disallowed on inner classes in the first place, although apparently this is the case. Are there any other transformers in play which might be setting the flag that you know of? Since we haven't run across this issue yet in Sponge.

It's no pr

[2015-05-07 20:10] Mumfrey commented on #45
Just checked out the bytecode in vanilla and in forge and neither have the invalid flag on their inner class declaration:

**Forge**
    cw.visitInnerClass("net/minecraft/world/biome/BiomeGenBase$TempCategory", "net/minecraft/world/biome/BiomeGenBase", "TempCategory", ACC_PUBLIC + ACC_FINAL + ACC_STATIC + ACC_ENUM);
    cw.visitInnerClass("net/minecraft/world/biome/BiomeGenBase$SwitchEnumCreatureT

[2015-05-07 20:11] jk-5 commented on #45
I did not add any other transformers in the last few days. Only change is that i updated to 0.3.3 yesterday, and now it is not working. Currently i am trying some older versions to see if and when something in mixin was changed to cause this, or if i am doing something wrong.

For the ACC_SUPER flag not being allowed on inner classes, see asm's CheckClassAdapter.visitInnerClass. That method gives

[2015-05-07 20:14] Mumfrey commented on #45
Yeah I understand why it's failing, but what I'm not sure of what's adding that flag, as I mentioned mixin doesn't actually touch any of those flags so it's more likely that something is adding them and it's the `CheckClassAdapter` being run in mixin which is showing up the error. Certainly nothing has changed recently which would alter this behaviour.

As I mentioned above, would it help if I alt

[2015-05-07 20:16] jk-5 commented on #45
That would indeed be nice for some more debugging on my part.

[2015-05-07 20:17] Mumfrey commented on #45
Ok, I'll push a change shortly.

[2015-05-07 21:38] Mumfrey commented on #45
I'm on IRC by the way if you want to discuss this any further without having to go back and forth here.

[2015-05-07 23:25] Zidane commented on #42
@Mumfrey

Great results. I've no issue with moving forward with this.

[2015-05-08 01:09] #42 closed

[2015-05-08 08:18] jk-5 commented on #45
This has been caused by me being lazy and using `setupDevWorkspace` instead of `setupDecompWorkspace`. Apparently ForgeGradle's deobfuscator injects those ACC_SUPER flags. When running decompiled setup, it recompiles the decompiled code, so those invalid flags are not in.

I will talk to abrar about these invalid flags. Thanks for your help on this issue.

[2015-05-08 08:18] #45 closed

[2015-05-08 09:25] luacs1998 commented on #44
On further investigation, I can't get Mixin to run beside only a normal FMLMod without having the ForceLoadAsMod and FMLPluginContains stuff run before the initialization of the FML coremod. I've made a local patch on my side and it seems to work.

Also, how do I get feature/shade-asm to build? It didn't build properly until I added a few lines to build.gradle.

[2015-05-08 10:16] Mumfrey commented on #45
No problem, if it's still an issue I can have the Mixin transformer strip those flags if necessary since it's likely only the `CheckClassAdapter` which will give a monkeys'. Re-open the issue if need be.

[2015-05-08 10:20] Mumfrey commented on #44
Ah ok, so you're saying that if you move the (current) line 134 to line 160 then it works as expected?

`feature/shade-asm` should build without problems, although as I mentioned you should use the artefact from my maven repo instead. Make sure your branch is up to date if trying to build it.

[2015-05-08 13:18] luacs1998 commented on #44
Hang on, let me commit what I have so you can take a look. I haven't actually tested it wth Sponge or anything else yet.

[2015-05-08 14:16] Mumfrey commented on #44
Oh I see, well I can change it to that way around and check it still works with sponge and if so I'll apply the change.

[2015-05-08 14:37] Mumfrey commented on #44
Yep, tested and works fine so I've pushed the changes. Just waiting on your feedback on the other branch before I merge it.

[2015-05-17 04:02] Zone22 commented on #26
I also have experience this problem with sponge and CodeChickenCore. It's not fixed as of sponge 445 and forge 1371.

[2015-05-19 19:45] ReneHollander opened #46 "Using Mixin without Minecraft"
Hello!

Is there a way to use Mixin without Minecraft, Forge, Sponge, etc? I want to use it in some other projects and initially thought it would be able to be used in a standalone project as the repostitory description suggested: "Mixin is a trait/mixin framework for Java using ASM". I then read further and found out it won
't work for my application in for example a Bukkit Plugin (I am still usi

[2015-05-19 20:01] Mumfrey commented on #46
You can use Mixin in any application where you control the class loading, for example your own projects or by "wrapping" an existing application. This is possible because Mixin uses [LaunchWrapper](https://github.com/Mojang/LegacyLauncher/) and other than the "default" support for Minecraft, LaunchWrapper is basically an environment-agnostic extensible ClassLoader system.

So yes, other than Launc

[2015-05-19 20:01] #46 closed

[2015-05-23 05:33] modwizcode opened #47 "Mixin application failure"
Continuing the same code from https://github.com/SpongePowered/SpongeVanilla/issues/167, I'm now positive of a correct signature and inject annotation and this source file breaks the server load with the provided error log only when capture locals using PRINT is enabled. If I remove that argument the injection works correctly. https://gist.github.com/modwizcode/98aa1686c643427b8b78

[2015-05-23 12:05] Mumfrey commented on #47
You're still using the version from before the fixes so of course it's breaking.

[2015-05-23 12:05] #47 closed

[2015-05-23 12:31] modwizcode commented on #47
Oops sorry about that. I did a full update and I thought that would work.

[2015-05-23 16:08] modwizcode opened #48 "Annotation Processor still doesn't work properly in IntelliJ"
After setting up the annotation processor from the latest build of Mixin, I was pleased to find it worked well with Intellij IDEA. However when attempting to compile, my builds were failing at the AP because of `@Inject` mapping failures.

Some of which were caused by spaces in the target method `@At` others because of MixinToSubClass extends MixinToSuperClass wasn't being recognized properly, exp

[2015-05-23 17:41] Mumfrey commented on #48
Do not be vague, you need to provide specific examples of failure for me to stand any chance of fixing this. As a developer yourself you should understand that posting the actual error is important.

That seems unlikely, since they would also fail at build time, and spaces are trimmed anyway.

Disable incremental building.

Remember the AP's job. The AP is responsible for checking that Mixins can

[2015-05-23 17:54] modwizcode commented on #48
Ok I'll get those error messages posted.

[2015-05-23 17:56] Mumfrey commented on #48
Ok cool. If it's possible to at least make the AP work *partially* on IntelliJ then it's worth a try. But atfer wasting hours on it in the first place and getting nowhere (with the help of AzureusNation and gabizou as well) I basically just realised that IntelliJ's AP support is horribly broken. If they've improved matters in the newer version then we can have another stab at it.

[2015-05-23 21:41] zml2008 opened #49 "Instance initializer is never called"
In the class at https://gist.github.com/zml2008/482eb91adf7f2b174165#file-mixinsubject-java-L86
the highlighted line is never reached. It seems like it should be possible to inject simple initializers with multi-target mixins, but this does not appear to happen currently

[2015-05-23 21:44] zml2008 opened #50 "Anonymous inner classes not functional"
Using an anonymous inner class for the predicate in the class linked in #49 caused https://gist.github.com/zml2008/6316871b8ebdd77ebc57 -- seems like references to the mixin class are not being stripped from the class properlfy, or there's some annotation I should be doing but am not.

[2015-05-23 23:46] Mumfrey commented on #50
You can't use inner classes in mixins. I make an exception for synthetic inner classes because they are predictable, but allowing inner classes opens up a whole scope of situations that aren't easily cope-withable right now.

Inner classes are easy to avoid, so just don't use them in mixins.

[2015-05-23 23:51] Mumfrey commented on #49
Initialisers in mixins have always been ignored. You must inject into the initialiser in the target class in order to call construct-time logic.

[2015-05-24 00:14] zml2008 commented on #49
Except that when I try that, I get told that injecting is not allowed with multi-target mixins

[2015-05-24 00:15] zml2008 commented on #50
Ok, then I'm fine closing this one, can work around that limitation fairly easily.

[2015-05-24 00:15] #50 closed

[2015-05-24 00:16] Mumfrey commented on #49
It should be allowed if you set `remap=false` on the `@Inject` annotation. The reason it's not allowed on remapped injectors is that a single name in multiple classes which are obfuscated will obviously remap to *multiple* names in each target class so I can't squeeze it through the obfuscator. But `<init>` always has the same name and so you can set `remap=false` on it and it should be fine.

If

[2015-05-24 00:24] zml2008 commented on #49
That sorta works -- now I'm getting an issue with the fact that the different targets take different constructor arguments:
[code]
(the output was cut off there in the terminal, not mispaste)

[2015-05-24 00:27] Mumfrey commented on #49
Hmm. Well if you don't actually need the actual arguments then I could make it so that injectors can be created which don't take the method args in their signature. That should let you inject with impugnity.

[2015-05-24 00:28] zml2008 commented on #49
yeah, I don't care about the arguments so that sounds like what I'd need.

[2015-05-24 00:28] Mumfrey commented on #49
Ok I'll get right on that.

[2015-05-24 01:52] #49 closed

[2015-05-24 01:53] Mumfrey commented on #49
Ok, as of the commit above you can now make injector callbacks with *only* the `CallbackInfo` argument. You will need to update the mixin library version to 0.4.3 in spongecommon to get this change though.

[2015-05-24 02:22] zml2008 commented on #49
Great, that seems to work. Thanks!

[2015-05-24 02:44] luacs1998 commented on #48
Well, would also like to chime in that I'm also getting "No obfuscation mapping for @overwrite method" errors, but only in IntelliJ. Building through Gradle works fine.

[2015-05-24 16:00] modwizcode commented on #48
I haven't seen that error, I found that telling IntelliJ to use the eclipse java compiler instead of javac seemed to partially fix this for me until I did a rebuild. I don't actually have error logs to give I only get the basic warnings from the AP.

[2015-05-24 19:05] modwizcode commented on #48
I was wrong about the annotations working for the build, the MixinBlockLeaves fails to remap through gradle as well. It's just the incremental build failure, which I'm not sure how that's supposed to be disabled I cannot find an option for it.

[2015-05-24 23:55] Mumfrey commented on #48
The only thing I can think to fix the incremental build issue is to provide an option to turn it off which sucks because then you don't get the benefit of that check. The other option is just sticking with the current status of IntelliJ just not being supported.

[2015-05-26 09:00] jk-5 commented on #45
Fixed in https://github.com/ModCoderPack/MCInjector/commit/05aa80e569728813c9618da86eed8afbe11154ea

[2015-05-26 09:38] Mumfrey commented on #45
Nice :)

[2015-06-01 09:31] phase commented on #46
How would one initialize Mixins in a standalone project? Would you need to use LegacyWrapper if you weren't using Minecraft?

[2015-06-01 10:27] Mumfrey commented on #46
Yep, but as I said, LaunchWrapper is entirely application-agnostic and is open source as well, so it's pretty straightforward to use.

[2015-06-02 02:11] phase commented on #46
Would I need to make a new Tweaker & TweakerInjector for my application?

[2015-06-02 02:48] liach commented on #46
https://github.com/thog/universalat

[2015-06-02 10:19] Mumfrey commented on #46
Just a tweaker is sufficient, the contract of tweakers is pretty straightforward and you can read any of the many examples which are floating around.

Yes but not as a plugin, so that's a stupid example. As I said above, *"You can use Mixin in any application where you control the class loading"* and this is true of most applications, if you wrap the application then you can do mostly whatever you

[2015-06-04 15:08] #48 closed

[2015-06-08 14:06] Zidane opened #51 "Ability to disregard public static safety check in mixins"
@Mumfrey ,

In updating Sponge for the unified multi-world implementation, I hit a brick wall here:

https://github.com/SpongePowered/Sponge/commit/f8d57a547a68537f19889025500832c3f41ec91a#diff-ef8a3be4b70089992a904af75dec8e5dR23

I need to proxy all of common's DimensionManager calls back to Forge's (to remain 100% compatible) but the Mixin transformer rejects it as it fails the safey check. Any

[2015-06-08 14:07] Mumfrey commented on #51
You can `@Overwrite` public static methods, you just can't have orphaned ones in mixins because there would be no way to ever call them. It's not so much a safety check as a derp check.

[2015-06-08 14:08] Zidane opened #52 "Priority explanation or an issue (see inside)"
@Mumfrey

I'm seeing in a couple of Sponge mixins the priority being set in the @Mixin annotation (typically its set to 1001). Are we supposed to be setting Sponge's mixin priority in the json config? From my understanding, common's mixins should have the lowest priority and Sponge/SpongeVanilla's should have the higher priority. Otherwise, Mixin prints warning for duplicate overwrites.

[2015-06-08 14:10] Zidane commented on #51
@Mumfrey

Silly @Aaron1011 told me that @Overwrite is only used for things that are obfuscated. I may need to go back and take a refresher course on your docs...

[2015-06-08 14:11] Mumfrey commented on #51
If you read the javadocs you'll see that it has two modes of operation. One for decorating methods which need to overwrite obfuscated targets, and one for forcibly overwriting a public static method which would otherwise raise this error.

[2015-06-08 14:11] #51 closed

[2015-06-08 14:14] Mumfrey commented on #51
Actually I take it back, apparently the javadocs **don't** actually say that, which is weird because I remember adding that note. It's possible that I accidentally removed it in a merge commit or something.

[2015-06-08 14:18] simon816 commented on #51
@Zidane You'll need to put `remap = false` in the `@Mixin` annotation so that `@Overwrite` doesn't go looking for srg names.

[2015-06-08 14:18] Mumfrey commented on #51
^this

[2015-06-08 14:23] Zidane opened #53 "Inject into method added by other Mixin"
@Mumfrey

Yet another from the unified changes:

https://github.com/SpongePowered/Sponge/commit/f8d57a547a68537f19889025500832c3f41ec91a#diff-7935aaf1dc2aaf2359fbb6ef6905acf3L61

I need teleportEntity (the method changes that were added here) to exist up in Common. The correct code would be to keep that inection. Common's MixinEntity adds teleportEntity, Sponge's MixinEntity needs to inject into i

[2015-06-08 14:26] Mumfrey commented on #52
That's correct, by default everything [defaults to a priority of 1000](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/extensibility/IMixinConfig.java#L37) that includes the priority for configs *and* mixins themselves. Mixins *do not* inherit the priority from their config, but you *can* [specify a global default mixin priority in a config](https://git

[2015-06-08 14:39] Mumfrey commented on #53
Don't inject. Provide an empty stub method in the common mixin which is called where you want your injection to happen. Then in the downstream mixin simply overwrite that method.

eg. **Mixin 1**
[code]

**Mixin 2**
[code]

[2015-06-15 12:37] #53 closed

[2015-06-15 12:37] #52 closed

[2015-06-27 20:30] modwizcode opened #54 "Inject doesn't make sense [Read description]"
It seems the behavior of `@Inject` is to actually call a method with the injected code. Which would make sense, it's a lot safer than just injecting the opcodes directly into the target class. However this makes captureLocals somewhat unhelpful when dealing with primitive types, namely int.

I need to increment an integer through an `@Inject` is the basic problem.

[2015-06-27 20:37] Mumfrey commented on #54
"Inject" refers to the fact that it's injecting a callback, the full name of that feature is *Callback Injector*, you define a Callback Injector using `@Inject`. I haven't gotten to that part of the documentation yet.

"Capture Locals" lets you "capture" the "locals" from the point at which the callback injection is placed, this is sometimes necessary because the variable you need to access (say,

[2015-06-27 20:40] modwizcode commented on #54
I guess I missed that line. But it seems you're already one step ahead of me as usual ;)

[2015-06-27 20:43] Mumfrey commented on #54
I knew it would be needed and I think it was @Aaron1011 who actually mentioned it a while back which is why I started working on it but then we had all that trouble with the LVT generator so I decided to sit on it for a while till that is sorted, there are work-arounds in the mean time, it depends what you need to do really.

[2015-06-27 20:44] modwizcode commented on #54
I can accomplish the solution through an `@Redirect` but it's a bit of a hack.

[2015-06-27 20:58] Mumfrey commented on #54
Use that for now and mark it with `// TODO - replace with manipulator` just as a reminder.

[2015-06-27 22:42] modwizcode commented on #54
Aye

[2015-06-27 22:46] #54 closed

[2015-06-28 19:31] thomas15v opened #55 "Breaking or Continuing a loop with mixins?"
I am going to explain it with an example.
[code]
Lets say I want a mixin like this:
[code]

[2015-06-28 21:26] Mumfrey commented on #55
This is pretty much impossible.

[2015-06-28 21:32] Mumfrey commented on #55
However there are other things which are planned which you could probably leverage to do something like that.

[2015-06-29 01:04] modwizcode commented on #55
Why is this impossible?

[2015-06-29 09:39] Mumfrey commented on #55
Because there's no such thing as a loop or the concept of `continue` in bytecode, the compiler converts it all to jumps. Working out where a loop *is* is incredibly difficult, working out the semantics of a `continue` at an arbitrary point in the bytecode would be much harder.

Okay, "impossible" is probably over-stating somewhat, but "incredibly hard, bordering on impossible" would be closer.

[2015-06-29 10:22] thomas15v commented on #55
Wouldn't it be possible to make something like this:
[code]
Than this also could be helpfully to overwrite pieces of code in a method. Like you inject and than jump over the code you don't want to use anymore.

[2015-06-29 10:41] Mumfrey commented on #55
No, injectors already are a little too close to needing to understand bytecode for my liking, but there's no way around it. With rerouters, understanding bytecode is required but the code generated is **still safe**. There is [no way I am going to allow the mixin author to control the bytecode, see this old reply](https://github.com/SpongePowered/Mixin/issues/11#issuecomment-69275850), that is **n

[2015-07-06 11:49] thomas15v opened #57 "Mixins can not modify non-coremods in a production environment."
I realise that this is not the intended purpose of this library, but it can come in handy. What I tried to do is write a mixins for the mod ComputerCraft. As mixins are much easier than manually ASM everything around. I wanted to add additional behaviour to the turtle block, so that it will give a break event with the last clicked user as breaking user.

[MixinClass](https://gist.github.com/thomas

[2015-07-06 13:06] thomas15v commented on #57
I just realise that the problem is this:
[code]
When the classloader loads the above. It will try to look for ```TileTurtle.class``` The problem is that the class does not exist yet. A solution would be:
[code]
Only problem is that the mixin compiler doesn't allow this:
[code]

[2015-07-07 13:48] #55 closed

[2015-07-07 14:00] Mumfrey commented on #57
Please stop guessing what the issue is, it's not helpful. Just state the problem and leave it at that.

It's quite simple: mixins cannot transform mods because they are not on the classpath **at the transition to the `DEFAULT` Environment**, when those configs are loaded and the metadata generation pass occurs. Allowing this to happen would require another Environment Phase to be added. Since this

[2015-07-08 20:42] JBYoshi opened #58 "Wiki - Tutorial on setting up a mod to add mixins"
The wiki doesn't seem to have any tutorials on how to create a mod that uses mixins. I'm not talking about writing the code (that's already added); I'm talking about setting up stuff like `build.gradle`. Any plans to add this?

[2015-07-08 20:44] Mumfrey commented on #58
Yes, the final component (other than bootstrapping, which is already covered) is that article at the bottom labelled "using the mixin annotation processor", which will cover the necessary steps to set up the build environment. Since this is already planned (see the wiki home page) this issue isn't really needed.

[2015-07-08 20:44] #58 closed

[2015-07-08 20:50] JBYoshi commented on #58
Is there any setup needed in build.gradle?

[2015-07-08 20:50] Mumfrey commented on #58
No, only the AP stuff.

[2015-07-08 20:52] JBYoshi commented on #58
Thanks.

[2015-07-08 20:54] Mumfrey commented on #58
For current references, just look at the Sponge codebase, since all the AP scaffolding is there already.

[2015-07-08 20:59] JBYoshi commented on #58
From what I can tell, I just need to:
- Create a core mod that invokes `MixinBootstrap.initialize()` and `MixinEnvironment.addConfig()`.
- Add the annotation processor properties to `javac`.
- Make mixins and register them in the mixins config file.

Is that all?

[2015-07-08 21:14] Mumfrey commented on #58
You need to use the tweaker in production if you're using FML because coremods don't get access to the AppClassLoader. The coremod handles boostrap in dev and the tweaker handles it in production.

But yeah, other than that you just need to configure the AP and route the output appropriately, you need to take the generated refmap and reference it in your mixin config too, and don't forget to packa

[2015-07-08 21:30] JBYoshi commented on #58
Will the coremod/tweaker stuff be mentioned on the wiki page?

[2015-07-08 21:31] Mumfrey commented on #58
No because it's already mentioned in giant text in the existing article:

![](http://eq2.co.uk/screenshots/2015-07-08_22-30-53.png)

[2015-07-08 21:37] JBYoshi commented on #58
Whoops, didn't see that. Sorry.

[2015-07-08 21:38] Mumfrey commented on #58
I guess I should make the text biggerer.

[2015-07-08 21:39] JBYoshi commented on #58
:)

[2015-07-08 22:45] liach commented on #58
@JBYoshi Every one of [ForgeEssentialsMain] (https://github.com/ForgeEssentials/ForgeEssentialsMain) ,[Sponge] (https://github.com/SpongePowered/Sponge) and [Almura] (https://github.com/AlmuraDev/Almura) is a good example on how to use mixins. There're also different ways bootstraping. As I see in FE, they call the bootstrap method in `FMLConstructionEvent`.

[2015-07-09 12:32] thomas15v commented on #57
Oke :worried:. I will currently will just convert normal mods to coremods in order to patch them. Somehow forge doesn't really seems to care if the mods are already in the classpath or not. But I have to say. Mod modification support would definitely help out a lot of modded server communities. As ASM and reflection are mostly their only hope, unless they want to ban the specific modded items.

Bu

[2015-07-09 13:09] Mumfrey commented on #57
It's not that really, I mean there are other use-cases for additional environment phases. It's just that they're not particularly high priority and as I said it needs careful planning in order to not become messy.

[2015-07-09 13:09] #57 closed

[2015-07-24 12:48] luacs1998 opened #59 "Add the ability to specify mixin configs using the command prompt"
When using just the MixinTweaker in a dev environment, I have not found a way to specify a JSON mixin config that should be loaded within the dev environment.

Is it possible to add a command line option `--mixin mixin_something.json` or something that the MixinTweaker will use to look for mixin configs on the classpath?

[2015-07-24 13:16] Mumfrey commented on #59
Sure, that would be no bother, it would save having to have a coremod just for the purposes of bootstrapping mixin in a dev environment.

[2015-08-10 05:20] Aaron1011 opened #60 "MemberInfo doesn't handle generic signatures"
The annotation processor currently requires a generic signature to be present, in order to be able to find the target of an injection-related annotation. `compareElement`, called [here](https://github.com/SpongePowered/Mixin/blob/master/src/ap/java/org/spongepowered/tools/obfuscation/TypeHandle.java#L240), uses the generic signature of the `Element` being checked, requiring the `MemberInfo` to con

[2015-08-10 10:51] Mumfrey commented on #60
Hmm okay, the whole point of `rawSignature` was to deal with that but I guess it doesn't work if the element *has* a raw signature but it's not parsed correctly. I've literally just landed back in the UK following being away at gamescom so I'll take a look once my brain is back in gear later this week.

[2015-08-11 04:56] Zidane opened #61 "[SV] Injection fails to apply in Explosion class and has incorrect LVT"
I noticed with trying to inject a callback after line 138 in Explosion (vanilla-only sources) that not only is Mixin not putting my callback there, the LVT printed from debug is wrong too.

Mixin:

[code]

LVT:

[code]

I'm no bytecode expert but double d2 SHOULD be that List object (which I also need...). Thoughts @Mumfrey @Aaron1011 ?

[2015-08-11 04:57] Zidane commented on #61
@Mumfrey

I didn't want to paste the entire MixinMerged sources (cause its an entire class and Mojang frowns upon that). I'll give it to you in PM on request.

[2015-08-11 08:18] Aaron1011 commented on #61
@Zidane: The problem here is the point you've injected at, which is right after the method invoke opcode. At that point, the return value is in the top of the stack, but hasn't been stored in a local variable yet (that happens with the ASTORE opcode, directly *after* where you inject).

In general, it's better to inject before the *next* method call (in this case, creating the new `Vec3`), rather

[2015-08-11 08:25] Aaron1011 commented on #60
@Mumfrey: After looking at it more, I think the issue is that `findMethod` is doing things the opposite way it should - it searches for passed in signature with and without generics. However, unless you want to modify `MemberInfo` to correctly parse generics, it would be better to instead try stripping the generics out of each candidate signature.

[2015-08-11 10:20] Mumfrey commented on #60
I think that the reason the logic appears back to front is that the case it was designed to handle is when the mixin code *has* a generic type but the target type *doesn't* (which was the normal case with the MC classes). As I mentioned above I'll have a look at it once my brain has sufficiently recovered from last week.

[2015-08-11 10:27] Mumfrey commented on #61
@Zidane yes @Aaron1011 is exactly right, this doesn't look like an issue with the LVT inflection, it looks like the injection is wrong. The [INVOKE_ASSIGN](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/injection/points/AfterInvoke.java) (aka. "After Invoke") is generally what you want in these circumstances because it looks for STORE opcodes following

[2015-08-11 13:45] Zidane commented on #61
@Mumfrey

I completely missed you adding INVOKE_ASSIGN back in May. Awesome, that is definitely what I need in most mixins :).

After using that injection point, it now finds the correct local.

[2015-08-11 13:45] #61 closed

[2015-08-14 12:58] Mumfrey commented on #59
Hey @luacs1998 sorry this took so long to address, I was in the middle of the refactoring mentioned in 693e4701c098e8e834cc2642883b809a842fa8fb and it made sense to incorporate the solution to this whilst doing so. Can you have an experiment with the new functionality and see if it works out for you. I've tested this both in dev and in production with a test mod I made for purpose both with and wi

[2015-08-14 15:01] luacs1998 commented on #59
Will do.

[2015-08-14 19:42] JBYoshi commented on #59
@Mumfrey I'm trying this out for one of my mods, and it doesn't appear to work when loading mixin configs from a directory (as opposed to a JAR).

[2015-08-14 20:06] JBYoshi commented on #59
Never mind. It works.

[2015-08-15 14:32] modwizcode opened #62 "Interfaces are present and they aren't at the same time"
I'm mixing into net.minecraft.block.material.MapColor to implement org.spongepowered.data.type.MapColor, and the exported decompile of the mixin code shows that the interface is present after the mixin is applied. However attempting to list the interfaces results in no output, just as it would without the mixin and when I attempt to cast to the MapColor interface in SpongeAPI it fails. I've checke

[2015-08-15 16:08] gabizou commented on #62
You need to mark the `getName()` as `@Intrinsic`

[2015-08-15 17:57] modwizcode commented on #62
Oh? Why does the output seem right then?
On Aug 15, 2015 11:08 AM, "Gabriel Harris-Rouquette" <
notifications@github.com> wrote:

[2015-08-15 20:37] modwizcode commented on #62
Why? That doesn't make any sense. `net.minecraft.block.material.MapColor` doesn't contain a `getName()` method or any conflicting interfaces. I'm not even soft-implementing. So the description of `@Intrinsic` is unrelated or it covers more than it says.

[2015-08-16 02:33] modwizcode commented on #62
Update, seems the issue is related to reflection. Somehow reflective access to the static fields doesn't contain the same properties as direct access does. When I use the fields directly without trying to reflectively access them, everything works as intended.

[2015-08-16 18:16] gabizou commented on #62
Sorry, I misread the mixin as `getName()` wasn't being `@MixinMerged`, believing that the MapColor actually had extended `IWorldNameable`, which has happened in the past with a few mixins.

[2015-08-16 18:21] Mumfrey commented on #62
@modwizcode if you're experiencing issues with reflection vs. reality, make sure that you're reflecting in the correct classloader. As far as I can tell this isn't a bug, mixin applies much earlier than any reflection-related class metadata generation, so it's almost certain that if reflection says the interface "isn't there" then you're reflecting against something where the interface genuinely *

[2015-08-17 10:18] Mumfrey commented on #62
As far as I can tell, the listing in your original description actually just shows that this is working as intended, feel free to re-open if you can rule out the classloader issue but I'm closing this for now as I can't see an issue that needs to be fixed on Mixin's end at the moment.

[2015-08-17 10:18] #62 closed

[2015-08-20 05:28] mcsnetworks opened #63 "Mixin conflicts with CoFHCores ASM Class Loader"
Almura is using an older version of Mixin tech within 1.7.10 environment.

http://www.github.com/AlmuraDev/Almura

We have an issue currently where a specific class will not mixin correctly with a specific build of CoFHCore.  In-fact the mixin doesn't even attempt to load, no error, yet all of our other mixins work just fine.

This is our mixin that won't load:

https://github.com/AlmuraDev/Almura

[2015-08-20 10:32] Mumfrey commented on #63
Please confirm that this bug exists in the latest version of the Mixin library, quite a lot has changed (especially with respect to re-entrance handling and class metadata generation) in recent releases and it's entirely possible that this is already fixed. As far as I can tell from your code you are using mixin 0.1, which certainly predates some quite significant improvements in Mixin's internal

[2015-08-20 10:37] Mumfrey commented on #63
On further inspection of your code it does indeed look like you are still using an extremely old version of Mixin. I am marking this as invalid until it's verified to exist in the current library.

[2015-08-20 14:11] Zidane commented on #63
@Mumfrey

You should remember why I haven't bumped this up and that was because of the fact that the newer versions breaks another mod we use (the one called MalisisCore)...at least a few months ago.

I'll give bumping it up another shot and "we'll see".

[2015-08-20 14:29] Mumfrey commented on #63
In the case of MalisisCore however it was a clear cut case of a poorly designed transformer on their part. Whether it's usable or not for Dockter's server is irrelevant in the context of *this* bug report: I need to know if the bug reported *in this specific issue* is fixed by later versions of the library in order to know whether this issue is valid or not, other mods have no bearing on that what

[2015-08-22 16:47] acer86 commented on #59
Dear guys my issue was cloes and linked to yours.
But I don't understand what you are talking about. Where should I donwload what? And what should I do with --mixin I inlcuded it into my spionge starting cmd but it will not work with the usual sponge dev file.

Hope you can help me.
Thansk in advance.

CHeers.
acer86

[2015-08-22 16:53] JBYoshi commented on #59
@acer86 What issue?

[2015-08-22 16:55] acer86 commented on #59
Issue #1713
https://github.com/ForgeEssentials/ForgeEssentialsMain/issues/1713

[2015-08-22 16:57] JBYoshi commented on #59
@acer86 Okay, I see now. The mixin library for ForgeEssentials will need to be updated to 0.4.5 (see ForgeEssentials/ForgeEssentialsMain@eff7712045922fbbed2725aedf12cb8dea087a5a). Then add `--mixin mixin.forgeessentials.json` to the starting command.

[2015-08-22 17:20] acer86 commented on #59
Dear JBYoshi,
best is step by step, I tried to find the newest 0.4.5 mixin library but I failed 0.4.4 is only on th github and second is how I can update without without (make)
Cheers,acer86

I attached my current version and my current mixin and how iI would open the file. But this is not working.
![mixin](https://cloud.githubusercontent.com/assets/13914765/9425043/907ba99a-4902-11e5-82b3-8a37443

[2015-08-22 18:28] JBYoshi commented on #59
@acer86 Two questions:
- Is Sponge also installed?
- Are you running it in a development workspace? If so, which mods are on the classpath, and which are from the "mods" directory?

[2015-08-22 18:33] acer86 commented on #59
No dev space.
Only the java file.

[2015-08-22 18:38] JBYoshi commented on #59
Is Sponge also installed?

[2015-08-22 19:57] acer86 commented on #59
Dear Yoshi.
It is.

[2015-08-22 20:24] gabizou commented on #59
Just fyi @acer86, you don't need to reply to these issues in letter format, however formal, it's not necessary ;)

In the command, try adding `--mixin....` before `-jar sponge....` as `--mixin` stuff is a vm parameter, not an application parameter.

[2015-08-22 21:37] JBYoshi commented on #59
In that case, I think Sponge and ForgeEssentials both need to update their Mixin versions. The command line argument won't work at all without Mixin being updated (and I'm not sure what happens if only one mod updates it).

[2015-08-22 23:36] me4502 commented on #59
You've named the file mixins.etc, but referenced mixin.etc in the command line argument.

[2015-08-23 02:16] luacs1998 commented on #59
I haven't had the opportunity to test later versions of mixin yet.

[2015-08-24 12:06] Mumfrey opened #64 "FML Launch Agent erroneously injects jar container in 1.7.10, circumstances TBD"
Issue reportd by @Zidane:

* Using Mixin 0.4.5-SNAPSHOT with FML in 1.7.10
* Using external jar container
* Using mixin config defined by jar manifest
* Using `ForceLoadAsMod` and `FMLCorePluginContainsFMLMod` manifest directives
* No exceptions logged to console

Container injected twice (presumably once by FML, once by tweaker, requires investigation).

Likely a failing in a reflective call or a

[2015-08-24 18:25] Zidane commented on #64
@Mumfrey

The only thing I want to clarify is I am only using ForceLoadAsMod. This results in the mod being injected twice.

If I use FMLCorePluginContainsFMLMod, that results in a ClassNotFoundException the moment that it tries to classload CreativeTabs from the base game. I'm not sure if this is a classloader issue or what.

[2015-08-24 18:28] Zidane commented on #63
I'm going to close this as bumping Mixin seems to work fine with MalisisCore and the CoFH devs issued a patch on their end that fixed the initial issue.

[2015-08-24 18:28] #63 closed

[2015-08-24 19:54] Zidane opened #65 "Revisit Redirecting Setting Fields (Like That of Methods)"
So I was using the newest Mixin in Almura and I came across a situation in-which being able to set the local variable's value when it assigns the field would prevent a very hard injection (or at worse an Overwrite).

Is there any possibility to revisit allowing this capability?

[2015-08-25 10:00] Mumfrey commented on #65
I guess I should probably create issues or something for everything I have roadmapped for this project, but yes that's very much something I have been planning for. Development of this project is taking a back seat to Sponge proper at the moment but I will be resuming work on this primarily in the near future, I primarily want to finish off a big new feature which is *Rerouters*, which we discusse

[2015-08-25 10:00] #65 closed

[2015-08-25 10:01] Mumfrey commented on #64
Please post all the details then, I had assumed you had followed my previous directions and were using `FMLCorePluginContainsFMLMod`, I need to see the crash log from that, it's likely just a symptom of the same issue but you *must* use that directive in your manifest for the results of the crash to be meaningful.

[2015-08-25 10:02] Mumfrey commented on #63
That makes sense, thanks for testing. We can just continue and troubleshoot the dual-injection with the FML launch handler then.

[2015-08-25 20:00] Zidane commented on #64
@Mumfrey

I'll get you a few logs this evening. Apologies for the confusion, I had forgotten to do the second line and stumbled upon it in reading the MixinLaunchAgentFML class and gave it a shot.

[2015-09-01 10:18] Mumfrey commented on #64
Hi @Zidane, any stack traces/logs for me? I have some time to poke at this coming up.

[2015-09-01 14:45] Zidane commented on #64
@Mumfrey

Been a hell of a busy week. I'll do my best to get this covered this evening my time.

[2015-09-01 14:48] Mumfrey commented on #64
No worries, same for me! I'll have some time this week at some point so it was just a general prod so I know what I'm looking for.

[2015-09-12 03:19] luacs1998 commented on #59
Can confirm this is working as expected, sorry for the delays.

[2015-09-12 03:19] #59 closed

[2015-09-12 09:42] gabizou opened #66 "Annotation Processor doesn't handle class generics"
Provided the following:
[code]
and by extension:
[code]
The AP will fail to find the superclass.

[2015-09-12 18:34] bloodmc commented on #66
@Mumfrey The issue I am receiving when attempting to build is the following

https://gist.github.com/bloodmc/c00cef4a8bdbf7e170db

Thanks

[2015-09-13 17:03] Zidane opened #67 "DEFAULT phase transition occurs too late for mixing some core game classes"
One thing that we've hit in SpongeForge is the fact that we are injecting into GameData#registerBlock(Block, String, int);int and therefore we can't remap this as the method name is obviously not obfuscated BUT the Block parameter needs to be. Sooo

* We do remap=false but at production the injection fails as it expects registerBlock(atr, String, int);int where atr = Block.class
* we do remap = tr

[2015-09-13 17:04] Zidane commented on #67
Tagging a few people:

@bloodmc @Aaron1011 @gabizou

[2015-09-13 18:30] olee opened #68 "[1.8] MixinTweaker causing NPE on initialization"
Mixin crashes on 1.8 with a NPE when trying to access the not yet initialized `side` variable of `FMLLaunchHandler`.
This access is caused by initializing the forge `SideTransformer` class.
This is the relevant stacktrace:
[code]

Important trace parts
[code]

~~Basically the `MixinTweaker` should **not** be initialized before the `SideTransformer` of Forge.~~
Actually the `MixinTweaker` should no

[2015-09-13 18:44] olee commented on #68
Ok found that it actually crashes here when the returned `side` is `null`.
[code]

A simple fix should probably be changing
[code]
to
[code]

[2015-09-13 18:48] olee commented on #68
Ok I did some mistake in tracing back the problem.
Here is the crash stacktrace I got:
[code]

[2015-09-13 19:19] Zidane commented on #67
After more investigation, this is happening before we need to mixin to GameData and that can only be done in MixinEnvironment.PREINIT. At this point, this is before FML's deobf transformer has the chance to deobfuscate the class files.

Here is the error you'll get with Sponge's feature/traits branch and just running it:

[code]

[2015-09-13 20:16] Mumfrey commented on #67
This isn't too bad to deal with I don't think. Basically remap is there in the same way that `@Override` and other markers appear in code to be a *hint* to the AP that "hey, this isn't remappable, don't panic if you can't find an obf mapping for it". Of course in the real reobf pass, all hard tokens like class names get remapped as part of the AST and it doesn't matter if they don't appear in the

[2015-09-13 20:17] Mumfrey commented on #68
This shouldn't happen any more as of 0.4.5, are you sure this is happening with the latest build?

[2015-09-13 20:21] Zidane commented on #67
I'm not sure if I have adequately explained the issue wither @Mumfrey . Can you come on to TS? @Aaron1011 knows what is going on.

[2015-09-13 20:23] Mumfrey commented on #66
No worries, gabi mentioned this to me the other day. If you use the AP flag to disable the check for now that'll at least let you build, I'll take a look at this early next week as it should be pretty simple to fix, I just need to strip the generic part off the class name when searching for superclasses.

The issue basically boils down to the the mirror API being utterly insufficient for what we n

[2015-09-13 21:43] liach commented on #68
@olee https://github.com/ForgeEssentials/ForgeEssentialsMain/commit/1256009ca5362a2afcf2b3a268f964e23494d55b#diff-c197962302397baf3a4cc36463dce5eaR118

So this issue is invalid. Ummmm...

[2015-09-14 05:08] olee commented on #68
Oh.....
Yeah I already found this in the build.gradle:
[code]
... and then fell asleep before I could finish fixing it.

[2015-09-14 05:08] #68 closed

[2015-09-14 07:31] bloodmc commented on #67
As Zidane stated, by the time the CallbackInjector attempts to inject the mixin into the target class, GameData has not been reobfuscated and is still using notch names. This causes the mixin method in our MixinGameData class to fail to find a proper match since our mixin MethodNode descriptor contains searge and not notch.

[2015-09-14 09:16] Mumfrey commented on #67
You cannot load game classes of any kind in `PREINIT`. I think I've just realised why this issue is actually invalid for Sponge (it's valid for my cases, like in LiteLoader but not for a Forge environment). I'll try to get on TS tonight to talk about it because I think you're probably trying to do something that's impossible.

[2015-09-14 09:31] Mumfrey commented on #67
EDIT2: I think the issue here is actually timing. Reading through [FMLDeobfTweaker](https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/fml/common/launcher/FMLDeobfTweaker.java), basically what I consider `PREINIT` is complete as of [line 35](https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/fml/common/launcher/F

[2015-09-14 13:39] Zidane commented on #67
@Mumfrey

I came to that realization last night as well. I thought a potential fix is to accept that PREINIT cannot touch SRG classes and make a new state between INIT and DEFAULT that would be able to acquire the SRG name now available from the FMLDeobfTweaker but still be early enough to mix it.

I am not sure the correct spot to put this at...

[2015-09-14 13:50] Mumfrey commented on #67
@Zidane yes this is absolutely the case, it is an absolutely unbreachable rule that **no obfuscated classes can be referenced during PREINIT**, this is by design and bad things will happen if this rule is ever broken. However as you say, what we need is a new phase *between* `PREINIT` and `DEFAULT` and this interestingly dovetails into the need to [add support for arbitrary phases in the future](h

[2015-09-14 15:42] Zidane commented on #67
https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/fml/common/launcher/FMLDeobfTweaker.java#L26

So from my investigation, this registers and loads the transformer class with Launch but unfortunately the rest of injectIntoClassLoader will also start initializing the game which will include GameData.

It would be a simple affair to add an "INIT" phase righ

[2015-09-14 15:55] Zidane commented on #67
I've even dreamed up completely outlandish solutions such as adding a mixin via PREINIT to mix CoreModManager getAccessTransformers at HEAD in-which would check if the deobf transformer is there and if so...transition to INIT

[2015-09-14 15:58] Mumfrey commented on #67
Naw this is trivial, fear not. See the crucial point to figure out when a transition \*must\* occur is before the point that the transition is actually *handled*, which in this case is at the entry point to the transformer (the actual transformer not the proxy). See what happens currently is that the transition is detected and the "current" environment set inside [what is a tweaker callback](https

[2015-09-14 16:04] Mumfrey commented on #67
Also 100% feasible, there are lots of ways of handling this though I think my solution is probably simpler.

[2015-09-14 16:39] Zidane commented on #67
@Mumfrey

I see, in transform I could check to see if the current environment is PREINIT and Launch has the DeoobfTransformer and PREINIT is initialized...if so transition to INIT. This would happen before you init the environment.

Correct? If so, I could do this I think.

[2015-09-14 21:12] JBYoshi commented on #67
I don't think this would work in production, as `CoreModManager` would already be loaded (it would be loading the tweaker).

[2015-09-14 21:18] Zidane commented on #67
@JBYoshi

MixinTweaker is added via Mixin to Launch.

[2015-09-15 02:41] Zidane commented on #67
@Mumfrey

After even more investigation and writing some code, I've came to a conclusion on a few things.

I've added INIT phase to Mixin and have that loading the mixin file for its phase. That part was dead simple. I also know the earliest points for switching to init but that is where things get difficult.

The problem is the caching of the transformer delegates that happen when an environment

[2015-09-15 10:50] Mumfrey commented on #67
That's cool, and not surprising as that was entirely set up to be extensible.

Well there are two possibilities. One, we can mark (for now) environment transitions as either needing a proxy update or not, and just outright saying that for INIT we don't bother adding a new proxy. Since this whole thing is a quick and dirty hack and will be replaced I don't have a massive issue with that. The other

[2015-09-15 13:27] Zidane commented on #67
Ha I love that. What an awesome but dirty hack :D. I'll give it a whirl tonight.

[2015-09-15 13:47] Mumfrey commented on #67
I might not work but it should, I actually do a similar thing and [programmatically inject a new custom appender](https://www.assembla.com/spaces/liteloader/subversion/source/HEAD/LiteLoader/trunk/java/common/com/mumfrey/liteloader/util/log/LiteLoaderLogger.java#ln65) in liteloader in order to be able to watch messages being logged so I can display the log tail ingame. Notice the usefulness of ext

[2015-09-15 18:06] Zidane commented on #67
@Mumfrey

Seems like I just can't catch a break. So the appender works great in dev but in production while my appender is constructed (my printout shows this), I never get the log record for "Validating Minecraft".

[2015-09-16 02:44] Zidane commented on #67
@Mumfrey

I've pushed a solution to the initphase branch that I've confirmed works across dev and production (with ivy launch as well).

If that hack is something you can stomach for now, we really need to get this built and available on the repo ASAP so Sponge can continue development.

[2015-09-16 04:33] Zidane commented on #64
[code]

Starting to catch up on things. Here is the log with the two manifest entries you requested above. I can try and tackle this issue if I can be given some direction on why this is occuring. My best guess is somehow CreativeTabs is being loaded in the wrong classloader.

Here is the current gradle file of Almura:

https://github.com/AlmuraDev/Almura/blob/feature/mixin/update/build.gradle#L10

[2015-09-16 10:35] Mumfrey commented on #67
My Jenkins server [is now set up to build and push that branch](http://jenkins.liteloader.com/job/Mixin/) automatically.

[2015-09-16 10:36] Mumfrey commented on #64
Thanks for this, I'll look into it.

[2015-09-16 12:04] Zidane commented on #64
@Mumfrey

Is there anything I can do from my end? I'd love to be able to tackle these kinds of issues with some of my own merit and not by pestering others lol.

[2015-09-16 12:12] Mumfrey commented on #64
Not yet, at the moment this is a bit of an X-Y problem with the symptom shown above being the Y, I'm not sure what the actual cause is yet. If I can identify the underlying issue then it's possible although from I've had a lot of experience solving these kind of chicken/egg startup order problems and they tend to be pretty obnoxious to solve.

[2015-09-18 13:49] Zidane commented on #64
So after messing with this someone and reading your code, I see how this works in the MixinLaunchAgentFML.I then decided to try a bunch of stuff to see what sticks.

So after merging together the SDK project and Guide project into Almura (which is intentional, Mixin update or not) and using the MixinTweaker and shading Mixin into the jar and providing the two manifest entries above AND verifying t

[2015-09-18 14:08] Mumfrey commented on #64
Pretty sure FE are using my tweaker now, I could be wrong though.

I just read your log in detail, and this leapt out at me as a huge **wait, WAT**:

    [B#319]  [23:22:09] [main/INFO] [mixin]: SpongePowered MIXIN Subsystem Version=0.4.5 Source=file:/C:/Users/csanders/AppData/Roaming/.technic/cache/org/spongepowered/mixin/0.1-SNAPSHOT/mixin-0.1-SNAPSHOT.jar Env=CLIENT

Why is mixin 0.1 even on th

[2015-09-18 14:10] Zidane commented on #64
@Mumfrey

The above paste was when I wasn't shading Mixin. TechnicLauncher is incredibly dumb about dependencies so I had to rename mixin-0.4.5-SNAPSHOT to mixin-0.1

I can get you a more appropriate trace

[2015-09-18 14:11] Zidane commented on #64
Also @Mumfrey , they do use your tweaker...but they wrap it in their own:

https://github.com/ForgeEssentials/ForgeEssentials/blob/master/src/main/java/com/forgeessentials/core/preloader/FELaunchHandler.java#L75

I tried this exact same thing, no dice.

[2015-09-18 14:12] Mumfrey commented on #64
Ah ok, that makes more sense. It looks from reading the log in detail and browsing FML's code like FML is catching some error during a mod's initialisation, and then log4j is crashing the game when FML tries to log it (because log4j "helpfully" tries to establish the class hierarchy, which it can't do with LaunchWrapper's back-to-front classloader delegation.

[2015-09-18 14:13] Mumfrey commented on #64
Yeah, it's not the tweaker which is breaking, a mod is breaking - likely because it's being injected twice by the misbehaving launch agent - and then log4j is crashing the game trying to log the error.

[2015-09-18 14:26] Zidane commented on #64
@Mumfrey

I don't think I'm being double loaded anymore. I threw in some debug to Mixin and I'm being added to the resparse list without being in the loadedCoreMods. I'm also being loaded by the client so thats fine.

The only real unknown here is the fact that I have the dependency on the mod MalisisCore. I've no idea if this is breaking because of an incompatibility or what.

What I think I'll d

[2015-09-18 14:29] Mumfrey commented on #64
If we could just figure out what the original error is that's being caught we'd be able to nail this one in an instant. See what you can find out, if we've nailed the dual-injection issue then that's the key issue to identify.

[2015-09-18 14:56] Zidane commented on #64
@Mumfrey

The double loading issue was solely because I didn't provide the two manifest entries above. When I did, Almura wasn't being loaded because I didn't shade Mixin XD. Its been a learning process, for sure.

It all comes back to this one error so my hopes is that the barebones mod I'm making is going to show that Mixin itself is functioning correctly.

[2015-09-18 15:01] Mumfrey commented on #64
Makes sense, just keep me posted then :)

[2015-09-18 16:20] Zidane commented on #64
@Mumfrey

I figured out the issue and its rather odd. So my goal with my branch was to remove the need for me to have to have the loading plugin class as I don't use it and its just un-needed. I still do access transformations so I utilized FMLAT. I've always stored the the cfg in resources which means it ended up on the root of my production jar.

This is all well and good except FMLAT only reads

[2015-09-18 16:27] Mumfrey commented on #64
Aha! Yes unfortunately cryptic error messages are basically just a side-effect of the somewhat hacky classloader relationship which exists in modded minecraft. I'm guessing then that the original error was all centred around the AT config not being located, with everything else effectively being a giant red herring.

If this is resolved now as far as you're concerned then can this issue be closed?

[2015-09-18 16:37] Zidane commented on #64
@Mumfrey

If we can do little to actually say what this is in reality then yeah close it.

[2015-09-18 17:14] Mumfrey commented on #64
Well the actual issue is that an error being caused at mod startup was being attempted to be logged by FML and classloader shenanigans caused Log4j to crash the game with an unrelated error message. Really there's not a lot which can be done about it save altering FML to wrap the exception or at least catch errors like this, and it's not really a mixin bug in the first place. I will close this iss

[2015-09-18 17:14] #64 closed

[2015-09-18 17:19] Zidane commented on #64
@Mumfrey

I only question it a bit since the removal of the MixinTweaker actually causes the exception to be shown plain as day what the issue is. Is this because Mixin is doing the transformation first or?

[2015-09-23 22:05] Zidane opened #69 "Shower Thoughts - Make the Goose (now the Duck) always quack like the Duck"
Awesome title huh?

So I had the thought yesterday while, you guessed it, in the shower to create a new type of mixin that would cover the following situation:

For Inventory, Minecraft has an IInventory interface. Lets take these two scenarios:

``` class InventoryBasic implements IInventory {} ```

``` class InventoryBackpack implements IInventory {} ```

While it would be nice if mods used Inve

[2015-09-24 10:35] Mumfrey commented on #69
There's two things here: there's a reason what you're suggesting will never happen, and there's a second reason as to why it doesn't have to.

1. Mixin is never going to get "scattergun" targets like this, primarily because to do so would require loading, parsing and inspecting **every** loaded class simply to find out if it implements an interface, and **then** doing the extremely expensive pre-a

[2015-09-24 10:35] #69 closed

[2015-09-24 14:06] Zidane commented on #69
@Mumfrey

For this example, can you go into your design a bit with InventoryAdapter and Lens?

Vanilla

[code]

Yeah after throwing down some pseudocode, I see what you are doing. I might not be completely right with my code above but I think I'm headed in the right direction.

I've also left out the fallback adapter and lens but I know how it would work as well.

[2015-09-24 15:01] Zidane commented on #69
Further thoughts:

A fallback adapter and inventory is only needed if the mod implements IInventory directly. If they extend one of the Vanilla impls then the Vanilla injection above for each impl would act as the fallback.

Otherwise:

[code]

[2015-09-24 15:02] Mumfrey commented on #69
Lens is an interface and doesn't wrap an IInventory, it provides methods for accessing one. Thus all Lens methods take an IInventory as their first argument, this allows entire lens hierarchies to be shared if necessary, and allows them to be kept around and re-used without memory leakage of keeping a reference to an actual IInventory lurking around. In my early versions I only had adapters but th

[2015-09-24 15:03] Mumfrey commented on #69
You are duplicating work that I've already done, Lenses are hierarchical.

[2015-09-24 15:05] Zidane commented on #69
@Mumfrey

I don't have the source you've worked on and Inventory is currently a blocker for entering beta phase of Sponge so unless you can pass the source privately, I have to start implementing this myself now.

I'm putting the pieces together of your vision for the Inventory API and how it will work in the implementation.

[2015-09-24 15:15] Mumfrey commented on #69
Well SoS is coming up in just over a week, you will have my implementation in plenty of time to put together some demo plugins for that, that's my goal. I'm unavoidably busy this week but between these events and going to Madrid I have a brief respite to release the impl to general consumption. I have been insanely busy these last two months and things just haven't worked out as planned. In just u

[2015-09-24 15:17] Zidane commented on #69
@Mumfrey

SOS is this Saturday, two days away...

[2015-09-24 15:18] JBYoshi commented on #69
@Mumfrey So basically, if someone wants to mix in to an interface, they should just use an adapter?

[2015-09-24 15:18] Zidane commented on #69
@JBYoshi

No, this is for something else in Sponge...nothing really to do with Mixin.

[2015-09-24 15:20] Mumfrey commented on #69
Oh. I'm sure I remember discussing this at SPAM and it being while I was in Madrid, which is next week. Plus I though SoS was always the first saturday in the month. Oh well in that case do whatever you need to, you'll have my code next week, I don't have time before then.

[2015-09-24 15:22] Zidane commented on #69
@Mumfrey

We scheduled SOS for this Saturday as it was the time in-which you wouldn't be gone so therefore you could be there to talk about the pushed Inventory implementation.

We'll have to shuffle up the lineup a bit then.

[2015-09-24 15:30] Mumfrey commented on #69
I'm not around this weekend either, so either way I've got my dates all wrong. At the moment I'm just glad when I get through a day without going completely insane from sleep-deprivation, so I'm not all that surprised. As I said, once I'm back from Madrid Games Week and had a couple of days to recover, normal service will be resumed. Until that time please keep your arms and legs inside the vehicl

[2015-09-30 14:40] bloodmc commented on #69
@Mumfrey I have a very special case for needing this functionality... I am working on a new branch which captures blocks during a single tick and fires off various events. One type of capture I am trying to do is WorldGenerators(Populators such as cactus, flowers, swamps etc.).  In order to do this efficiently, I need to be able to inject into the "generate" method for any class that extends the a

[2015-10-01 17:56] Mumfrey commented on #69
@bloodmc I follow you, injections are definitely a plausible reason for wanting to do this which aren't covered by the cases mentioned above. However the issues with achieving it still stand so I'll need to put some thought into how it can be done without being quite ostentatiously inefficient and/or impossible without rewriting a big chunk of how Mixin does its class metadata generation.

If we'r

[2015-10-02 02:43] bloodmc commented on #69
I would need this functionality for mod classes too. Thanks for looking into it!

[2015-10-08 18:14] loordgek opened #70 "wat is wrong here"
http://www.minecraftforge.net/forum/index.php/topic,34315.0.html

[2015-10-08 21:34] simon816 commented on #70
Basically Biomes O Plenty didn't know how to Mixin properly, but mixin was removed long ago from it https://github.com/Glitchfiend/BiomesOPlenty/commit/bb7a5d11f56e38d54dfd013540b294ed01d33c17

[2015-10-09 09:42] #70 closed

[2015-10-16 00:36] simon816 commented on #69
@Mumfrey I know this is unrelated to the mixin issue, but this inventory `Lens` idea seems very interesting and I'd like to know if you have any code on it?
We're about to start implementing the inventory API and it'd be great if we could get a head start. Just a dump of code on a branch in SpongeCommon would be fine.

[2015-11-06 17:46] spaceemotion opened #75 "[Feature] Overwriting statements within methods"
Afaik, Mixin does not currently support changing statements within the target method. It is possible to inject before or after a statement (or even replace the whole method itself), but not directly replacing it (e.g. a field set, method call, …).

If the feature can already be achieved, I would love to know how :)

[2015-11-06 21:38] JBYoshi commented on #75
Does `@Redirect` work for your needs?

[2015-11-06 21:40] spaceemotion commented on #75
@JBYoshi No, this only redirects method calls, not field get or set statements for example.
I am already using them and they work like advertised :)

[2015-11-07 02:46] Mumfrey commented on #75
Arbitrary code injection isn't planned however modifying local variables very much is. I keep meaning to add everything to a roadmap somewhere so questions like this don't keep coming up.

[2015-11-07 08:55] spaceemotion commented on #75
Ah okay, thanks! Local variable modification is what I wanted initially, although a whole statement would be nice. Maybe I can figure something out and create a PR if I manage to achieve results.

[2015-11-07 12:13] Mumfrey commented on #75
There are various reasons why "arbitrary" statements can't be replaced as discussed in previous issues. However things which *can* be achieved whilst preserving method integrity are planned or already being actively developed. These are the previously-discussed rerouter functionality for conditional blocks, and the ability to modify arbitrary locals.

Mixin's primary goal is to allow safe modifica

[2015-11-07 12:15] #75 closed

[2015-11-16 05:13] gabizou opened #76 "Transformer fails to resolve nonvirtual default method invocations in Java 8"
I know that invoke specials were handled in #71, but there's an issue at runtime in dev workspace, plainly, if I have an interface that has a method as:
[code]
and the following mixin:

[code]

[code]

The following stack trace will occur (in relative terms, I have IMixinEntity, MixinEntity not overriding the method, and MixinEntitySheep extending MixinEntity that is overriding and calling super):

[2015-11-16 10:41] Mumfrey commented on #76
This is because Mixin was designed for Java 6 and doesn't even attempt to resolve nonvirtual targets in super interfaces, this behaviour can easily be rectified.

[2015-11-24 14:41] JBYoshi opened #77 "Question: initphase branch"
It seems that the `initphase` branch has become the new `master` branch, which is a bit confusing. Could the `master` branch be rebased on top of it?

[2015-11-24 15:11] Mumfrey commented on #77
`initphase` is temporary.

[2015-11-24 15:11] #77 closed

[2015-11-24 15:22] #76 closed

[2015-11-24 15:26] Mumfrey opened #78 "Environment Phases"
* Add arbitrary phase support to facilitate required feature additions
* Prune `initphase`

[2015-11-24 15:26] Mumfrey commented on #67
Closing in favour of #78

[2015-11-24 15:26] #67 closed

[2015-11-24 23:10] Mumfrey commented on #60
Closing in favour of #66

[2015-11-24 23:10] #60 closed

[2015-11-25 00:45] Mumfrey commented on #66
Fixed by 34dab7d1d57d02fcd1bf59f0d2235ea035e1b4b2

[2015-11-25 00:45] #66 closed

[2015-11-26 05:49] kashike opened #79 "Support static methods with @Redirect"
According to @Zidane this should be fine, though it it not currently supported.

Chat:
[code]

[2015-11-26 11:31] Mumfrey commented on #79
`@Redirect` already supports `static`, as do all injectors. If your target is `static` then your callback must also be `static`, but must not be `public` because Mixins *cannot have visible `public static` members* as you were already explained in the IRC log above.

The `static` modifier must match the staticness of your **target** method (the caller), the staticness of the method call **being re

[2015-11-26 11:31] #79 closed

[2015-11-26 11:47] Mumfrey commented on #79
Just to clarify further, here's a canned example:

[code]

And here is an `@Redirect` example to redirect the call to the `info` method:

[code]

[2015-11-26 16:04] kashike opened #80 "@Redirect 'remap = false' is suppressing remapping for @At"
@Aaron1011 has been helping me try to get this mixin working:
[code]
The `@Redirect` annotations had `remap = false`, but it is (apparently) preventing the `@At` from being remapped. Remvoing the `remap = false` results in:
[code]

[2015-11-26 16:09] Mumfrey commented on #80
Ok, I'll change the AP so that it doesn't raise an error if an `@At` clause requires remapping.

[2015-11-26 17:09] Mumfrey commented on #80
Fixed

[2015-11-26 17:09] #80 closed

[2015-12-10 03:43] simon816 opened #81 "Mixin in SpongeForge extending Mixin in SpongeCommon doesn't get remapped"
As first reported on the forums: https://forums.spongepowered.org/t/server-crash-when-one-of-the-players-try-to-join/10072

Basically, [`MixinEntityPlayer` (SpongeForge)](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/entity/player/MixinEntityPlayer.java#L94) extends [`MixinEntityLivingBase` (SpongeCommon)](https://github.com/SpongePowered/S

[2015-12-10 11:35] Mumfrey commented on #81
This is related to the same problem solved in 5814ea195775fa24d6efc52491a61994bd0facab which is effectively "AP state is lost between project compile passes". I solved the supermixin issue there by storing the class data in a bundle which gets passed down the compiles.

In this case it's the field remappings which need to get passed between compile passes, this **may** be as simple as passing the

[2015-12-14 19:53] Minecrell opened #82 "Disable decompiling when debug exporting mixin classes"
Using `mixin.debug.export` seems to always cause the decompiler to run for _all_ the exported classes currently, which delays the start a lot. It would be nice if this could be optionally disablable if you only need to look at one class you want to decompile manually using the IDE.

I might have missed this though, does an option exist for this?

[2015-12-14 22:55] Mumfrey commented on #82
Decompiling is only enabled if you deliberately add fernflower to the classpath, to disable decompiling just **don't** add fernflower to your runtime classpath. You can also choose which classes are exported by using the [`mixin.debug.export.filter`](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/MixinEnvironment.java#L236-L249) option to specify class

[2015-12-14 23:00] Mumfrey commented on #82
If the existing functionality suits your needs, just close this ticket. If you would prefer a separate filter for fernflower that can be added easily. However I normally find that I just set the filter to the package I'm working on, since in general you only care about a particular subset of classes when using export anyway.

[2015-12-15 05:53] Minecrell commented on #82
Fernflower seems to be automatically added to the classpath when using Mixin as a Gradle dependency (at least I didn't add it manually). The export filter makes sense, although I would personally prefer if I could just disable fernflower globally without messing with the classpath so I don't need to set the classes I want to look at manually every time.

[2015-12-15 12:37] Mumfrey commented on #82
Done.

[2015-12-15 12:37] #82 closed

[2015-12-15 12:38] Minecrell commented on #82
Thanks!

[2015-12-15 12:50] Mumfrey commented on #82
Backported changes to 0.4.7 so you shouldn't need to bump the sponge dependency to get these fixes.

[2015-12-18 17:51] simon816 opened #83 "Injecting at RETURN in a method that returns int[] fails at runtime"
The following injection is added to `MixinDimensionManager` (SpongeForge mixin to Forge's DimensionManager)
[code]

The inject works fine, I can verify that by looking at the decompiled output, but when the CallbackInfoReturnable is constructed at runtime, it fails with the following message
[code]

[2015-12-18 18:55] Mumfrey commented on #83
Herp derp, kk willfix.

[2015-12-19 00:08] #83 closed

[2015-12-20 18:54] Aaron1011 opened #84 "RedirectInjector doesn't print out method name on Error"
The `RedirectInjector` class only prints out the invalid and expected descriptors on a mismatch. The method name is ommited, making it difficult to determine which @Redirect has an invalid signature.

[2015-12-20 22:46] Mumfrey commented on #84
I can see how that would be kind of annoying.

[2015-12-20 22:58] #84 closed

[2015-12-21 07:40] gabizou opened #85 "When upgrading from 0.4.7 to 0.4.10, got a VerifyError"
Not entirely sure why, but, when trying to update and run in IDE, the game crashes immediately. Provided log:
https://gist.github.com/gabizou/0dba7458fca4c486d03b

[2015-12-21 11:20] Mumfrey commented on #85
0.4.10 is not stable yet, this is expected. This is the reason I'm backporting any bugfixes to 0.4.7 currently. 0.4.10 is definitely not ready for prime time.

[2015-12-22 13:59] #85 closed

[2015-12-22 23:11] mcsnetworks opened #86 "Incompatibility with CoFHCore?"
I opened a dialog with @skyboy, the dev for CoFH Core regarding a recent incompatibility with his product and Mixin, here's what I got in a response.

Dockter: skyboy, why you break my mixin's again with CoFH's transformer?  http://pastie.org/pastes/10648125/text

Dockter: I thought we had made peace regarding this subject :/

skyboy: i'm changing it back to what it was when it was first broken, s

[2015-12-22 23:24] mcsnetworks commented on #86
Additional feedback from Skyboy:

if you had any way to add my logic to the transformer list for the vanilla classloader, but not to the mixin list, you could easily test to see if what i'm doing works correctly with sponge and settle where the issue is

[2015-12-22 23:36] mcsnetworks commented on #86
His AT:  https://github.com/CoFH/CoFHCore/blob/master/src/main/java/cofh/asm/CoFHAccessTransformer.java

[2015-12-23 16:58] Mumfrey commented on #86
Closing for now since this should be resolved as of 14f3f403dd3e7e3b29d117324e3ba499ce4e7ad7 and the corresponding CoFH/CoFHCore@c559069149a4f4e2728d78fd4365f2db95bb9ee3

[2015-12-23 16:58] #86 closed

[2015-12-31 09:17] gabizou opened #87 "Failing to apply mixin"
Interesting situation:

Vanilla Minecraft Source:
[code]
Forge Minecraft source:
[code]
If there is a mixin attempting to mixin to vanilla's Foo, a giant error shutting the server down is thrown about not being able to find class `Baz`.

Relevant stack trace:
[code]

The relevant mixin: [MixinEntityWither](https://github.com/SpongePowered/SpongeCommon/blob/901ed8d4967d4a33d04a80c96806ebc84233fd6e/

[2015-12-31 10:46] Mumfrey commented on #87
Weird, I'll look into it.

[2016-01-01 15:03] Minecrell opened #88 "Bad type on operand stack when capturing locals"
On Minecraft 1.8.9 there seems to be a problem with capturing locals in an injection where Mixin reports a variable of type `String` that doesn't actually exist and later tries to assign an `Iterator` to it. I could imagine this is caused by the for-each loop, although I'm not entirely sure about that.

The problem exists on Mixin 0.4.7 and 0.4.10, and Java is throwing the following error when the

[2016-01-01 15:20] Mumfrey commented on #88
I'll look into it.

If an LVT and/or stack frames are present then they are not generated. The main problem has always been not so much whether LVT/frames are available, but issues with how ASM handles them and differences between the frames present in retroguarded code and decompiled-then-recompiled code. There are irreconcilable differences between the frame nodes which won't be solved by having

[2016-01-01 15:23] Mumfrey commented on #88
Just to add one thing, the *main* thing that will be solved by having the LVT in production is the need for `@Coerce` when a local type such as a `boolean` can only be captured as an `int` (or a `boolean` using `@Coerce`) because in the bytecode `short`, `int`, `byte` are all the same. In development I have the LVT available and thus the correct type (and name) can be ascertained. In production th

[2016-01-01 19:11] Zidane opened #89 "Testing issue"
_From @gabizou on January 1, 2016 19:10_

This is a test issue for testing purposes.

_Copied from original issue: SpongePowered/SpongeForge#478_

[2016-01-01 19:12] gabizou commented on #89
Testing comment.

[2016-01-01 19:12] #89 closed

[2016-01-01 19:12] gabizou commented on #89
Testing comment.

[2016-01-01 22:36] JBYoshi commented on #89
@gabizou
So what is this about?

[2016-01-01 22:42] gabizou commented on #89
This was a test for moving issues across repositories.

[2016-01-05 06:45] gabizou opened #90 "NPE on getting obfuscated methods"
Getting this NPE while trying to build SpongeForge, no real reason or telling which method is throwing it:

[code]
Full stack trace: https://gist.github.com/gabizou/be14f00a015b7829e096

[2016-01-05 11:19] Mumfrey commented on #90
This is not relevant to 0.4.10

[2016-01-05 11:19] #90 closed

[2016-01-05 13:07] Mumfrey commented on #90
Here's your boy: [MixinEntity#L123](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntity.java#L123)

[2016-01-05 13:11] Mumfrey commented on #90
Here too apparently: [MixinEntityPlayer#62](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayer.java#L62)

[2016-01-07 14:16] #81 closed

[2016-01-07 17:58] Mumfrey commented on #87
Fixed (for now) by 50b9deff2a0f2ed0026b6b803739ec2c04226677 until we can figure out why the interface is declared but doesn't exist on the server side.

[2016-01-07 17:58] #87 closed

[2016-01-13 17:12] Minecrell opened #91 "Support for ForgeGradle's SRG->MCP dependency deobfuscation"
As of ForgeGradle 2 it has the ability to deobfuscate mod dependencies automatically from SRG to the used MCP mapping set. This basically removes the need for deobfuscated (dev) JARs and allows for different MCP mapping versions to be used throughout the projects.

From what I've noticed when testing this for SpongeForge in general ForgeGradle is able to deobfuscate the mixins properly again, beca

[2016-01-13 18:19] Mumfrey commented on #91
Wiring for this kind of deobf already exists thanks to the `RemapperChain`, so it's possible that we could hook into however forge is doing this and provide remapping support for refmap entries. I'll add it to my "to look into" list after the current set of features I'm working on are completed. As you say, it's currently workable via just providing a deobf jar, and refmaps can also now be forcibl

[2016-01-15 03:54] kenzierocks opened #92 "Fix loadAsMod/ForceLoadAsMod for FML update"
[This commit](https://github.com/MinecraftForge/MinecraftForge/commit/c5a980f8a4fefd6403e3ebdf7b391d48227bc62c#diff-a2e39957fc7736049bbaa4ae6c58e4f7L101) renamed `getLoadedCoremods` to `getIgnoredMods`, breaking [`MixinLaunchAgentFML#loadAsMod`](https://github.com/SpongePowered/Mixin/blob/8c6be0e99c00d857f6c36fdb0f3bc29249a21d88/src/main/java/org/spongepowered/asm/launch/MixinLaunchAgentFML.java#L

[2016-01-15 03:56] darkevilmac commented on #92
Putting a post here so I know when it's fixed.

[2016-01-15 04:00] JBYoshi commented on #92
@darkevilmac Just click “Subscribe” on the right side of the page.

[2016-01-15 11:33] Mumfrey commented on #92
Seriously...

[2016-01-15 15:16] #92 closed

[2016-01-15 16:12] Minecrell opened #93 "Mixin AP resolves incorrect target class for method reference"
**Note:** This is closely related to #33 which seems to have broken in the latest Mixin builds.

Basically in SpongeVanilla there are quite a few injections where Minecraft code is calling the methods on the current class (e.g. `DedicatedServer.loadAllWorlds` instead of `MinecraftServer.loadAllWorlds`) even though the method is only defined in one of the super classes. We fixed this back then by j

[2016-01-15 17:06] Mumfrey commented on #93
Is this still broken as of `0.4.10`? I added specific handling for this case so either I misunderstand the problem or my fix didn't actually work.

[2016-01-15 17:10] Mumfrey commented on #93
Actually looking back at my fix, I think I [only fixed this for fields references](https://github.com/SpongePowered/Mixin/commit/e2275d15e2e9c40a2dc7825614f7d1df4fc9ced3), so basically the same fix needs to be applied for methods too by the looks of it.

[2016-01-17 01:08] #93 closed

[2016-01-18 12:20] Mumfrey commented on #88
Ok I've looked into this and here is the skinny:

Having the local variable table is actually what screwed this up, which is kind of ironic. I mean I suspected this given that we know the LVT is present in 1.8.9 and it was breaking in 1.8.9.

As I mentioned above, I only *generate* the LVT when the LVT is not actually present. The compiler-generated LVT actually only contains entries for variables

[2016-01-18 12:45] #88 closed

[2016-01-21 14:43] Mumfrey commented on #78
This feature will resolve #69

[2016-01-21 20:28] Minecrell opened #94 "Add support for reading AP reobfuscation mappings from multiple SRG files"
As explained in https://github.com/SpongePowered/Mixin/commit/ebdaf69e29305facad9d3b1f8b376d3dc9f8cadc#commitcomment-15595631 it would be nice if we could add multiple SRG files (or optionally extra lines) to MixinGradle/the annotation processor so if some additional lines are required it is not required to copy the whole SRG mappings from ForgeGradle. In this situation it would be currently neces

[2016-01-22 17:06] Zidane opened #95 "Proper setup for hybrid plugin to add additional mixin configuration without a tweaker"
**Not a Sponge Issue**

@Mumfrey , as you know I asked you yesterday a bit about this but I think I either didn't understand or something is up.

With Almura for 1.8.9, I use MixinGradle (which is a thing of beauty) and the AP works with no issue so I assume that production is fine (not tested but everything seems to be "there"). My issue seems to be with the dev environment:

In my run configurat

[2016-01-22 17:18] Mumfrey commented on #95
If specifying `--mixin` on the command-line, you may also need to specify the tweaker itself on the command-line  with `--tweakClass org.spongepowered.asm.launch.MixinTweaker` in order for it to actually *receive* said command-line argument.

[2016-01-22 17:29] Zidane commented on #95
@Mumfrey

Interesting. I didn't think it would be needed since SpongeForge is loading the tweaker. I'll give it a shot.

[2016-01-22 17:31] Zidane commented on #95
@Mumfrey

I'll be dammed, that did it XD. All is well! Do I need to specify that in my manifest for production (tweak class) or is what I have fine?

[2016-01-22 17:41] Mumfrey commented on #95
No in dev environment the tweaker is not normally loaded, Mixin is bootstrapped via the coremod directly.

Since you're declaring `MixinConfigs` in your manifest, yes you must also declare the tweaker. This is because even if the tweaker is already loaded, it uses the declaration of the tweaker to locate other jars which require mixin's attention.

[2016-01-22 18:45] Zidane commented on #95
@Mumfrey

Alright so I've made those changes but now I have a new issue:

With putting ```--tweakClass org.spongepowered.asm.launch.MixinTweaker --mixin mixins.almura.default.json``` on the program arguments, I think its no longer using any of Sponge's mixin configs:

[code]

If I remove the ```--tweakClass org.spongepowered.asm.launch.MixinTweaker``` Almura and Sponge load fine but I get no mixin

[2016-01-25 16:01] #94 closed

[2016-01-25 17:33] Minecrell opened #96 "Overriding default SRG class mappings using extra SRG files"
So I was trying to make the anonymous inner class mappings in SpongeVanilla use the refmap instead. For that, I let SpongeGradle generate a [SRG file for them](https://gist.github.com/Minecrell/813fd2464142f443bff8), and added that as an extra SRG file to the mixin extension using the latest MixinGradle.

Now the problem is that Mixin refuses to load them because there are is already a key mapped

[2016-01-25 17:36] Minecrell commented on #96
One option might be to simply ignore class mappings which map the original class name to the same class name when reading the SRG files in Mixin, haven't looked into the Mixin code but I think that could also prevent the creation of redundant refmap entries like `"net/minecraft/tileentity/TileEntitySign$2": "net/minecraft/tileentity/TileEntitySign$2",`

[2016-01-25 17:42] Mumfrey commented on #96
Oh that's kind of annoying, didn't realise BiMap wouldn't let you just replace the entries. This is happening during the actual loading/parsing of the SRG. I think the best solution would be to just remove the Srg2Source dependency, then just make my own modified version of `SrgContainer` which uses `BiMap::forcePut` rather than `Bimap::put`

[2016-01-25 18:05] Minecrell commented on #96
Yep, that sounds like a good idea as well.

[2016-01-25 21:50] Zidane commented on #95
@Mumfrey

As an update, I just decided to add a loading plugin to Almura which initializes the bootstrap + adds my mixin config. Not what I'd like to do but this allowed mixins to work again.

Note that I didn't need to provide any manifest entries for letting FML/Mixin know about Almura's actual plugin...Sponge still loaded Almura (which was nice).

Keep in mind I've yet to test this outside IDE

[2016-01-26 04:49] killjoy1221 opened #97 "Constructors don't get added to refmap"
The name <init> may not change, but the parameters do. Specifically when using notch names.

I'm applying a mixin to `<init>(Lnet/minecraft/client/renderer/entity/RenderManager;Z)V`, but it fails when in an obfuscated environment because the description becomes `<init>(Lcpt;Z)V`

The issue goes away after I manually add it to the refmap.

I assume the same happens with other non-obfuscated methods

[2016-01-26 11:06] Mumfrey commented on #97
I know about this and have been meaning to sort it for a while and just haven't gotten around to it. I'll roll up a fix with some other obf changes today.

[2016-01-26 13:41] #96 closed

[2016-01-26 13:41] #97 closed

[2016-01-26 14:08] Minecrell opened #98 "Annotation processor is not claiming all supported options"
**Note:** The option itself is working perfectly fine, this is just a very minor issue that the Mixin annotation processor doesn't claim the options for the extra SRG files.

When using the extra SRG file feature of Mixin the Java compiler will complain that these options weren't recognized by any processor, e.g.:
`warning: The following options were not recognized by any processor: '[reobfSrgFile

[2016-01-26 14:10] #98 closed

[2016-01-26 14:11] Minecrell commented on #98
Thanks :)

[2016-01-26 14:21] Mumfrey commented on #98
NP! :smile: It's only a warning message anyway :stuck_out_tongue:

[2016-01-26 14:27] Minecrell opened #99 "@Redirect annotation specifies a target class which is not supported"
Still working on replacing the manual anonymous inner class mappings in SpongeVanilla with the refmap. Extra SRG files are read without problems, and on the first look the refmap looks fine as well:

[code]

However, if we look closely at this particular line:

`"dispenseStack(Lnet/minecraft/dispenser/IBlockSource;Lnet/minecraft/item/ItemStack;)Lnet/minecraft/item/ItemStack;": "Lnet/minecraft/init

[2016-01-26 14:30] Mumfrey commented on #99
*Stop finding broken things! You're really messing with my mojo!*

No but seriously, ok I'll look into this. I think I know why it's happening.

[2016-01-26 15:01] Mumfrey commented on #99
@Minecrell can you upload the extra srg file you're using.

[2016-01-26 15:08] Minecrell commented on #99
@Mumfrey Here is it: https://github.com/SpongePowered/SpongeVanilla/blob/feature/anon-inner-srg/anon_inner_classes.srg

You can also checkout `feature/anon-inner-srg` on SpongeVanilla if you need something for testing (make sure the SpongeCommon submodule is up-to-date) although you will likely need to install SpongeGradle's `feature/anon-inner-srg` in the Maven local repository first.

Sorry for

[2016-01-26 17:30] #99 closed

[2016-01-26 17:32] Mumfrey commented on #99
Ok that will fix it for now. What really needs to happen is that when a second SRG file is loaded, it gets "applied" to existing mappings so that the stored mappings actually get updated with the new values. This is simpler to implement and will work for now, but I'll add it to my TODO list to actually apply the SRG files in a layered way rather than having to muck around doing remappings like thi

[2016-01-26 17:56] Minecrell commented on #99
I wish I could tell you everything is working now; however I seem to have come across a completely different issue now independent to our anonymous inner class mappings, although I don't understand why this is happening now at all.

This time, our beloved failing injection is [`MixinEntityItemMinecart.implementCustomDerailedDeceleration`](https://github.com/SpongePowered/SpongeCommon/blob/master/s

[2016-01-26 18:11] Minecrell commented on #99
This seems to be directly related to your fix for this issue, if I revert to the previous version (before this commit, `0.4.17-20160126.141141-3`) it shows up in the refmap again. However, if I upgrade to the latest version (`0.4.17-20160126.173143-4`) it disappears.

[2016-01-26 18:15] Minecrell commented on #99
(Sorry for the spam) One thing as a note, I think this is one of the methods from #93 where the actual method owner is different from the mapping owner, not sure if your commit broke something for that. However it does not affect **all** mappings of these type, because others (e.g. `DedicatedServer.loadAllWorlds` are present in the refmap.

[2016-01-26 18:29] killjoy1221 commented on #97
Now they get added, but the descriptor doesn't get remapped.

`"<init>(Lnet/minecraft/client/renderer/entity/RenderManager;Z)V": "Lctc;<init>(Lnet/minecraft/client/renderer/entity/RenderManager;Z)V"` gets added to the notch data.

[2016-01-26 18:35] Minecrell commented on #97
@killjoy1221 I think this could be possibly caused by the fix for #99 (see https://github.com/SpongePowered/Mixin/issues/99#issuecomment-175132797). Can you try using a build before that commit (e.g. `0.4.17-20160126.141141-3`).

With Gradle 2.4+ you can use it like this:
[code]

[2016-01-26 18:36] killjoy1221 commented on #97
Yeah, that was it.

[2016-01-26 21:21] Mumfrey commented on #99
This will teach me to fix stuff in a hurry before I leave. I will look at it later. I had to change the way the lookups work to fix this so probably broke an assumption elsewhere, my guess would be that [this](https://github.com/SpongePowered/Mixin/blob/initphase/src/ap/java/org/spongepowered/tools/obfuscation/TargetObfuscationEnvironment.java#L204) may break it.

[2016-01-27 14:25] Minecrell commented on #99
Your latest commit seems to fix all the issues, the server is launching fine now and all injections apply successfully. Thanks a lot for your effort and all these bug fixes! :)

Considering Mixin validates all injections with the required successful injection count, I think now that it works properly it should be safe to update SpongeCommon to use the latest version? Or do you have any other huge

[2016-01-27 14:46] Mumfrey commented on #99
There's just one last thing I want to add before it's bumped, related to `@Final` and a discussion I had with @gabizou yesterday. But that's it, then it'll be good to go.

[2016-01-27 14:47] Minecrell commented on #99
Awesome. Can you ping me once you have pushed that so I can merge my branch in SpongeVanilla and update it in SpongeCommon?

[2016-01-27 14:57] Mumfrey commented on #99
@Minecrell ping :smile:

[2016-01-27 15:40] Minecrell opened #100 "Method overwrite conflict for lambda$null$0"
_Woo, another issue! However, don't worry: this time it does actually not break anything currently, so feel free to take your time to fix this._

So recently, (I think it actually started after I installed the a recent Java update) everytime I start the server from the IDE (or generally a SpongeVanilla JAR built by me), Mixin reports that it has a _"overwrite conflict"_ for a lambda method:

`Meth

[2016-01-28 15:48] Mumfrey commented on #100
I cannot reproduce this with JDT or hotspot, does this only happen with OpenJDK?

[2016-01-28 15:51] Mumfrey commented on #100
All I need to know is whether these methods are decorated with a synthetic marker.

[2016-01-28 18:51] Minecrell commented on #100
It's possible that it only happens with OpenJDK, as I said I think it is also only since I upgraded from u66 to u72, so that might cause some differences.

Seems like it is synthetic though:
[code]

[2016-02-10 12:55] Minecrell opened #101 "Support accessing method arguments of the enclosing method in a @Redirect"
Basically I was wondering if there is a way to make this Mixin simpler with a redirect: https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/command/MixinCommandWorldBorder.java#L41-L58

It's supposed to modify the returned world border respecting the world of the sender, instead of always using the same one. The method it injects in looks lik

[2016-02-10 13:31] Mumfrey commented on #101
You already can, read the javadoc.

[2016-02-10 13:40] Minecrell commented on #101
Oh, so I would just need to add them without specifying any option anything?

[2016-02-10 13:54] Mumfrey commented on #101
Correct, the [logic is basically](https://github.com/SpongePowered/Mixin/blob/initphase/src/main/java/org/spongepowered/asm/mixin/injection/invoke/RedirectInjector.java#L185-L194)

* Is the signature the same as the redirect? If yes, do the thing
* If not, check if signature is same as redirect plus args of target? If yes, do the thing with the other things.
* If all else fails, throw teddies out

[2016-02-10 13:55] Minecrell commented on #101
Well, that works just fine... I was checking the options for the `@Redirect` annotation but not the javadoc of the `@Redirect` annotation directly. Thanks for the info, good to know =)

[2016-02-10 13:55] #101 closed

[2016-02-10 13:58] Mumfrey commented on #101
I actually take pains to document my stuff as much as I am physically able. If in doubt, read the javadoc first. Complete [javadoc always available to browse on Jenkins](http://jenkins.liteloader.com/job/Mixin/javadoc/).

[2016-02-11 00:40] gabizou opened #102 "Report orphaned/unnecessary Shadowed fields/methods"
In some cases, after some code refactor, there's some mixins that end up having orphaned or simply forgotten `@Shadow`ed fields/methods that just sit there doing nothing. It would be nice either during compilation or in validation mode at runtime to validate that there's some unnecessary shadows existing.

[2016-02-14 03:25] Aaron1011 opened #103 "Injecting into a method fails if the target method is later overwriten"
Since injectors were changed to run in two passes, an issue was created when attempting to overwrite a method which was previously targeted by an injector. This results in an error like this: http://hastebin.com/cukotagiqi.avrasm.  To reproduce it, run SpongeForge prior to [this commit](https://github.com/SpongePowered/SpongeForge/commit/0595387a25f1e5753118f7bbd54e20ae12fb3a25) with BungeeCord `i

[2016-02-14 03:47] Mumfrey commented on #103
Well that sucks, I'll look at that tomorrow. Why is the method being overwritten **and** injected though? That seems like a kind of sub-optimal situation.

[2016-02-14 23:12] #103 closed

[2016-02-14 23:12] Mumfrey commented on #103
You can now resolve this by making the other mixin a higher priority.

[2016-02-23 02:24] CrystalMageX opened #105 "Mixin crashes when empty "mixins" element left out in json"
SpongeVanilla crashes with the following error: http://pastebin.com/6y6ZniPY when the `mixins` attribute is missing in `mixings.vanilla.json`: http://pastebin.com/FnP9dhLy

This does not happen when `mixins` is added as an empty list: http://pastebin.com/KrwtnqDL

Mixin should detect the null `mixinClasses` field, and handle it.

[2016-02-23 11:56] #105 closed

[2016-02-23 11:57] Mumfrey commented on #105
`mixinClasses` is allowed to be null, it was just a typo in the debug message.

[2016-03-04 16:08] Zidane opened #106 "Mixin incorrectly reports write access detected to changes made to collections"
``    @Shadow @Final private Set<Long> droppedChunksSet = Collections.<Long>newSetFromMap(new ConcurrentHashMap());
``

If I add new long values to that set, Mixin will report:

``[10:06:19] [Server thread/ERROR] [mixin]: Write access detected to @Final field droppedChunksSet:Ljava/util/Set; in mixins.vanilla.json:world.gen.MixinChunkProviderServer::<init>
``

This should check by reference imo.

[2016-03-04 16:11] Mumfrey commented on #106
Derp, it's the field initialiser.

[2016-03-04 16:12] Mumfrey commented on #106
Just out of interest, why use `@Final` when you're including the initialiser?

[2016-03-04 16:12] Zidane commented on #106
@Mumfrey

That was by mistake, this may not be a bug (never thought about that...)

[2016-03-04 16:13] Zidane commented on #106
Nothing to see here, move along...

[2016-03-04 16:13] #106 closed

[2016-03-04 16:13] Mumfrey commented on #106
Well, it's kind of a bug because the message should be different under these circumstances. It should effectively say "this shadow should be `final` rather than `@Final`".

[2016-03-04 16:14] Zidane commented on #106
Ah, you can change this for that if you like. Still me being silly either way hehe.

[2016-03-04 16:14] Mumfrey commented on #106
The warning is misleading, causing you to open this issue, ergo it should be changed to indicate the actual issue.

[2016-03-07 01:44] gabizou opened #107 "Mixin reports 0 mixins being found in any json"
From the related issue of SpongePowered/SpongeForge#567, Mixin is reporting `0` mixins being found from the mixin json files.

[2016-03-11 15:55] Zidane opened #108 "Add report on all overwrites and where they are at."

[2016-03-11 15:59] Zidane commented on #108
@Aaron1011  @Deamon5550

@gabizou found this out last night. I'm about to test but this is where the chunk bug is.

[2016-03-11 16:19] Mumfrey commented on #108
Sure thing, improving auditing in general would probably be a bonus.

[2016-03-19 12:14] luacs1998 opened #109 "How do I change the compatibility level in a dev environment?"
When I attempt to start the game from within IntelliJ IDEA, I get the following error:

I've worked around this in production by adding the MixinCompatibilityLevel jar manifest item, but how would I do this in my development environment?

[2016-03-19 12:17] kashike commented on #109
`-Dmixin.env.compatLevel=JAVA_8`

[2016-03-19 12:23] luacs1998 commented on #109
Thanks.

[2016-03-19 12:23] #109 closed

[2016-03-22 12:19] kashike opened #110 "Capture locals in Redirect"
`@Redirect` currently supports capturing the arguments of the target method. Is it possible to add the option to capture locals as well?

[2016-03-22 12:42] Mumfrey commented on #110
I'n not particularly against it, it was mainly omitted for ideological reasons rather than techincal ones; effectively with the aim of keeping redirectors as simple as possible. The spirit of a redirector is proxying a method call, in which all the "context" which should be required is part of the method call already. Essentially redirectors are there in place of a `@ModifyReturn` in that they get

[2016-03-22 12:53] kashike commented on #110
Thanks for the explanation. In this case, it's to avoid pairing an injector with a redirector.

[2016-03-22 12:53] #110 closed

[2016-03-28 04:46] me4502 opened #111 "Allow Mixins to work from a Java Agent"
Allowing mixins to work from a Java Agent could allow some cool stuff, like injecting them into already loaded classes using something like this, https://github.com/Xyene/ASM-Late-Bind-Agent.

The only issue I see is that AFAIK the Java Agent is incapable of performing a fair few actions, such as adding new methods, or removing methods. Due to this, only Overwrite, Inject, etc, would really work.

[2016-03-28 06:05] gabizou commented on #111
This basically would prevent anything being added **except** applying `Overwrite`s. Injections are handled where there's a new method added and existing method modified to direct to the newly added method.

[2016-03-28 10:19] Mumfrey commented on #111
Can you elaborate on the use case? It doesn't seem that compelling to me but maybe I'm missing something?

But why? Under what circumstances would you need to inject into an already loaded class? And how would it actually help?

This is true, so it's not like you could use it as a quick way of starting to write a "real" mixin whilst the game is live (assuming all the other hurdles could be overcom

[2016-03-28 10:21] me4502 commented on #111
The main reason was to allow spigot plugins to use mixins

[2016-03-28 10:22] Mumfrey commented on #111
I'm not in favour of wasting time supporting deprecated platforms in all honesty.

[2016-03-28 10:23] me4502 commented on #111
Also SpongeVanilla, unless we provide a way for other things to hook tweaker

[2016-03-28 10:25] Mumfrey commented on #111
SpongeVanilla uses LaunchWrapper, so can quite easily support additional tweakers. I'll provide the code if necessary.

[2016-03-28 10:30] me4502 commented on #111
So theoretically, if you got Spigot to run with LaunchWrapper, which kashike says is possible, you could get Mixins running?

[2016-03-28 10:36] Mumfrey commented on #111
I wouldn't touch classloading in CB if you paid me a lot of money, but yes it's entirely possible. The main issue I see you hitting is that the classloader setup in CB is far from ideal with respect to integrating launchwrapper, but if someone were to get it working then yes mixin would work.

The main question at this point is **why**, and secondly I'm kind of annoyed that this has devolved into

[2016-03-28 10:36] #111 closed

[2016-03-28 10:47] me4502 commented on #111
Yeah, I found that getting it running as a java agent was the best way of getting it running, so I made an issue about that. I didn't mention Spigot as I thought it was irrelevant, not that I thought you would close it straight away.

I always rework suggestions to try to expand the scope as far as possible, and limiting it to purely spigot, rather than the ability to provide runtime modification,

[2016-03-31 14:13] modwizcode opened #112 "NoSuchFieldError on an instance at runtime"
This is an odd one, I'm using an `@Inject` at the method head, and everything was seemingly fine, however I create a `MapData` instance and using reflection can see all the properties, including the `dimension` property that causes this error. I can even get the value through reflection. However at runtime I get `NoSuchFieldError` as you can see in the following stacktrace. The only thing I can th

[2016-03-31 14:28] modwizcode commented on #112
After further research, I've determined the invalid bytecode theory (if it was even possible) is not the case as the final mixin bytecode does reference an int field.

[2016-03-31 15:01] gabizou commented on #112
Are you sure that it's not because you're getting an empty map with nothing in it?

[2016-03-31 15:03] modwizcode commented on #112
It's a freshly created instance. The error is trying to set the field. It
somehow isn't existing at app.

On Thu, Mar 31, 2016, 10:01 AM Gabriel Harris-Rouquette <
notifications@github.com> wrote:

[2016-03-31 17:58] modwizcode commented on #112
Seems I mistakenly viewed the wrong bytecode for the mixed inject. The issue is indeed a type conflict. I'm not sure how to resolve this, the type difference is the only difference between SpongeForge and SpongeVanilla, I'll keep poking, but maybe a mixin property for

[2016-03-31 19:32] Zidane commented on #112
modwizcode, check into ```Coerce```, think that is what you want. May need to have both injections though.

[2016-03-31 20:51] modwizcode commented on #112
`@Coerce` can't help, this isn't a local conversion, but rather a field access type change. I ended up working around it by implementing a series of `@Inject` and the like, however the resulting code is much harder to understand than the sample I wrote that causes the issue. Since the inject doesn't support locals, the use of multiple fields to maintain state is the messy result.

[2016-04-04 12:52] Mumfrey commented on #112
Why don't you access the field via an accessor and simply overwrite the accessor with a downstream mixin?

[2016-04-04 13:15] modwizcode commented on #112
That makes a lot of sense, I was completely over thinking it, although I
did successfully workaround the issue in tbis case. But won't the signature
of the overwritten accessor be wrong? Or are you suggesting I use a method
returning an int and just provide the overwrite to access it as a byte in
vanilla?

[2016-04-04 13:51] Mumfrey commented on #112
Precisely.

[2016-04-05 11:50] modwizcode commented on #112
I guess that's a proper solution, I'll close this for now.

[2016-04-05 11:50] #112 closed

[2016-04-09 17:52] PizzaCrust opened #113 "Gradle problem, but not maven problem?"
I encountered a weird situation with this framework. Maven was working, however Gradle was not.

This the log using Gradle:
[code]

build.gradle:
[code]

However, all is well when using Maven.

[2016-04-09 17:58] gabizou commented on #113
If your source compatibility version and target compatibility version are for Java 8, then Mixin will expect the defined environment version to be Java 8. It seems that in your environment settings in your core mod, you're setting Java 7 compatibility, but the classes are compiled for Java 8.

[2016-04-09 18:04] PizzaCrust commented on #113
Oh, it worked. Just changed MixinCompatiblityLevel into JAVA_8.

[2016-04-09 18:04] #113 closed

[2016-04-14 13:43] #107 closed

[2016-04-17 04:44] Aaron1011 opened #114 "Mixin audit should warn about targets which never have their mixins applied"
Currently, `MixinTransformer#audt` force-loads all unhandled mixin targets. This assumes that the mixins were unapplied due to the target class never being loaded (such as `NetHandlerPlayServer`, which is not loaded until the first player joins). However, this is not always the case.

When coremods end up causing re-entrant class loading, or otherwise classload a class improperly, mixins for that

[2016-04-17 10:18] Mumfrey commented on #114
Good point, I found another derp in audit the other day so I will fix both at the same time.

[2016-04-20 03:18] gabizou opened #115 "Failing to apply mixins doesn't report which injection failed and or why to be exact"
For the following error applying a mixin:
[code]
The `@Redirect` was simply reading:
[code]

What could be added is simply to say "here's the found annotation" and print the entire annotation for which method is being read. In general, this would end up being perfectly valid if an extra `L` was included, but I digress.

[2016-04-20 11:48] Mumfrey commented on #115
I can't really give the annotation unless I completely reconstruct it, but I can make the exception itself a bit more descriptive and provide some more context.

[2016-04-20 15:09] #114 closed

[2016-04-20 15:09] #115 closed

[2016-04-21 03:13] gabizou opened #116 "MirrorUtils crashing on bounded type generics"
Similar to the issues with `TYPEVAR` with Java 7+, the following is producing the issue with MirrorUtils:

[code]

[code]

[2016-04-21 04:20] gabizou commented on #116
Just to provide a way to replicate the issue: Clone SpongeForge at this commit: https://github.com/SpongePowered/SpongeForge/tree/f46e8f29d37e070d551cf86e58d978780d7e1ca5 and try building the project.

[2016-04-21 10:25] Mumfrey commented on #116
Can I just say for the record that I bloody hate Mirror when it comes to generics. Should not be hard to fix though because that exception is one I'm throwing myself from a case I hoped wouldn't be reached.

[2016-04-21 10:53] Mumfrey commented on #116
Woo, that was simple. It turns out that if you ask a TYPEVAR for its upper bound, the upper bound *itself* can be a TYPEVAR, thus you just need to recurse into it until you find the *actual* upper bound. I've picked an arbitrary max depth of 5. If we find any generics more complex than that then it's probably your fault!

Committing fix now.

[2016-04-21 11:05] #116 closed

[2016-04-22 02:42] gabizou opened #117 "Annotation Processor Chokes on Inner Classes"
Throughout various injections in Sponge's implementation, there are a few that inject into methods where either the target or the targeted method itself uses a nested class type as an argument and Mixin AP will chuck a warning at compile time, even though the injection is perfectly valid at runtime.

@Mumfrey was suggesting that it could be chocking on the `$` style notation somehow.

[2016-04-22 03:50] gabizou opened #118 "Document remap for both Injections and At usages"
In a recent code cleanup session with Sponge, I found that many injections that were targeting methods that were mapped to classes like `java.util.List`, `java.util.UUID` etc. would fail to be remapped (for obvious reasons) and the Mixin AP would output a warning. I found that this wasn't really well documented in the wiki, so I'm suggesting that it is documented and made aware for mods alike to c

[2016-04-22 10:38] Mumfrey commented on #118
Yeah I've observed that `remap` is one of the least understood arguments, though it is currently documented in [the javadoc](http://jenkins.liteloader.com/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/injection/At.html) (as are most things) though I will make a note to include it in the AP documentation when I get to that.

[2016-04-22 12:14] #117 closed

[2016-04-26 03:33] gabizou opened #119 "Ability to redirect constant loading"
Given the following byte code:
![bytecode](http://puu.sh/ovXJe/ae9d0f8779.png)

I know it'd be fairly simple to either add a new type of redirect for constant loading, or something thereof to inject/modify the constants being loaded to the stack.

While it would probably involve injecting in awkward positions, it should certainly be feasible.

[2016-04-26 04:16] gabizou opened #120 "Documentation needed on when to use MixinEnvironment Compatibility Levels"
Recently, when a user was asking about what was wrong with his environment, he was using Java 8 etc. but it didn't occur to us helping to ask if the line:
[code]
was set in his CoreMod.

It would be helpful I think if the wiki or somewhere else in the documentation (or maybe even use a `PrettyPrinter` for this) to explain why the compatibility level needs to be set or why the Java byte code is inc

[2016-04-26 10:35] Mumfrey commented on #119
You are correct, it wouldn't be too hard to have `@Redirect` also work for `LDC` insns.

[2016-04-26 10:40] Mumfrey commented on #120
Whilst I would normally agree with you, the `setCompatibilityLevel` thing is only a stop-gap until 0.6 and moves into the config at that point anyway. Since I will have to document all the config changes in any case I won't handle this as a separate issue but rather just roll it up with the documentation changes for 0.6.

[2016-04-26 10:40] #120 closed

[2016-04-26 19:02] RecursiveG opened #121 "How will Mixin be distributed to players?"
Since Mixin is a fantastic replacement of Forge's ASMTransformer and can be used by many mods, I wonder in that way mixin will be distrbuted.
I don't think it's a good idea to pack mixin banaries into every mod uses it.
Will it be distributed together with sponge? Or will it be a part of other mod loading frameworks like forge and liteloader?
If I want to use mixin in my mods, which situation I co

[2016-04-26 19:39] Aaron1011 commented on #121
@RecursiveG: Sponge and liteloader both shade Mixin into their jars. As far as I know, Forge is not planning to move to Mixin, at least in the near future. So, if you're writing a Forge mod, you'll need to shade Mixin to ensure that it's available.

[2016-04-26 20:44] Mumfrey commented on #121
As @Aaron1011 pointed out, Mixin is supported as a first-class library liteloader and is also shaded into Sponge.

Whilst in the long term I have no idea what will happen, it's worth noting that in its current form Mixin is designed so that whichever agent is responsible for Mixin's bootstrap, other Mixin consumers will still be able to take advantage of it, and version mismatches can be detected

[2016-04-26 23:08] RecursiveG commented on #121
@Aaron1011 @Mumfrey Thank you.
Clear and useful.

[2016-04-26 23:08] #121 closed

[2016-04-27 18:14] Barteks2x opened #122 "Error when Mixin specified in configuration is not found is ignored, even if the Mixin is required."
When Mixin specified in configuration file is not found (even if specified as required) the stacktrace is printed to console and exception is ignored, it's not passed to IMixinErrorHandler.

While such error should never happen in production, spotting such exception in the early log spam is very hard, especially when it's not expected.

Example stacktrace (from dev environment):

    java.lang.Cla

[2016-04-27 18:20] Mumfrey commented on #122
This was brought to my attention last week and provision was made for it in 0.5.4.

[2016-04-27 18:20] #122 closed

[2016-04-27 21:26] Mumfrey commented on #119
Closed via f19f4deac6c45e0e1260e458634b0c52d6f772e5

[2016-04-27 21:26] #119 closed

[2016-04-27 21:52] Barteks2x opened #123 "CoreMod coexisting with Mixins always gets obfuscated names instead of srg names in production environment"
I am currently in the process of converting my custom ASM transformers to Mixin, and I noticed that when my ASM transformers and Mixin are used at the same time it works in dev environment, but in production environment it always fails because the code expects srg names, but it's given obfuscated (notch) names.

After asking on #spongedev, the first attempt to solve it was adding `@Resource` annot

[2016-04-27 22:40] liach commented on #123
Give the repo of your code.

[2016-04-27 22:42] Mumfrey commented on #123
I'll take a look into it. The class names and bytecode are passed through the normal transformer chain in order to ensure this doesn't happen, but I guess it's possible something has changed in FML or some other circumstances are working to prevent it operating as normal.

[2016-04-27 22:47] liach commented on #123
@Mumfrey Could you add such conversions to MixinGradle?

[2016-05-10 17:37] Barteks2x opened #124 "java.lang.IllegalAccessError when writing to @Final @Mutable field from mixin subclass (supermixin)"
When trying to set `@Shadow @Final @Mutable` field from Mixin that is subclass of other Mixin, it crashes with `java.lang.IllegalAccessError` at runtime.

Here is example code that shows the issue:
[code]

[code]

A simple workaround is to crease a setter method:

[code]
[code]

It fails because access modifiers of the field aren't actually changed. JVM allows writing to the field from the same cl

[2016-05-10 18:58] Mumfrey commented on #124
Yeah this is because `@Mutable` was really just there to suppress the warning when exploiting that particular JVM loophole, essentially just a way of acknowledging that you're being naughty intentionally rather than by mistake (which is what the whole `@Final` thing is about in the first place).

Whilst in general the idea is that if you want to do what you're doing then you're supposed to use an

[2016-05-10 19:17] Barteks2x commented on #124
I see why it works the way it works. It's not a major issue and it's easy to workaround it, so if it's a lot of work to fix it - I wouldn't see the point of doing that.

Doing the same thing as access transformer would be one way to make it work, another way would be to generate synthetic field setter - which is what java compiler does for inner classes that access private field of enclosing class

[2016-05-10 19:21] Mumfrey commented on #124
It'd be a cool feature to have and it's actually easy to do.

[2016-05-10 19:24] #124 closed

[2016-05-12 01:45] killjoy1221 opened #125 "Field descriptor not remapped when generating refmap"
This wouldn't be an issue using forge, but it breaks when using notch names.

Here is the [generated refmap](https://gist.github.com/killjoy1221/524667feb2513ff99524a6a7fc582f64) that is made. The first one (`bipedLeftArmwear:ModelRenderer`) is a field reference. The type of it is not obfuscated in the notch names. It should be `Lbkm;`

[2016-05-12 10:38] Mumfrey commented on #125
That's odd, it's [supposed to remap the class](https://github.com/SpongePowered/Mixin/blob/initphase/src/ap/java/org/spongepowered/tools/obfuscation/ObfuscationManager.java#L169) in field references, it's possible that [getObfClass](https://github.com/SpongePowered/Mixin/blob/initphase/src/ap/java/org/spongepowered/tools/obfuscation/ObfuscationManager.java#L150) isn't returning the correct data. I

[2016-05-12 11:07] #125 closed

[2016-05-12 11:27] LinkTheProgrammer opened #126 "Does Mixin handle mixin conflicts?"
I was wondering if Mixin handles conflicts between mixins? For example:

- Two or more Mixins want to modify the same variable
- Two or more Mixins want to modify the same method
- Two or more Mixins want to modify the same class
- Two or more Mixins want to modify the same constructor

And if it does handle these Mixin conflicts, how?

My proposed solutions to these problems are quite simple:

-

[2016-05-12 11:48] Mumfrey commented on #126
This is why priority and `@Final` exist.

If you're talking about `@ModifyVariable`, these are injectors and thus no conflict occurs unless two mixins target the same instruction, in which case the priority semantics take over. If two mixins add the same variable there is no issue. It's not even an issue if two mixins add a field with the same name but different types because this is totally allow

[2016-05-12 11:48] #126 closed

[2016-05-12 16:43] LinkTheProgrammer commented on #126
That's literally the dumbest thing I've ever heard. I mean, notwithstanding the fact that it wouldn't work at all, if we put aside that tiny nugget for one second then you'll realise that Mixin is designed with ruthless efficiency in mind (note all the restrictions and flat-out prohibitions built into mixin's core) and to this end it doesn't do any kind of "wildcard" behaviour which can change the

[2016-05-12 17:23] modwizcode commented on #126
I would recommend asking questions not through issues but through IRC, this can help prevent confusion that might be clarified quickly in a more responsive conversation.

[2016-05-12 17:39] Mumfrey commented on #126
It's perfectly fine to have half-baked ideas, just keep them to yourself because you're wasting everyone's time by sharing them. If you want to get involved with something, at least have the common courtesy to spend more than 30 seconds daydreaming up random ideas, eg. do the "due diligence" research. The kind of nonsense posted above just screams of not having the decency to do even that.

I woul

[2016-05-19 10:58] Barteks2x opened #127 "java.lang.VerifyError: Operand stack underflow when multiple redirector injectors target the same opcode"
When updating to forge 1.9.4 my ChunkCache mixin caused VerifyError, this is the smallest Mixin that still causes it:
[code]
And here is the whole error: http://pastebin.com/Kp1Pe83N

[2016-05-19 11:53] Mumfrey commented on #127
Thanks for the report, I will look into it and see what's going on.

[2016-05-19 12:07] Mumfrey commented on #127
I can't reproduce this in vanilla with your test code so I guess some change that forge is making is the cause of the issue. I guess I will have to set up a forge workspace to test this out so it'll take a bit longer to investigate.

[2016-05-19 12:15] Barteks2x commented on #127
It turns out it was my own mistake. I was redirecting the same method from 2 different mixins. I asked on #spongedev before reporting it and I was told to report it here. Sorry for confusion.

In 1.9 there was getBlockStateRaw method in RegionRenderCache, but in 1.9.4 this class wasn't there. So I moved the redirect from RegionRenderCache to client version of ChunkCache mixin. But there was alread

[2016-05-19 12:46] Mumfrey commented on #127
Redirectors are actually supposed to detect that kind of thing though, so it's kind of still a bug. In a nutshell if a redirector from one mixin "claims" a particular opcode, then only a mixin with a higher priority should be able to "claim" that same opcode and redirect it. This is part of the design which is there to ensure that multiple mixins can safely target the same classes and the priority

[2016-05-19 15:26] Mumfrey commented on #127
I have tracked down the problem, thanks for reporting this, it means I can push a fix and next time you'll get a sensible error instead of a corrupted class file.

[2016-05-19 17:47] #127 closed

[2016-05-22 11:08] Minecrell opened #128 "@Redirect method call in constructor"
I know that `@Redirect`s (or other modifications) can't be used in constructors, but I'm kind of facing a situation where I think it is necessary (unless I write a custom transformer):

This is the class (on 1.9.4):

[code]

As the comment already explains, I want to redirect the `loadChunk` method call to another method, without calling `loadChunk`. Specifically, I want to redirect it to another

[2016-05-22 11:44] Mumfrey commented on #128
You can use `@Redirect` in constructors. The restriction is on the use of `@Inject` which must be at `RETURN` in a constructor, but `@Redirect` is fine.

[2016-05-22 11:48] Minecrell commented on #128
I actually tested that and got an error, but I didn't read it careful enough, it wasn't telling me I can't use it on a constructor but just that my signature is wrong...

Thanks, it works now! :S

[2016-05-22 11:48] #128 closed

[2016-05-27 18:18] gabizou opened #129 "Add a general-purpose InjectionPoint with similar semantics to ModifyConstant"
Given the following injection:

[code]

Currently, the output of the target point is along the lines of:

[code]

While adding the injection type is intended to work like this, with `@ModifyConstant` injection added recently, I've had thoughts that this sort of injection could be cleaned up in some way. If possible, I'd imagine the injector would still remain the same in style, but significantly r

[2016-06-05 22:44] gabizou opened #130 "Add Decorator Annotation for Methods Expecting NOT to Overwrite"
There are a few methods that have at times overwritten target methods in development that have caused various issues in the past, and only when we debugged through to find which method it was, we found a new reason to add `@Intrinsic`. The problem however is that when a method *is* being overwritten because of an implementation of an interface, there's no real warning of the accidental overwrite.

[2016-06-06 12:06] Mumfrey commented on #130
The semantics of `@Overwrite` are not to indicate an overwrite is occurring, because per the general contract of Mixins, overwriting should always be the anticipated action in the situation that a method already exists in the target. `@Overwrite` designates that an overwriting method targets an obfuscated method, and essentially says "handle obfuscation for this method, because its target will be

[2016-06-06 12:09] Mumfrey commented on #129
We talked about this and it's a good idea, consider it accepted but I will process more pressing features and improvements first.

[2016-06-06 19:18] gabizou commented on #130
Both of these would suffice. Ideally, we'd be using `@Unique` as it explains pretty well what the intention of the method is, for both implementing methods from interfaces, and adding helper methods (that are usually either private or protected).

I'd prefer as a debugging mode option for throwing an error instead of a warning for debugging modes ;)

As a side note:
It was this sort of thing that

[2016-06-08 21:49] jamierocks opened #131 "Wrapper Mixins"
### Introduction
Before Mixin came along and revolutionised the way modding API's were implemented, wrapper implementation was common, and although mixins are greatly superior in most regards perhaps there is something to be learnt from wrappers: their simplicity (for the most part).

### Example
For example see how much shorter (were you to remove the javadocs) [CanaryMod's implementation of Item

[2016-06-08 22:02] Zidane commented on #131
I strongly disagree on wrapping for a number of reasons:

* Wrapping means each object creation essentially becomes two (ignoring the handle being remade, we'll visit that in a sec)
* Wrapping means anyone who decides to use the implementation code must know of the wrapping and handle it accordingly. While Minecraft projects like Bukkit/Canary frown upon this, Sponge does not and we embrace it to

[2016-06-08 22:11] jamierocks commented on #131
My idea is that there is no wrapper object as such, but still a mixin. A virtual wrapper if you will.

It would give you the simplicity of a wrapper being able to use getHandle() (essentially this) either the power of mixin.

[2016-06-08 22:12] Zidane commented on #131
@jamierocks

That would simply remove the need to shadow public or protected. You would still have to shadow the private ones.

[2016-06-08 22:12] jamierocks commented on #131
Come to think of it I suppose #getHandle might be as easy as (MinecraftObject) this to implement...

[2016-06-08 22:13] Zidane commented on #131
@jamierocks

;).

[2016-06-08 22:14] jamierocks commented on #131
Yeah - either way it removes the need for some code (which is good in my eyes), but you can always use an AT

[2016-06-11 10:40] PizzaCrust opened #132 "Class version error?"
I'm using Gradle, and not using the default MixinTweaker class. I'm using a custom tweaker class to initialize Mixin.

I keep getting these unsupported class version errors, while I am using JavaVersion.JAVA_8 already.

Here is my custom tweaker class:

[code]

My mixin JSON file:
[code]

My mixin class:
[code]

Log:
[code]

[2016-06-11 10:49] simon816 commented on #132
Should this not be `JAVA_8`?

[2016-06-11 10:51] PizzaCrust commented on #132
Removed that line and returned this log:
[code]

[2016-06-11 12:18] Mumfrey commented on #132
The mixin tweaker is provided for a reason, use it. You should **not** use a custom tweaker as this breaks the co-operative loading functionality for other mixin containers.

Since you're using 0.5.6 you should be specifying the compatibility level in the config and not in the init routine.

[2016-06-11 12:18] #132 closed

[2016-06-11 13:00] luacs1998 opened #133 "How should I properly reobfuscate mixins with ForgeGradle 1.2?"
Yeah, I'm trying to get a final 1.7.10 release out with FG 1.2 before moving to 1.9/1.10/etc.

It seems that method definitions in @Redirect and @Inject annotations aren't being reobfuscated.

Take the following mixin:

https://github.com/ForgeEssentials/ForgeEssentials/blob/develop/src/main/java/com/forgeessentials/core/preloader/mixin/network/MixinNetHandlerPlayServer.java

and reobf it, and you

[2016-06-11 14:09] Mumfrey commented on #133
This is correct, the string references in the annotations are not obfuscated inline in the class file because there is no simple way to do this. Instead what happens is that the mixin AP generates what is known as a refmap file, which is a JSON file containing a mapping of method/field references to their SRG and NOTCH counterparts. The name of the generated file needs to be specified in your mixi

[2016-06-11 14:15] Mumfrey commented on #131
This is basically already possible, though I would recommend casts.

Your `getHandle` is effectively an inefficient way of doing what is already possible using:
[code]
which mixin is already smart enough to inline as a direct `this` reference (stripping the redundant casts).

If you're desperate for `getHandle`, simply have all your mixins implement a base interface which is defined thus:

[code]

[2016-06-11 14:15] #131 closed

[2016-06-12 00:37] Aaron1011 opened #134 "Allow targeting of (at-runtime) public classes through Mixin#targets"
Currently, Mixin throws an exception if a public class is targeted through `@Mixin#targets` (instead of `@Mixin#value`. However, this creates an issue when mods such as [CodeChickenCore](https://github.com/SpongePowered/SpongeForge/issues/681) use an access transformer to make these classes at runtime.

Since it's inconvenient to have to make public yourself any class which might have an AT applie

[2016-06-12 03:53] luacs1998 commented on #133
Alright, seems to work now. Thanks for the pointers!

[2016-06-12 03:53] #133 closed

[2016-06-13 03:10] luacs1998 commented on #69
Is there any further update on this? As discussed earlier, I'd like to bring back my [Entity injection](https://github.com/ForgeEssentials/ForgeEssentials/blob/develop/src/main/java/com/forgeessentials/core/preloader/injections/MixinEntity.java) to Mixin, and are waiting on progress for scattergun mixins before I can do that.

[2016-06-13 08:27] gabizou commented on #69
@luacs1998 there's a problem with that sort of injection, namely, if you ever have a case where you have an `X extends Entity` where `X` overrides `attackEntityFrom(DamageSource;F)Z`, if I'm understanding your injection correctly, you'd have any hierarchical extension that calls `super.attackEntityFrom(DamageSource;F)Z` to throw yet another duplicated event. An easy example of this: `Entity` is th

[2016-06-13 09:25] luacs1998 commented on #69
So basically, I can just patch Entity, and hope everyone else has the decency to call `super()` back to Entity?

[2016-06-13 09:54] Mumfrey commented on #69
@luacs1998 yes this is very much alive and is close to being merged, 0.5.6 represents preparatory work for this since 0.6 is a big change so I'll be merging it in stages so I can test each part.

[2016-06-13 10:12] Barteks2x opened #135 "Constraints for annotations other than Overwrite"
In my code I have a few `@Injects` and `@Redirect`s that are possibly very sensitive to changes in Minecraft/Forge code (mostly redirects with high specified ordinal, for example 6 and 7 in `CommandFill` mixin). Breakages could be possibly silent and hard to detect so constraints would be very useful here.

[2016-06-13 10:30] Mumfrey commented on #135
Not a bad shout actually, though injectors are generally easier to audit than overwrites hence adding the constraints mechanism to overwrites in the first instance. I think this is a pretty good idea though since it "can't hurt" to support this for injectors too,

[2016-06-13 14:35] olee commented on #69
@luacs1998 The reason why we need those "scattered"  mixing is exactly because we know not every implementation calls `super`.
Instead we want our code to run at the beginning of **each** implementation of the function (handling multiple calls to our injected code because of super calls is our responsibility then).

[2016-06-13 14:45] Mumfrey commented on #69
You may need to keep your transformers for now then, since the multiphase update will only support direct implementors of an interface rather than classes subclassing a particular class, though I can look into extending to support that in a subsequent version.

[2016-06-13 15:10] olee commented on #69
That would be great!
Currently it works with that lightweight injector I wrote quite nice, but it's missing all that security stuff etc. that is part of the Mixin environment so that would be nice.

[2016-06-13 15:13] Mumfrey commented on #69
Don't worry, I'll definitely put it on the wish list. As you know I'm a little over-methodical and over-cautious with adding features so progress tends to be slow and measured rather than fast and gung-ho, but supporting it will definitely be possible with multiphase so I will put it down as a feature on the to-do list.

[2016-06-13 15:23] olee commented on #69
Maybe even a higher priority feature? :smile:
Because at least we use it to patch any `attackEntityFrom` method in entities to allow permission control of this event (which is otherwise not possible in **all** situations).

[2016-06-13 15:58] JBYoshi commented on #69
@olee If you put it at the start of every implementation, then if one implementation does call `super()`, then wouldn't your injected code get called twice?

[2016-06-13 23:04] olee commented on #69
@JBYoshi YES, and that's what we need (want).
Simple example:

[code]

If we only add our code once - let's say to `EntityPlayer` - and another entity that extends `EntityLivingBase` is hurt, it would not run our code at all.
On the other hand, if we inject it into `EntityLivingBase`, we cannot prevent the `playHurtSound` from `EntityPlayer` being fired.
That is why we need a code that is injected

[2016-06-14 14:11] Zidane commented on #134
@Mumfrey

Status update on this? Just about everyone uses NEI and SF is breaking a lot of modpacks...

[2016-06-14 15:01] Mumfrey commented on #134
Fix is bundled with other changes I'm making at the moment, it wasn't indicated that this was a high priority.

[2016-06-14 22:15] #130 closed

[2016-06-14 22:15] #134 closed

[2016-06-15 15:36] #95 closed

[2016-06-15 16:02] #135 closed

[2016-06-21 14:28] #91 closed

[2016-06-21 15:47] Minecrell commented on #91
I'm probably just too stupid but after looking at the commit, I'm a bit confused because it seems to be mostly refactoring, where did you make changes to remap the refmap entries?
The reason I'm asking is mostly because I was looking if there are any changes that I need to make in SpongeVanilla to make it work there too.

[2016-06-21 15:55] Mumfrey commented on #91
It was basically already supported, and the refmap doesn't get processed it just gets disabled. All that was needed was for the remapper to be registered in dev, which I realised was already happening in multiphase so I merged that part in.

To make it work in SV you need to disable the refmap and inject an agent into the remapperchain. The only thing that won't work is obviously if the original r

[2016-06-23 15:22] Mumfrey commented on #123
@Barteks2x do you have a recent release of your mod I could test with? Now the new platform handling has been merged I'd like to see if it's improved matters at all, and I also now have a better chance of being able to fix it if it does still happen.

[2016-06-23 15:43] Barteks2x commented on #123
The latest version that had coremod coexisting with mixins was here: https://github.com/Barteks2x/CubicChunks/tree/7bd996c7f4161ff49be2c23ef81633f9b4410fd0 which is a bit old. As far as I know Mixin can be used with older MC versions so it shouldn't be too hard to try using new Mixin with this old version.

[2016-06-23 15:49] Mumfrey commented on #123
Ah ok, well I'll concoct a test case instead. Basically I think the problem will still currently exist but I have a potential solution now.

[2016-07-05 15:33] bloodmc opened #136 "Java Agent Not working properly with latest Mixin"
The following gist shows the response after adding a simple 'System.out.println' line to a inject method in MixinChunk

https://gist.github.com/bloodmc/2b8d98b7bb3fa452388558a409d60e10

Everything works fine in Mixin 0.5.7 which is what im using for 1.8.9 but doesn't work in 1.10.2 using Mixin 0.5.11.

[2016-07-05 15:36] Mumfrey commented on #136
Ah yes, the check was added so we could detect the error condition with the PREINIT mixins when some other mod has prematurely classloaded them. Of course in this situation *it was us*!

Easy to fix, watch this space.

[2016-07-05 15:48] #136 closed

[2016-08-27 14:10] ST-DDT opened #137 "Replace one constructor call with a different one"
The Sponge API has more precise Statistic types than the vanilla minecraft code.
Thats why some entries have to replaced with a more specialized one.

[code]

In the following I want to replace the constructor call to `StatBase` with a newly created class's constructor.

`new StatBase(something)` -> `new EntityStat(something, else)`

That way I don't have to overwrite the entire method. Calling th

[2016-08-27 15:08] Zidane commented on #137
@ST-DDT

The best you can do here is inject before the return and return your own impl of StatBase.

[2016-08-27 15:11] ST-DDT commented on #137
I have to overwrite the methods in that case, because I cannot create two Statistics with the same id. Minecraft prevents this.

[2016-09-07 05:35] gabizou opened #138 "Shadow Replaced Field Initializers Not Working"
This feature used to work, not sure when it broke:
![ChunkProviderServer](https://puu.sh/r2H4y/1cde134de6.png)

The field in the debugger is still showing a `Long2ObjectOpenHashMap` which should've been replaced with a `CachedLong2ObjectHashMap` from the mixin being applied.

[2016-09-07 05:44] bloodmc commented on #138
I can confirm. I experienced the same issues trying to replace some fields in other classes.

[2016-09-07 10:12] Mumfrey commented on #138
I'm not really sure what that screenshot is supposed to show, since it shows a mixin for `ChunkProviderServer` but the decompiled output of `WorldServer`, but I'll take a look into it anyway. I have no idea why it would have broken, unless it's something related to the newest JVM for example.

[2016-09-07 10:15] Mumfrey commented on #138
Have you checked the logs to ensure you're not hitting an opcode blacklist?

[2016-09-07 10:32] kashike commented on #138
The screenshot shows the debugger at the bottom, showing the `id2ChunkMap` field on `ChunkProviderServer`.

[2016-09-07 10:41] Aaron1011 commented on #138
I believe I ran into a similar problem before, where Mixin injects field initializers from the Mixin into every constructor. When one constructor calls another, the field initializers can end up overwriting any changing made from an injection at `HEAD`

[2016-09-07 11:33] Mumfrey commented on #138
I can see that, but it's not relevant to the issue title because the issue says "initialisers not injected" and the screenshot doesn't show that. A screenshot showing an instance does not demonstrate that the Mixin was even applied for example.

You cannot inject at `HEAD` into a constructor for this reason. Field initialisers are always appended to the very end of a ctor body.

[2016-09-07 14:56] gabizou commented on #138
Found what's going on: the field initializers are being added at the beginning of the constructor instead of the end of the constructor.

![Constructor](https://puu.sh/r3287/c0b3e2b4de.png)

[2016-09-07 15:18] Mumfrey commented on #138
Yes and looking at the code I now remember why, that's what's always happened because I had to remove the line-number based injection point detection because it doesn't work in production. We'll have to try and come up with some way of doing this which will work against a production environment, could be very tricky.

[2016-09-08 16:45] #138 closed

[2016-09-08 17:02] Mumfrey commented on #137
@ST-DDT there's nothing wrong with this in principal as long as some conditions are met.

In principle, as long as the class in question is a subclass of the one being swapped out, and has an idenitcal, visible constructor, the `NEW` and `INVOKESPECIAL(<init>)` opcodes could just be straight swapped to point at the new class. However I'm not really a fan of this because it's pretty brittle and ugl

[2016-09-08 19:05] bloodmc commented on #138
@Mumfrey I tested latest mixin with bleeding and noticed a ton of spam of
[code]
Can this message be removed?

[2016-09-08 21:43] Mumfrey commented on #138
Do you have Mixin from somewhere else also on your classpath by any chance? That's the only thing I can think which would cause that. I'm not at home at the moment but I'll have a look when I'm back.

[2016-09-09 14:02] Mumfrey commented on #138
@bloodmc should be fixed now dude.

[2016-09-13 20:36] Minecrell opened #139 "Mixin causes an re-entrance error after loading Mixin plugins"
I've run into a quite weird problem which seems to only happen in some very special cases. Basically, it seems like Mixin is causing a re-entrance error itself **after** loading the Mixin config plugin classes.

Since it is a bit hard to explain, I've created a small test project which fails with a re-entrance error when running it: https://github.com/Minecrell/mixintest

This is the error I get:

[2016-09-13 21:59] Mumfrey commented on #139
I think I understand what you're getting at, I'll investigate and see what I can do.

[2016-09-14 10:02] ryantheleach opened #140 "source linking / line numbers?"
**Motivation**:

This was some months ago, and since then either IntelliJ or my workspace has changed and I'm no longer able to replicate, I believe @gabizou has either seen this or replicated this setup previously.

----
**Backstory**:

@simon816 alerted me to the option "setSourceFile": true which lets you configure the mixins to reference the classnames of the mixins in stack traces.

![image](

[2016-09-14 10:57] Mumfrey commented on #140
This is a bit of a long answer so take a seat, I will explain what the options are:

Basically for regular java, compiled class files have two bits of information in them: "source file name" which is part of the header, and the "line number table" which is (optionally) stored with each method and basically stores a mapping of opcode index -> (original) line number.

This is obviously a problem for

[2016-09-14 13:28] ryantheleach commented on #140
Firstly, I greatly appreciate the long response, thankyou for taking the time.

Whilst I was researching the issue, I found reference that IDEA at some stage had a option for it's debugger to either compare bytecode or line numbers when debugging. I guess that comparing bytecode proved to be a reliable feature as I can not find the setting in the 2016 editions of IDEA

[2016-09-14 15:21] Mumfrey commented on #140
If you are satisfied with your answer please say the words "I am satisfied with my care"

[2016-09-14 15:37] ryantheleach commented on #140
[I am satisfied with my care](https://youtu.be/FmaJPV1okPo?t=2m14s)

[2016-09-14 15:37] #140 closed

[2016-09-14 15:38] gabizou commented on #140
I've been able to use the export feature and associate the generated `.mixin.out/class` folder as a "Dependency" (with `provided` resolution) and IntelliJ will be able to associate it during debug time. It just gets a little funky since line numbers don't always match up.

[2016-09-14 15:51] ryantheleach commented on #140
Maybe it was because I was using .mixin.out instead of .mixin.out/class

[2016-09-14 16:53] gabizou commented on #140
Yeah, adding it as a library works, it's just managed in the module's dependency tab. Note that making it provided doesn't require it to compile (if you have sources), nor does it use it at runtime.

[2016-09-16 14:45] Mumfrey commented on #139
So `semaphore` is needed to check whether any re-entrance happened since `clear()` was called, and thus cannot simply by unset once the depth is properly popped back to zero. However, using it for the actual depth-check seems to be the issue. Basically I should be using `check()` in the transformer and not `isSet()`. This should rectify the problem.

[2016-09-16 14:46] #139 closed

[2016-09-17 05:48] Minecrell commented on #139
Thanks, that fixes the issue. :)

[2016-09-21 19:24] asiekierka opened #141 "Support other mapping formats in the AP"
In order to make the Mixin library a more general-purpose one, it would be useful to support other mapping formats/schemes than MCP.

I have identified the following steps necessary to accomplish this goal (with an attempt at ordering them):

- [ ] Refactor SrgContainer into an interface, making SrgContainer its implementation (also, rename SrgField/SrgMethod to FieldEntry/MethodEntry)
- [ ] Refac

[2016-09-22 15:31] Mumfrey commented on #141
As we discussed in IRC, I'm happy to undertake these changes once I am back in the UK.

[2016-09-25 10:16] thomas15v commented on #57
I just leave this for people who also have this problem and want to mix non-coremods. To make normal mods available in the DEFAULT Environment all you have to do is this: https://github.com/densitycraft/Glue/blob/master/src/main/java/com/densitycraft/glue/loader/PatchLoader.java#L55-L58.

[2016-09-29 18:10] Minecrell opened #142 "Allow @Redirect on Mixins with multiple targets"
I have this Mixin:

[code]

Basically, it hooks in very similar implementations of `sendCommandFeedback` in all 3 target classes. In development environment it applies without errors on all target classes. However, when compiling the project with Gradle the annotation processor complains:

[code]

In this case, since `sendCommandFeedback` is a method of the `ICommandSender` interface, the obfuscat

[2016-09-30 10:29] Mumfrey commented on #142
The main reason it's not allowed is for sanity. In this case because all of the methods inherit from a common interface they will have the same name, however this is not a cast iron guarantee. The single-target check was originally meant for shadows but the same logic was applied to injectors as well because they suffer the same potential problem.

Whilst it complicates the AP logic, it's not impo

[2016-10-01 22:41] #141 closed

[2016-10-03 11:42] Mumfrey opened #143 "Injector conform is defeated if derived class mixin does not extend supermixin"
Injector conform is supposed to give unique decorated names to injectors in derived classes if the injector is **not** deliberately overriding a supermixin injector. However injectors in derived mixins can overlap (conformed to the same decorated name) if the derived mixin *does not* inherit from the supermixin.

See detail on SpongePowered/SpongeCommon@de9f17a7657db81b518ccc5d5c6f520006ce9115

[2016-10-03 14:17] Zidane commented on #142
@Mumfrey

This is stalling https://github.com/SpongePowered/SpongeCommon/pull/498 from being merged (at least, without requiring additional mixins solely to work around this limitation).

I need a status on this.

[2016-10-03 14:52] Mumfrey commented on #142
I mentioned in IRC on saturday that this is effectively accepted but needs some serious overhaul in the AP. Once I've fixed #143 I will do it next but it's several days worth of work.

[2016-10-03 15:15] Mumfrey commented on #142
Having looked at it a bit more, the refactoring I've already done makes this much simpler to do, so shouldn't be too tricky to tackle, at least in a basic manner.

[2016-10-03 15:26] #143 closed

[2016-10-04 15:31] asiekierka opened #144 "No way to tell MixinConfig to load *both* client- and server-specific mixins"
This would be useful for applying mixins into a "merged" Minecraft JAR file outside of runtime. I propose a dev property, perhaps "mixin.applyAllSidedMixins"? The necessary patch has to be done in MixinConfig.prepare.

EDIT: Apparently I don't strictly need this feature, so use your best judgement as to whether or not it should make it in.

[2016-10-04 16:56] Mumfrey commented on #144
In general, this is what config companion plugins are for. Essentially in Mixin there are 3 mixin sets:

* Client
* Server
* Both

Of course if you want to put all mixins in the *Both* set and then decide whether to apply them based on side, you can do this with your companion plugin instead of letting Mixin itself decide.

Essentially, since Mixin can't know in advance about every possible scenar

[2016-10-04 17:37] asiekierka commented on #144
I see. If there's a way to do it already, the issue can be closed.

[2016-10-04 17:37] #144 closed

[2016-10-04 20:55] #142 closed

[2016-10-05 08:10] Minecrell commented on #142
It seems like it doesn't work in my case because one of the targets is an anonymous class:

[code]

It works fine if I remove the anonymous class from the Mixin targets.

[2016-10-05 08:26] Minecrell commented on #142
Ignore what I said above, I just had to actually read the warning and add the full method signature. I basically only read `net.minecraft.command.CommandExecuteAt$1` and thought it isn't possible to use a `@Redirect` on multiple targets if one of them is an anonymous class.

[2016-10-05 10:22] Mumfrey commented on #142
It's because Mirror won't let you access anonymous classes, so those injectors always required a signature. All I've done is promote that message from `WARNING` to `ERROR` if it's a multi-target mixin, because otherwise the fact that the other mappings succeed could hide the fact that the anonymous one is failing. By forcing it to be qualified, it can be properly grouped with the equivalent member

[2016-10-05 20:07] ST-DDT commented on #137
Just for reference (for me) how to use this feature:

**ORIGINAL** (`StatList#getStatEntityKilledBy(EntityList.EntityEggInfo)`)

[code]

**MIXIN** (`StatBase#StatBase(String, ITextComponent)` -> `MixinStatList#getStatEntityKilledBy`)

[code]

[2016-10-08 15:07] asiekierka opened #145 "Changes to allow applying mixins in multiple runs"
The case I have ran into requires us to "pre-bake" certain mixins into the JAR for easier accessibility by a potential developer. However, other mixins may still be applied at runtime. ~~This requires the Mixin API to be able to store the necessary state values in the class and/or have them be handled, possibly by the use of annotations - for instance, the counters for unique method/field names (w

[2016-10-08 18:38] Mumfrey commented on #145
I see. It seems like you're trying to use Mixin in a way that it's not intended to function and I'm wondering why though?

The "state" as you have identified it, is intentionally created and preserved in order to facilitate efficiency, there are many aspects of the design which are intrinsically stateful (intentionally so) and the ones you have identified are really the trivial easy-to-spot aspect

[2016-10-08 18:46] #145 closed

[2016-10-08 18:47] asiekierka commented on #145
I'll open a new, clearer issue with Mumfrey. Wait for that.

[2016-10-09 09:50] asiekierka commented on #145
No need for an issue, but I found something that looks like a bug:

As we discussed, I apply a mixin "A" in offline mode and a mixin "B" in online mode and "desprinkle" it. They both target the same function. However, the Mixin API does not seem to check if the unique method name for the injection is actually present:

        this.handler$init$zza000(new CallbackInfo("test2", false));
        thi

[2016-10-09 13:35] Mumfrey commented on #145
As I said, solving this is as simple as just using an *ever so slightly different* conform mapping during offline application, even as simple as just appending a single extra character in offline mode. I had already accounted for this in terms of what will be needed to achieve "offline mode".

[2016-11-02 11:02] modmuss50 opened #146 "MixinEnvironment cannot determine the side when using a custom ITweaker"
There doesn't appear to be a way to specify the side when using a custom tweaker.

After a bit of poking around I found that it appears to be hard coded to work with Forge and LiteLoader.

https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/MixinEnvironment.java#L196

I came across this as I noticed my mixins were not being applied and I was given this erro

[2016-11-02 11:28] Mumfrey commented on #146
I assume you're talking about SpongeVanilla? That message can be safely ignored because all it's telling you is that Mixin itself couldn't automatically detect the side. Sponge vanilla [just calls `setSide`](https://github.com/SpongePowered/SpongeVanilla/blob/da038acaea204be3e78e5526f61c182a5381ab57/src/main/java/org/spongepowered/server/launch/VanillaServerTweaker.java#L144) in order to set the s

[2016-11-02 11:28] #146 closed

[2016-11-02 13:08] modmuss50 commented on #146
I am using it in fabric, but if its safe to ignore it thats fine. Looks like I missed setSide so that should fix the issue.

Sorry about that

[2016-11-02 15:22] Mumfrey commented on #146
There are 3 mixin subsets defined in a mixin set (aka configuration). "Common", "Server" and "Client". The common mixins are always applied regardless of side, the server and client ones are only applied if the side is set (or detected) in the environment. So basically, if there are no sided mixins (or if sidedness is - for example - being determined by the mixin config's companion plugins) then i

[2016-11-02 15:28] modmuss50 commented on #146
Yeah, once I set the side, the errors went away and the mixins started working.

Thanks for the clearing that up with me.

[2016-11-08 21:05] ElvenChaos opened #147 "Class overwrite issue with Ars Magica 2"
_Not sure if this belongs in this issue tracker or Sponge Forge's one, or even if this belongs with AM2's tracker._
_Mirror to AM2's issue instance: https://github.com/Growlith1223/ArsMagica2/issues/17_

With AM2 and Sponge Forge installed, Mixin is throwing an error about a class it is trying to tweak being loaded prematurely.
Paste of relevant fml-server-latest: http://pastebin.com/UdnkCBh7

MC