[2016-11-08 21:14] Mumfrey commented on #147
The is an issue with the mod in question. If you wish to track it on Sponge's end then do so via the SpongeForge tracker since this is Mixin raising an error due to environment and not actually an issue with Mixin itself.

[2016-11-08 21:14] #147 closed

[2016-11-12 06:15] gabizou opened #148 "Mixing into Interfaces with Lambdas"
There's an issue with the following for mixing into an interface:

The interface (from SpongeAPI):
[code]

And the provided mixin:

[code]

At load time, the application ends up failing to apply with the following stack trace:
[code]

Now, the issue is somewhat clear that lambdas are not proper methods but default implemented methods in the interface, granted, I feel that this is an error on Mixin

[2016-11-12 21:12] Mumfrey commented on #148
Basically another case where I need to suppress an error when something is synthetic by the looks of it.

[2016-11-14 13:53] #148 closed

[2016-11-21 15:07] Barteks2x opened #150 "When running with -Dmixin.checks.interfaces=true mixin reports unimplementd interface methods in abstract classes"
I know it's only debug/additional checking option so it's very low priority, but I donn't think it's correct, and I don't think it would be very hard to fix it (or is it hard?)

In my case, I have interface for World with one method that needs different implementation for client and server world, so it's not implemented in World mixin. World is abstract class, so unimplemented methods aren't an is

[2016-11-21 15:25] Mumfrey commented on #150
It's kind of intentional, since of course Mixins are generally supposed to be declared `abstract` anyway so it can't really suppress those checks for abstract classes because it would suppress everything in most cases. I could add an annotation (or maybe just support `@SuppressWarnings`) so that certain classes could be ignored but in general the processor can't ignore the warnings without some ad

[2016-11-21 15:32] Mumfrey commented on #150
Oh I misunderstood. You mean if the **target** class is `abstract`? Yeah that could be easily suppressed.

[2016-11-21 15:32] JBYoshi commented on #150
I intentionally added warnings for abstract classes some time ago. It was to prevent a situation like this:
[code]
In this case, if someone tries to call `new ModFoo().runFoo()`, the game will crash, because there is no implementation of `go()` for `ModFoo`.

[2016-11-21 15:34] Barteks2x commented on #150
That's a good point, I guess I was just thinking in terms of the world class that I don't think anyone sane will ever extend.

[2016-11-21 15:36] Mumfrey commented on #150
Then the answer is just to selectively suppress the warnings to give control to the mixin author, at least you could control the output then.

However in the case you're suggesting, it would make more sense to actually fix the error by actually mixing in implementations for the methods in question which just manually throw `NotImplementedException` or `NoSuchMethodError`

[2016-11-21 15:40] Barteks2x commented on #150
That looks like a good solution.
Implementing this method in World also means that the check is disabled for implementations, but this is only one method and changes in vanilla can't possibly break it in any way so it's not a problem here.

[2016-11-22 16:09] #150 closed

[2016-11-22 21:14] Aaron1011 opened #151 "@Implements annotations are not handled by the AP"
The `@Implements` annotation is usually used for implementing non-obfuscated interfaces, such as from SpongeAPI. However, it can become necessary to use it for obfuscated interfaces (such as `IMerchant`) when mixing obfuscated interfaces onto other interfaces using an interface mixin.

In this case, we need to mix `IMerchant` onto the the SpongeAPI interface `Merchant`. However, due to a conflict

[2016-11-23 11:43] Mumfrey commented on #151
I see your issue, `@Implements` is not currently processed by the processor but will need to be remapped for this purpose. The class name in the `@Implements` itself will also need to be remapped for when the target environment is not Searge mappings.

[2016-11-23 15:17] Mumfrey commented on #151
So I forgot that the `@Interface` annotation doesn't support "soft targets" so it actually makes it a little simpler to handle. Should be able to close this quite soon.

[2016-11-23 18:02] #151 closed

[2016-11-24 02:43] gabizou commented on #151
@Mumfrey so, `@Interface(iface = IMerchant.class, prefix = "imerchant$", remap = ALL)` would be what I'm looking to do (yes, I know the default is ALL anyways, but just to be sure).

[2016-11-24 11:09] Mumfrey commented on #151
Essentially yes, I added `ONLY_PREFIXED` so that in the unlikely event of there being an "intrinsic" member in the interface which matches exactly, it won't try to remap it. This remap is a bit brute-force though so I'm hoping it will be sufficient, the only alternative is having to annotated individual members, which I don't really want to do for obvious reasons.

[2016-11-29 00:30] CrushedPixel opened #152 "Can't reference classes that are not present during compile time in @Mixin targets"
I'd like to Mixin a class from a different mod that may or may not be available during runtime, but certainly not during compile time.

In my case, I'd like to Mixin the class `shadersmod.client.ShadersRender` from Optifine/Shaders Mod. As the class is not existent during compile time, I'm using the `targets` attribute of the `@Mixin` annotation to reference it.

However, when compiling, the follo

[2016-11-29 00:40] Mumfrey commented on #152
Per our discussion on IRC, I am more than happy to accommodate this so I will look into it and provide a fix as soon as I am able.

[2016-12-04 00:15] Aaron1011 opened #153 "MixinPlatformManager should call scanClasspath immediately"
Currently, MixinPlatformManager first calls its `scanClasspath` when triggered by `MixinTweaker`'s `injectIntoClassLoader` method (from `ITweaker`). This is normally fine, but creates a problem when two different coremods are using the Mixin tweaker.

When MixinTweaker is specified in the manifest of two different coremods, the first of the two loaded by FML will 'win', and MixinPlatformManager wi

[2016-12-04 12:27] Minecrell opened #154 "java.lang.VerifyError: Bad local variable type when injecting with locals"
Injection point: [MinecraftServer.getTabCompletions](https://gist.github.com/Minecrell/2996b98f1ab4b32edd3610d29177f92c#file-java-L24) on Minecraft 1.11 (see link for exact injection point).

Trying to inject at the first return with local variable capture results in two different signatures in the IDE and in production:
  - **IDE:** `[Ljava/util/List;, Z, [Ljava/lang/String;, Ljava/lang/String;]`

[2016-12-04 12:54] Mumfrey commented on #154
Yeah this has reared it's head multiple times in the past for various reasons, and it's usually a function of one of:

* ASM "expand frames" actually expands using a pretty dumb algorthim, though that doesn't look like the case here
* The fact that the decompiling with MCP doesn't just decompile, but also "fixes" a bunch of things (both MCInjector and the Forge Fernflower fix a lot of decompile de

[2016-12-18 11:19] Minecrell opened #156 "Mixin debugging support"
Continued discussion from #155.

### The issue
Mixin classes are merged into the target classes at runtime. Because of that, debugging Mixins usually results in jumping around on invalid lines in the source of the target class instead of in the actual Mixin code.

The debugger resolves the source location using the class name and the `SourceFile` attribute of the Java class file, which is limited

[2016-12-18 11:52] Minecrell commented on #156
@Mumfrey

My intention for the PR was to provide a proof of concept for one of options we can choose. I didn't expect to get it merged as-is, instead I wanted to suggest one way to implement it. I don't mind moving the discussion to an issue.

After looking at the debugger implementation of IntelliJ IDEA I came to my personal conclusion that implementing it with SMAP is actually much more work com

[2016-12-18 12:43] Mumfrey commented on #156
First of all, thanks for making this issue. This is something I've played around a lot with in the past, especially with respect to trying to get SMAP to work and found that basically I can generate a perfectly valid SMAP and have it roundly ignored by basically everything, including the Java runtime, IntelliJ and Eclipse. So to your points.

What I would have hoped though, is that if there's supp

[2016-12-18 12:45] Mumfrey commented on #153
I have no idea how I missed this issue. I will look into it.

[2016-12-18 12:48] Mumfrey commented on #102
Closing because it forms part of #108

[2016-12-18 12:48] #102 closed

[2016-12-18 13:10] Minecrell commented on #156
@Mumfrey That sounds good. I have sent you a PM on IRC for the SMAP branch - if you have a working solution that generates a SMAP I can play a bit with the JDI and IntelliJ API and see if I can get something working.

For the XML document: Would you generate one for every Mixin or one for all Mixin that have been applied? For the debugger we need to be quite careful because as soon as the class is

[2016-12-18 13:35] Mumfrey commented on #156
Sure, though I dunno how much work is going to be needed to rebase it because the original was written in April '15 and I think I rebased it last some time earlier this year so it'll probably need some love before it works with the current build.

It's one XML document but it gets serialised after every mixin application, same as the implementation report.

No, you misunderstand. Auditing happens

[2016-12-18 14:40] Minecrell commented on #156
So how could we use this in the IntelliJ IDEA plugin to have the data available when debugging?

[2016-12-18 14:44] Mumfrey commented on #156
Have your consumer pump the data into intellij using whatever method suits. Named pipe or socket would be the easiest but you could write it to disk for that matter.

[2016-12-21 18:06] Minecrell commented on #156
I have rebased your changes on `master` and pushed the rebased commit to the `sourcemap-rebased` branch on your server. I've also done some tests with the IntelliJ IDEA debugger to see if we can get debugging working with the SMAP.

The reason why your implementation isn't working as expected seems to be related to the usage of the default `Java` stratum. The specification mentions:

My testing ha

[2016-12-21 18:16] Mumfrey commented on #156
It's worth bearing in mind that the code on that branch was just what was committed after a considerable number of painful hours trying all sorts of different things, and I'm pretty sure I actually only set the stratum name to `Java` right near the end just to try and get literally any response out of the debugger to the presence of the SMAP. I tested with strata named by the mixin, just named `Mi

[2016-12-21 19:48] Minecrell commented on #156
I have implemented it in https://github.com/minecraft-dev/MinecraftDev/pull/115/commits/601eb05dc33acb236670972877a7f803b17fa81f. The implementation is very similar to my previous one except that I was able to remove the parser of the custom format since I can just query the values from the SMAP using JDI.

The way it works is that IntelliJ IDEA allows registering multiple `PositionManager`s. They

[2016-12-21 20:01] Mumfrey commented on #156
I only added that because I wasn't sure whether having the "real" source file in the `SourceFile` attribute was defeating the use of the smap. It was all test code.

Again, just an artefact of the fact that that code was only ever to try and figure out if it worked in principle, fixed-sized strata weren't intended to be a real production thing. It needs to be as compact as possible though because

[2016-12-21 20:02] Mumfrey commented on #140
Pinging possible solution in #156, though it will require a plugin in intellij and possibly later in eclipse.

[2016-12-21 20:19] Minecrell commented on #156
I'm not aware of such a limitation (at least I didn't see anything regarding this in the class file specification or in the debugger code) but on the other hand I'm not an expert in Java bytecode things.

OK, let me know when you have pushed the change to a branch or similar, then I can test them with my changes in MinecraftDev so we can be sure it is working properly.

[2016-12-21 20:59] Mumfrey commented on #156
Line numbers are stored as `short` in the bytecode from what I remember, so it might be 32768, either way there's definitely a limit.

I will take a look at it tomorrow.

[2016-12-22 07:54] gabizou commented on #156
@Mumfrey I believe line numbers are stored as unsigned shorts (seeing as you can't have negative line numbers) effectively limiting the line numbers to 65536. That being said, it's a good sign that there's a high enough limit where we shouldn't have to worry about loading up a 65k line length file or writing a class as such.

[2016-12-22 12:23] ryantheleach commented on #140
Thanks, I've been a little distant lately, the ping was appreciated.

[2016-12-29 17:51] #152 closed

[2016-12-29 18:05] Mumfrey commented on #156
The updated code is pushed to the private repo if you want to see what changes I made after you did. I've squashed the branch and pushed the cleaned-up code to `feature/sourcemap`. My Jenkins has also been [instructed to build it](http://jenkins.liteloader.com/view/Other/job/Mixin%20Branch/) so it will be available on Maven for testing.

The line numbers are now properly computed, with some tolera

[2016-12-29 18:07] Mumfrey commented on #152
This is now possible by decorating your mixin with the new `@Pseudo` ([Javadoc](http://jenkins.liteloader.com/view/Other/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/Pseudo.html)) annotation.

[2016-12-29 19:36] Minecrell commented on #156
@Mumfrey
Thank you for making the changes. It works fine with the changes for IntelliJ IDEA.

If they are using the JDI API correctly the problem with the breakpoints in Eclipse is possibly similar to a problem I had when writing the implementation for IntelliJ IDEA: Breakpoints in Mixins were working if I also had at least one breakpoint somewhere in target class.

This was happening because Inte

[2016-12-29 20:10] #156 closed

[2016-12-31 19:31] Minecrell opened #157 "Support explicit constructor descriptor when using a @Redirect with NEW"
Given the following class: https://gist.github.com/Minecrell/a56ab40b48bf6884f0c64080f4fd6b3b

Unlike for regular method or field redirectors, the `target` / `class` argument of a `@Redirect` with the `NEW` targets only the class name of the `NEW` instruction, not the method parameters of the following constructor call.

Because of that, it is impossible to `@Redirect` one of the constructors of t

[2016-12-31 20:57] Mumfrey commented on #157
`target` isn't actually used for constructor redirectors but I take your point, it should be omitted because the return type of the handler is what is actually used.

Essentially, the fix for this is not specifying the signature - which is pointless since it's already embedded in the handler signature - but just basically allowing the injector to fail on some calls as long as it succeeds on at lea

[2016-12-31 21:23] Minecrell commented on #157
@Mumfrey
It's possible to use either `target` or the `class` argument in `args`, https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/injection/points/BeforeNew.java#L85

I'd personally prefer if it's consistent with the other types of `@Redirect`s so I don't need to have two different kinds of code completion and validation. If you say that it is embedded i

[2017-01-01 14:51] Mumfrey commented on #157
No you misunderstand: `target` and `class` are to be used when using `NEW` as an injection point. For constructor redirectors you are not supposed to include them (note that [in the javadoc](http://jenkins.liteloader.com/view/Other/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/injection/Redirect.html) I only mention using `NEW` keyword).

That said, I see what you're saying about possib

[2017-01-01 15:46] Minecrell commented on #157
@Mumfrey That's interesting, I didn't know you can actually omit `target` and `class` when using `@Redirect` for constructors. There is no example for the annotation in the Javadoc of `@Redirect` so I was assuming you had to specify the `target` similar to a `@Redirect` for a regular method.

If that is the case I suggest that we also correct @ST-DDT's example in https://github.com/SpongePowered/M

[2017-01-01 15:55] Minecrell opened #158 "Insufficient maximum stack size when using constructor redirection in a simple method"
I've changed the `create` method of [my test class](https://gist.github.com/Minecrell/a56ab40b48bf6884f0c64080f4fd6b3b) to a simple method with only a single constructor invocation:

[code]

When I run Mixin with the `-Dmixin.debug=true` or `-Dmixin.debug.verify=true` option I get an error from ASM's verifier, complaining about an insufficient maximum stack size:

[code]

It is working correctly w

[2017-01-01 17:09] Mumfrey commented on #158
No I think it's correct, I think what's happening is that when I originally wrote it, I just created and threw an exception. I later added the actual message to be thrown and forgot to increase the stack size for it, but likely didn't notice because it's easy for off-by-one stack size calcs to be hidden if the stack in the target method is big enough already.

[2017-01-01 18:54] ST-DDT commented on #157
Thats fine with me. Maybe show both versions just for completeness. I'm just glad someone actually read that comment and if it can be improved I'm happy.
However I'm not sure about the suggested/required changes, thus I would be glad if someone else could do these changes.

[2017-01-01 19:30] Mumfrey commented on #157
I'm just changing up the whole way `BeforeNew` works tbh. It was designed for *EventInjectionTransformer* back several years ago but EIT injection points are more flexible and the NEW selector never needed to be that smart (bear in mind that with EIT all obfuscation needed to be done by hand, so avoiding obfuscation was a key concern when designing selectors). Mixin doesn't **yet** support the BEF

[2017-01-02 00:15] #158 closed

[2017-01-02 00:16] #157 closed

[2017-01-05 19:52] Minecrell opened #159 "Invalid SMAP if two Mixins have the same simple class name"
The source map implementation [stores all strata mapped by their filename](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/transformer/meta/SourceMap.java#L196). Currently, Mixin classes are inserted using their [simple class name](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/transformer/MixinTargetContext

[2017-01-05 20:59] Mumfrey commented on #159
Given that (I think) the stratum name is basically irrelevant, I can probably just use the fq class name ya. Or possibly store all the words to bohemian rhapsody in a list and use successive words as the strata names might be fun.

[2017-01-05 21:59] #159 closed

[2017-01-08 20:17] mcaustin1 opened #160 "Gradle Build Failure"
When I run the gradle build command inside the root folder of Mixin it gives me a build failed with an exception. It says its in the build.gradle file at line 199.

Error, http://pastebin.com/NtT53HLy

[2017-01-08 22:13] Mumfrey commented on #160
You're using the wrong gradle version.

[2017-01-08 22:13] #160 closed

[2017-01-08 22:31] liach commented on #160
So won't you support Gradle 3.+?

[2017-01-08 23:18] Mumfrey commented on #160
It's not a case of "won't", there's just no need to do so.

[2017-01-08 23:41] mcaustin1 commented on #160
@Mumfrey What version of gradle do I have to use?

[2017-01-08 23:42] kashike commented on #160
2.8 - You can use the gradle wrapper and avoid version issues.

[2017-01-09 23:58] Maxqia opened #161 "Applying to Source Code"
Is there anyway we could apply Mixins to jars and have them decompiled for use in deobf enviroments so we don't have to have IMixin interfaces? It be kind of like how Forge does it with their patches (setupDecompWorkspace). I'd assume it has something to do with SpecialSource... (for example code I guess)

[2017-01-10 01:51] Mumfrey commented on #161
That's really not what Mixins are designed for. The whole point of Mixins is that they are adaptable and flexible at *runtime*, applying them in a static mode is really only useful if you want a kind of declarative DSL for making offline patches, which is okay I guess but kind of defeats the whole object. Fabric had a use-case for this but came up with their own solution to actually pull it off.

[2017-01-10 11:16] #161 closed

[2017-01-10 21:35] Maxqia commented on #161
IMO IMixin interfaces are a solution to a problem that shouldn't exist. Mixined classes should be available during compile time. I mentioned SpecialSource there because it has a lot of useful code for scanning a jar for all it's bytecode.

[2017-01-21 14:42] Minecrell opened #162 "Capture the target method's arguments in @ModifyArg"
I want to fix https://github.com/SpongePowered/SpongeCommon/issues/1129 using a Mixin.

I've created a `@ModifyArg` for the constructor to replace the second argument of the `super.<init>` call:

[code]

It applies correctly, however to fix this problem I'd need to access the method arguments of the enclosing target method. While `@Inject` and `@Redirect` support capturing these, I couldn't find a

[2017-01-21 17:21] Mumfrey commented on #162
Yeah I think when I wrote `@ModifyArg` I didn't include this because the idea was that it's a very simple injector with a specific purpose. I could look at adding that feature though, not sure if it has any knock-on effects I'd have to check.

You could potentially access and store the value using `@ModifyVariable` or a second `@ModifyArg` beforehand, given the situation. At least as a temporary w

[2017-01-23 16:14] #153 closed

[2017-01-25 12:27] Mumfrey commented on #162
Okay I looked into this and really I don't want to change the behaviour of `@ModifyArg` because it already has an overloaded behaviour where it can capture all arguments being passed into the hooked method and adding an second overloaded behaviour to capture the target method args is just going to take it too far off-piste.

The idea with `@ModifyArg` was always that it would be a super-simple inj

[2017-01-25 12:40] Mumfrey commented on #123
This should basically not be an issue any more, if it is then please let me know and if possible provide code which demonstrates the bug as I'm unable to reproduce in current releases.

[2017-01-25 12:40] #123 closed

[2017-01-28 21:35] Maxqia opened #163 "InjectLocals for Redirects"
There's been many times where I had to have a Redirect and Inject method with external variables to pass the variables to the Redirector, can we also have a InjectLocals for Redirects?

[2017-01-28 23:09] Barteks2x commented on #163
Is this what you mean? https://github.com/SpongePowered/Mixin/issues/110

[2017-01-28 23:21] Mumfrey commented on #163
Already answered by #110.

[2017-01-28 23:21] #163 closed

[2017-01-28 23:59] Maxqia commented on #163
Yeah, thanks!

[2017-01-29 23:16] Barteks2x opened #164 "Array access redirect"
Basically I want to turn my Column class into a Chunk mixin (this will allow to make compatibility with sponge much easier), and the only thing that makes it close to impossible is that I can't redirect access to ExtendedBlockStorage array to my own method.

For example with code like this:

[code]

I want to be able to return different ExtendedBlockStorage, without any array access.

In this exam

[2017-01-29 23:26] Mumfrey commented on #164
Okay that makes sense, `@Redirect` can already redirect field accesses so really this just amounts to an enhancement of an existing feature.

[2017-01-30 15:13] #164 closed

[2017-01-30 17:20] Barteks2x opened #165 "Replacing comparison with zero"
`@ModifyConstant` allows to replace a constant with something else. Originally the reason I needed is was that it would make replacing vanilla height checks easier. But JVM has special instructions for comparisons with zero, so `@ModifyConstant` turned out to be mostly useless in most cases where I wanted to use it. Instead I have to resort to a hack - redirecting `BlockPos#getY()` to workaround h

[2017-01-30 18:13] Mumfrey commented on #165
So you basically mean where the:

[code]

is becoming

[code]

you want to have it effectively first expanded to:

[code]

which then lets you target the ICONST_0 with `@ModifyConstant` ?

[2017-01-30 18:14] Barteks2x commented on #165
Yes, that's basically what I want. Or anything that allows me to do equivalent things.

[2017-01-30 18:23] Mumfrey commented on #165
It's really not hard to expand the "implicit" opcodes (`IFLT`, `IFEQ`, etc.) out to their explicit counterparts with a zero, the problem is finding ones where the value is actually an integer.

As you may know, all types smaller than `int` (`short`, `byte` and `boolean`) are all stored internally as integers, and the same opcodes are used to manipulate them. So the tricky part if this expansion is

[2017-01-30 18:28] Barteks2x commented on #165
I didn't think about booleans, thinking only about ifgt/iflt which aren't used for booleans. And distibguishing between bytes, shorts and ints on the JVM seems like a flawed idea anyway. I've never encountered a direct `variable == 0` comparison I needed to modify, but I see how it could be needed sometimes.

[2017-01-30 18:39] Mumfrey commented on #165
Oh yeah for sure, but I was just pointing out the possible pitfalls, as I always consider them before adding a feature to Mixin because the intention is always that Mixin will prioritise stability over features. If a feature introduces possible instability then either:

* The feature is not added
* The feature is added but I put as much reasonable detection in place to hard crash if things are not

[2017-01-30 19:12] Barteks2x commented on #165
For documenting the inconsistent behavior - naming it something like `inequalityConditionals` would make more sense.

[2017-01-30 19:29] Mumfrey commented on #165
Yeah or even provide a option which lets you specify which operator to match and then expand it internally (which I like more than exposing more bytecode-level stuff) for example

[code]

which would then expand `IFLE` and `IFGT`.

I need to have a think about the best way to present this. It's definitely not off the table, but I want to expose it in a way which is consistent and at least reasonab

[2017-01-30 19:40] Barteks2x commented on #165
I like that idea, may be better to do something more like `">0"` to indicate on which side the zero is, and that it's only the special case of 0.

[2017-01-31 11:43] Mumfrey commented on #165
Yeah that's a good call actually.

[2017-02-01 17:53] #165 closed

[2017-02-02 13:48] Barteks2x opened #166 "Mixin throws NullPointerException when using array redirect without args="array=get" with no information about what the problem is"
The problem isn't that it crashes, but that it doesn't show any information about which redirect causes the issue, in my case the exception looked like this:
[code]

[2017-02-02 15:06] Mumfrey commented on #166
Hmm weird, can you gist/link the mixin in question.

[2017-02-02 15:15] Barteks2x commented on #166
I already fixed the problem but it shouldn't be hard to re-create it. As I said, the problem isn't that it's crashing, because the mixin is not valid. All I did was skip `args = "array=get"` in redirect.

This mixin shows that confusing crash:

[code]

It should crash, but also shoudl tell me which redirect it is.

[2017-02-02 15:18] Mumfrey commented on #166
Right, yes that makes sense. It shouldn't crash there though if that argument is omitted, and it certainly shouldn't let an NPE propagate that far up the stack without being caught by the injector. There are two problems it seems: 1- missing a null check on that arg and 2- the cause is being omitted when pretty-printing the error. Both of these are fixable.

[2017-02-02 15:23] Barteks2x commented on #166
Also, does it really have to repeat the stacktrace in different forms 6 times?

[2017-02-02 15:39] #166 closed

[2017-02-07 23:44] cossacksman commented on #7
@Mumfrey Is there any documentation on this, I can't seem to find it. A good use-case that I've stumbled across is that SpongeLoadingTicket is a private class in SongeChunkTicketManager, leaving me unable to access it to mixin.

[2017-02-07 23:47] cossacksman commented on #7
Took me a while to find this as I couldn't find it in the documentation, is there any chance it could be made more obvious? A good use-case I found was trying to access `SpongeLoadingTicket` inside `SpongeChunkTicketManager`, since SpongeLoadingTicket is a private inner class.

Would `@Mixin(targets = "org.spongepowered.mod.service.world.SpongeChunkTicketManager.SpongeLoadingTicket")` work for tha

[2017-02-17 16:44] Minecrell opened #167 "Throw error if overwritten method has invalid access modifiers"
Currently, Mixin will always replace the target method of an `@Overwrite`, even if it has incompatible access modifiers. Example:

The original method is defined as:

[code]

Now I can write the following Mixin:

[code]

At runtime, Mixin will happily replace the original method with my `private static` version. Since the method is no longer public (and also static now), it will throw an error at

[2017-02-17 17:54] Mumfrey commented on #167
That's a bloody good point.

[2017-02-17 17:56] Mumfrey commented on #167
FYI `@Overwrite` doesn't signify that a method will overwrite - any method with the same name as a target method will do that. `@Overwrite` is just needed for *obfuscated* methods so that the AP knows to rename them, so this check actually needs to be made for all member methods.

[2017-02-17 18:24] Minecrell commented on #167
@Mumfrey
Right. Personally I think it would be useful if there was a marker annotation for methods which are supposed to replace a method in the target classes (even if no obfuscation is needed) because `@Overwrite` also comes with the `@author` and `@reason` Javadoc checks, as well as a check that the target method actually exists. It can be quite hard to keep a stray, unused method like https://

[2017-02-17 19:09] Mumfrey commented on #167
That is a separate issue... not relevant here.

[2017-02-17 19:15] Minecrell commented on #167
@Mumfrey Right, I'll open a separate issue for that when I find the time.

[2017-02-20 15:20] #167 closed

[2017-03-10 06:15] gabizou opened #168 "Cannot shadow Enum based methods"
To put it plainly, a Mixin class cannot shadow Enum based methods, such as `name()`.

[2017-03-10 06:20] gabizou opened #169 "Cannot Implement prefix generic methods"
Take the following interfaces:
[code]
And with the following Mixin:

[code]

Mixin will fail to locate the desired generic method and as a result fail.

I haven't tested whether a workaround of not prefixing the generic method and having `MixinBam` implement `Baz` will work (of course it compiles, but I haven't checked if at runtime it applies cleanly).

[2017-03-10 13:07] Mumfrey commented on #168
This is correct per the contract of shadows. Shadows can only shadow methods in the target class, and `name()` exists in the superclass `Enum`.

To access `Enum` members in an enum mixin, simply cast via object: eg. `((Enum)(Object)this).name();`

[2017-03-10 13:07] #168 closed

[2017-03-10 13:21] Mumfrey commented on #169
I'll take a look at this on the 17th. This kind of implementatio needs special attention because of the need to handle synthetic bridges.

[2017-03-12 00:47] mcjp78 opened #170 "Wildcard Operator"
Hi,
When developing a lot of mixins it becomes tedious to register each one within the mixin config, especially if every class within the parent package is a mixin. Therefore I suggest an everything (*) operator.

[2017-03-12 13:00] Barteks2x commented on #170
I think it looks like something so obvious that if it was easy to do it would be already there. So there must be some technical reason why it's not done (especially when you can't use any package that contains mixins for any other classes).

But if it's possible, I would also like to see that feature.

[2017-03-12 16:39] Minecrell opened #171 "Resolve obfuscation mappings of methods defined in super interfaces"
This is very similar to #33, except that it doesn't apply to a method defined in a super class, but rather to a method defined in a super interface.

The problem can be reproduced using a mixin when referencing the `getName()` call in `CommandBase.checkPermission`:

[code]

The `getName()` call is compiled to a method with the descriptor `net.minecraft.command.CommandBase.getName()Ljava/lang/Strin

[2017-03-12 23:05] Mumfrey commented on #170
I am on holiday at the moment so there's not really an opportunity to explain the technical ins and outs of why this isn't feasible, but it's not going to happen. However there is a feature request for mcdev for this which may automate the process in the future.

[2017-03-12 23:05] #170 closed

[2017-03-12 23:05] Mumfrey commented on #171
I'm on holiday at the moment I will look at this when I'm back.

[2017-03-20 13:05] #171 closed

[2017-03-21 15:28] Mumfrey commented on #169
Just to provide some explanation as to why this is non-trivial. When implementing a generic interface this way, where a type argument appears in a signature of an interface method, the compiler generates "bridge methods" which allow dynamic binding against both the derived interface and the superinterface. To take your example, if this *wasn't* a Mixin then the following code:

[code]

would actua

[2017-03-21 15:29] Mumfrey commented on #169
Added the `annotation processor` tag as well since support for this feature will need to be integrated into the AP.

[2017-04-03 12:40] Minecrell opened #172 "Allow static injection methods for non-static methods"
Currently, Mixin requires injection methods to be non-static when injecting into a instance method of the target class. It makes sense to prevent this for the other way around (a non-static injection method for a static target method) but I was wondering if there is a special reason to forbid making the methods static if they don't access any instance variables/methods in the target class.

I noti

[2017-04-18 10:59] Mumfrey commented on #172
Sorry for the delay in responding to this ticket, I've had a solid two months of back-to-back events, I'm back in the real world today so will resume triaging issues.

The restriction isn't there because it's impossible, and some injectors already support static-handler-for-instance-method in order to (for exaple) allow `@ModifyArg` to be used safely in a superconstructor call.

My recollection is

[2017-04-18 14:40] kashike commented on #172
I think it's nice having them non-static when you aren't targeting non-static methods. It's more clear.

[2017-04-20 10:29] Mumfrey commented on #172
@kashike not sure if you're in favour of or against changing it since I think one of your double-negatives got flipped?

They can't be non-static when you aren't targetting non-static methods (double-negative = *are targetting static methods*) because a static method can't invoke an instance method.

[2017-04-20 15:06] kashike commented on #172
Fixed my command. :joy_cat:

[2017-05-01 11:57] Barteks2x opened #173 "Redirect array length access"
For example to change code like this:
[code]
 `y >= 0` can be now targetted with expanding zero conditions but `[whatever] < array.length` can't be changed without creating a whole new array of needed length. Ff the needed length would be big (as it is in my case, as I'm also redirecting array element access here) it's impossible without seriously affecting performance (or preallocating a very big

[2017-05-01 12:26] Mumfrey commented on #173
Given that array accesses can be redirected, this does make sense as a feature, since it would - as you point out - allow you to fully "virtualise" the array and have it call back into your own code to handle the actual access. Of course, any actual bugs created by this (eg. redirecting the array length access and subsequently failing to redirect the actual access) are on the mixin author!

Let me

[2017-05-03 15:33] Minecrell commented on #172
Yeah, I see your point and I agree. Thanks for explaining it!

[2017-05-03 15:33] #172 closed

[2017-05-03 15:40] Minecrell opened #174 "Require static @Redirect for method calls before super constructor"
I'm trying to `@Redirect` the call to `DimensionType.getById(int)` in the constructor of `WorldServer`:

[code]

Similar to a `@ModifyArg` of the super constructor call, the `@Redirect` method would need to be static to be able to be called before the super constructor is called. However, Mixin insists on removing the `static` modifier:

[code]

When I remove `static` I get an error at runtime:

[

[2017-05-04 20:49] OsipXD opened #175 "Awesome diagrams"
Hello!
What you use to draw that awesome UML diagrams? I am currently writing a coursework at the Institute, and it would be beautiful to draw fancy UML sequence and class diagrams.

Thank you in advance. And I apologize for the offtopic

[2017-05-04 21:09] kashike commented on #175
[Visio](https://products.office.com/en-ca/visio/flowchart-software)

[2017-05-04 23:57] ewized commented on #175
My school briefly used this. https://www.bluej.org/index.html aside from that I also heard that https://www.lucidchart.com is pretty good also.

[2017-05-05 00:09] DemonWav commented on #175
Nothing compares to Visio.

[2017-05-05 03:43] OsipXD commented on #175
Thank you. (I assumed this)

[2017-05-05 03:43] #175 closed

[2017-05-05 15:48] Mumfrey commented on #174
Good call, there's another special-case situation where this is already handled so making it a requirement makes sense.

[2017-05-13 18:53] mikroskeem opened #177 "`remap = false` on `@Mixin` annotation doesn't seem to affect remap in `@At`"
I get [bunch of warnings](https://paste.nightsnack.cf/oyakaxuvip.rb) about missing mappings for `@At`, even though I have `remap=false` for `@Mixin` annotation.

Not sure if that is intended.

(Some) [Code is here](https://paste.nightsnack.cf/iwiwucofod.java), if anyone wants to take a closer look.

[2017-05-13 19:25] Mumfrey commented on #177
It could be that the `remap=false` on the class itself isn't propagating down the processing chain to the At handler, most likely broke it when I refactored some of the AP internals a while ago. It shouldn't affect any output and you can safely ignore the warnings if your target is not remapped anyway.

[2017-05-13 19:29] mikroskeem commented on #177
Yes of course I can ignore these warnings, because they do not affect anything for me really. I opened an issue to point out that those warnings are very likely caused by a bug, and it would be nice to get it fixed :)

[2017-05-15 13:16] #177 closed

[2017-05-15 13:17] Mumfrey commented on #177
Available in 0.6.9, it's now also possible to selectively *enable* `remap` on annotations even if `remap` is false at the `@Mixin` level. I'm not sure if this has any specific utility but it makes sense that if the value is explicitly specified then the AP should respect it.

[2017-05-15 17:36] kingcraftingnl opened #178 "How could i overwrite a Single line of code?"
So i want to overwrite the line    this.ingameGUI = new GuiIngame(this);
In the init Method in the Minecraft class,
Im using LiteLoader

[2017-05-15 18:29] Mumfrey commented on #178
---

---

If you read [the documentation](https://github.com/SpongePowered/Mixin/wiki) then you will know that Mixins don't generally support overwriting "a line" of code, however certain accesses can be targetted for [injections of various sorts](https://github.com/SpongePowered/Mixin/wiki/Advanced-Mixin-Usage---Callback-Injectors) including *Redirection* using [`@Redirect`](http://jenkins.litelo

[2017-05-15 18:29] #178 closed

[2017-05-19 21:54] Barteks2x opened #179 "Equivalent of @Override/@Overwrite for non-obfuscated methods"
Currently there is no way to do any compiletime checks to make sure the method I'm overwriting exists when it's non obfuscated one/doesn't have mappings.

[2017-05-21 13:03] Barteks2x opened #180 "Slice for @ModifyConstant"
The ordinals with ModifyConstant can also sometimes become larger, And the possibilities of breakage is even larger when small or commonly appearing constants are replaced, gnd frequently the breakage can be silent. Slice would be useful there.

[2017-05-22 11:22] Mumfrey commented on #180
Good point.

[2017-05-22 11:30] Mumfrey commented on #179
I see. Yes this dates back to Mixin behaviour *pre-Mixin* (in the `ClassOverlayTransformer` days when overlays were tightly coupled with their target class and *everything* was meant to overwrite. However today it doesn't really fit in with the way mixins are being used.

Of course there's the *opposite*, with `@Unique`, but no declarative intention to overwrite a non-obfuscated method. I feel lik

[2017-05-22 11:45] Barteks2x commented on #179
What about just allowing the `@Overwrite` to be there and showing a warning if it's not there, just like what java does with `@Override`? This wouldn't break any existing code, and still allow `@Overwrite` to be used on non-obfuscated methods wighout that extra `remap = false`.

[2017-05-24 11:42] Mumfrey commented on #179
Whilst it would work, I'm not a fan of surreptitiously changing the behaviour like that. `@Overwrite` currently has a clearly-defined contract and if that contract is changed then it should be obvious to the developer. In the cases outlined above, the new usage would be clearly demarcated.

In your scenario, allowing it to silently succeed for non-obfuscated methods is actually a regression, becau

[2017-05-25 11:47] #174 closed

[2017-05-25 17:31] Minecrell commented on #174
Thanks, it works perfectly :)

[2017-05-28 17:30] Barteks2x commented on #180
Another reason it would be *very* useful thing to have: even *finding* the right ordinal in some cases, like replacing zeros in `Teleporter.makePortal` is a hell.

[2017-05-29 02:17] Barteks2x opened #181 "When using eclipse compiler, when 2 mixins targetting the same class have lambdas of the same class, mixin will use the wrong one for one mixin"
A simple test case:
[code]
[code]
[code]
It should print first test1 and then test2. For me it prints out test1 twice when using the eclipse compiler. Works fine with javac.

[2017-06-04 00:13] LeafHacker opened #182 "public static Accessor and Invoker"
I am using liteloader/mixin and need to access `private static` methods and fields.

`@Accessor` and `@Invoker` have worked fine for non-static methods and fields, but AFAICT `@Overwrite` is the only mixin that can be `public static`.

I understand that one limitation of mixins is that you cannot add visible static members to a class, so it may be impossible to have `public static` `Accessor`s.

P

[2017-06-04 01:12] Mumfrey commented on #182
You **can** add `public static` accessors, this is one of the exceptions to a rule specifically provided for in accessor mixins.

[2017-06-04 01:29] LeafHacker commented on #182
Interesting. I shall have to test more thoroughly before believing my IDE's error linting in future. Is `Invoker` also an exception?

[2017-06-04 01:55] DemonWav commented on #182
You wouldn't happen to be using my IntelliJ plugin would you? If so it may be possible there is an error in one of my inspections.

[2017-06-04 02:14] LeafHacker commented on #182
@DemonWav yes I am using your (awesome) Minecraft Dev plugin. I'll open a separate issue over there for the code inspection.

@Mumfrey if you can have `public static` `Invoker`s, feel free to close this as invalid - otherwise probably best to just remove `Accessor` from the title.

[2017-06-04 02:31] DemonWav commented on #182
Whoops, sorry about that. I'll look into the issue then.

[2017-06-04 02:33] LeafHacker commented on #182
Wait... Don't Accessors have to be `abstract` to be implemented by Mixin? And doesn't java [not support](https://stackoverflow.com/questions/370962/why-cant-static-methods-be-abstract-in-java) `static abstract` members anyway?

[2017-06-04 11:21] Mumfrey commented on #182
They don't have to be abstract, the method body is just ignored.

[2017-06-05 12:43] luacs1998 opened #183 "Mixin fails build on classes needing generated classes?"
So besides Mixin, I'm using the Hibernate AP, which reads annotations from a class then generates metadata based on the annotations

However, using both the Mixin AP and Hibernate AP together are giving me some extremely odd results. It would see that (sometimes) I'm getting build errors because the classes which require generated class files are being evaluated before there's an opportunity to ge

[2017-06-06 12:29] DaMatrix opened #184 "Change the superclass of a class"
Hi! Over at [Valkyrien Warfare](https://github.com/ValkyrienWarfare/Valkyrien-Warfare-Revamped) I'm trying to port all our ASM over to mixin. I'm encountering one big problem. We change the superclass of net.minecraft.entity.Entity to our own custom ValkyrienWarfareBase.Interaction.EntityDraggable, to avoid using reflection for lots of internal code. Is there a way that this can be done using mixi

[2017-06-06 12:35] kashike commented on #184
Here's how we do it without Mixin:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/launch/transformer/SpongeSuperclassRegistry.java
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/launch/transformer/SpongeSuperclassTransformer.java
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/ma

[2017-06-06 12:38] DaMatrix commented on #184
We already have it working without mixins, but we're trying to use only mixins.
https://github.com/ValkyrienWarfare/Valkyrien-Warfare-Revamped/blob/4c5aacf7de52a853c4a3c9cdfbaec213c5861c5d/src/main/java/ValkyrienWarfareBase/CoreMod/ValkyrienWarfareTransformer.java#L42-L46

[2017-06-06 12:45] DaMatrix commented on #184
If not, is there a way to get access to a method name that doesn't exist at compile time but does at runtime WITHOUT using reflection?

[2017-06-06 15:27] gabizou commented on #184
This is what we do in Sponge: We make these interfaces that provide us methods necessary to "do things", and we simply cast the objects to those interfaces (Of course, you implement them with a Mixin, like in [`MixinWorldServer`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L215)). You can see [here](https

[2017-06-06 17:52] DaMatrix commented on #184
Great, thanks. This looks a LOT cleaner than what we'd had before anyway :P thanks!
The fix for anyone interested: https://github.com/ValkyrienWarfare/Valkyrien-Warfare-Revamped/commit/3b7b63a077d448cd76188384bf125ea11381de83

[2017-06-06 17:52] #184 closed

[2017-06-06 21:53] Mumfrey commented on #183
I am away on an event until the 12th, I'll take a look into this when I'm back.

[2017-06-06 21:53] #182 closed

[2017-06-06 21:54] Mumfrey commented on #181
I am away on an event until the 12th, I'll take a look into this when I'm back.

[2017-06-11 22:25] LeafHacker opened #185 "Combined Accessor and duck interface"
`@Accessor` and `@Invoker` provide a nice way to create public accessors for target fields/methods, without having to manually implement getters/setters.

I have existing duck interfaces that can largely be replaced with Accessor interfaces without any api changes, however a few of these interfaces also define new public members which must be implemented in the associated mixin class.

For example

[2017-06-12 03:51] luacs1998 commented on #183
I've found the issue - apparently one of my mixins was invalid and it was throwing errors.

The Hibernate AP stuff was just noise, apparently. Thanks anyway.

[2017-06-12 03:51] #183 closed

[2017-06-12 13:11] Mumfrey commented on #183
Good to know, thanks for keeping me posted. Things worth mentioning which might help:

* If you use eclipse, you can use the AP directly within eclipse and you get proper wiggly-line error marking and stuff with it, so you get instant feedback if the AP is gonna choke on something.
* If you use idea, then you can use [mcdev intellij](https://plugins.jetbrains.com/plugin/8327-minecraft-development)

[2017-06-12 19:54] JBYoshi commented on #185
I think you can `default`-implement the methods; if it doesn't work in the interface itself, you can try putting it in a superinterface and casting `this`.

[2017-06-12 21:30] LeafHacker commented on #185
I got the impression that Mixin Accessor interfaces cannot contain anything other than Accessor/Invoker members?

I might try adding default/static methods to an Accessor interface later, but that wouldn't help more complex cases where you require a full blown Mixin class, an Accessor interface and a duck interface.

My current work around is to have a duck interface, and put the Accessor annotati

[2017-06-13 02:46] LeafHacker opened #186 "Mixin dependencies cause issues with 1.12"
Mixin depends on guava 17.0, gson 2.2.4 and commons-io 2.4.

This is fine with Minecraft 1.11, however 1.12 requires newer versions of these libs: guava 21.0, gson 2.8.0, commons-io 2.5.

This means that if a 1.12 mod depends on mixin, forgegradle will pull in the 1.12 deps and gradle will also load mixin's deps. This potentially causes a number of issues.

I can reliably reproduce the following e

[2017-06-13 14:25] Mumfrey commented on #186
Is this actually intellij problem though? I'm using 0.6.10 with MC1.12 an ForgeGradle 2.3 but using Eclipse and I'm not experiencing the issue you describe, in fact as far as I can tell the dependencies are evicted correctly by gradle:

[code]

The whole point of declaring what version of a dependency a project uses, is that other projects can evict that version for later versions when necessary,

[2017-06-13 14:27] Mumfrey commented on #186
Paging @Minecrell as he uses IntelliJ and might have a solution to this.

[2017-06-13 15:00] Minecrell commented on #186
As far as I know this issue affects both Eclipse and IntelliJ IDEA and is due to the way ForgeGradle sets up its dependencies: It uses separate dependency configurations for Minecraft dependencies, `forgeGradleMcDeps` and a few others as you can see above. These configurations are then added _manually_ to the compile classpath, as well as the module classpath on Eclipse and IntelliJ IDEA.

Unfortu

[2017-06-13 15:06] Mumfrey commented on #185
By definition, a duck interface and an accessor interface are two different things. You cannot combine them because any non-accessor methods in the interface will invalidate its status as an accessor mixin. However, you *can* reduce boilerplate by using `@Accessor` methods in a regular mixin.

Whilst I agree that from a purely aesthetic standpoint it might be nice to combine the two, it doesn't ac

[2017-06-13 15:07] #185 closed

[2017-06-13 15:16] Mumfrey commented on #186
Right that would make sense. So basically ForgeGradle is defeating normal eviction behaviour, and I hadn't noticed in my setup because that's presumably happened in the past and I manually excluded it).

So I assume that basically means we have 4 choices:

* Exclude the guava dependency from the Mixin POM, this forces all consumers to explicitly specify a version of guava if they don't already hav

[2017-06-13 15:25] Minecrell commented on #186
I've [patched this in VanillaGradle a while ago](https://github.com/Minecrell/VanillaGradle/commit/273a75fb38496d6cc92a880a94702a02b1c2a27c) (because the `PROVIDED` mapping didn't work anymore with ForgeGradle's approach), it shouldn't be too hard to port it to ForgeGradle. I'll take a look in the next days and see if I can make a PR to fix it.

[2017-06-13 15:27] Mumfrey commented on #186
Thanks dude, in the mean time I assume that @LeafHacker can fix his issue by manually evicting guava from mixin the same way I do in liteloader.

[2017-06-13 20:11] LeafHacker commented on #186
I'll look into using a manual eviction workaround for now, thanks.

Don't think I mentioned it, but in this particular project I was using the `net.minecraftforge.gradle.tweaker-client` plugin. Although of course it would be better if this was fixed for all of forgegradle.

[2017-06-14 10:28] Mumfrey commented on #186
So am I, liteloader is a standalone project so it uses that plugin too. I'm going to consider this issue resolved, pending a more permanent solution in FG.

[2017-06-14 10:28] #186 closed

[2017-06-14 14:49] #100 closed

[2017-06-14 14:49] #181 closed

[2017-06-14 14:54] Mumfrey commented on #181
Effectively a duplicate of #100, which has remained open since I couldn't reliably reproduce the circumstances of its occurrence. However fixing this issue uncovered an underlying problem with the way `@Unique` was handled and remapping of method handles:

* If a method doesn't exist in the *original* target class, then the semantics of `@Unique` were defeated if two mixins added the same "unique"

[2017-06-15 11:35] #180 closed

[2017-06-26 04:04] BigBastard opened #187 "Bad debug message when loading a Mixin with a nested class"
I was having trouble with this earlier, when I tried loading a mixin for the following code.

https://gist.github.com/BigBastard/89478a744e1853f45f95b2fbbcff00fa

When running this with debug logging, there is no error message, just a ClassNotFound exception.

The issue is coming from the Predicate itself, which Im assuming creates a hidden inner class that has the code. My guess is that this inne

[2017-06-26 15:10] kingdevnl opened #188 "Cannot resolve Injectionpoint TAIL"
Cannot resolve Injectionpoint TAIL
http://i.imgur.com/jM5dO9Z.png
http://i.imgur.com/5FRKhkv.png

[2017-06-26 15:28] JonathanxD commented on #188
AFAIK there is no `TAIL` `InjectionPoint`, a similar target is `RETURN`, which injects before `return` instructions

[2017-06-26 16:49] kingdevnl commented on #188
There always was a TAIL point.

[2017-06-26 16:49] kingdevnl commented on #188
I have it in my older project,

[2017-06-26 17:05] gabizou commented on #188
This isn't an issue with Mixin, it's an issue with [MinecraftDev](https://github.com/minecraft-dev/MinecraftDev). If you run the mixin in production, I'm sure no warnings or errors will actually show up.

[2017-06-26 17:05] #188 closed

[2017-06-26 23:27] DemonWav commented on #188
This is not an issue with MinecraftDev. MinecraftDev is correctly reporting that there is no `TAIL` injection point. It is mostly likely the case that your older project is using an older version of Mixin which may have had a `TAIL` injection point, but modern versions of Mixin definitely do not.

[2017-06-27 05:14] gabizou commented on #188
There's [`BeforeFinalReturn`](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/injection/points/BeforeFinalReturn.java#L58)...

[2017-06-27 12:20] Mumfrey commented on #187
It's always been the case that inner classes are not allowed in mixins unless they are either `static` or are synthetic. Since you cannot create `static` anonymous inner classes this falls foul of that rule. However I agree that a better message could be provided, so I will look into making it more obvious when an inner class cannot be loaded because it doesn't exist.

[2017-06-27 13:06] #162 closed

[2017-06-27 13:37] DemonWav commented on #188
That class was added Jan 9, so forgive me for not knowing about it. :)

This tells me it's the opposite problem - the Mixin version he's using is too old to support `TAIL`.

[2017-06-27 14:57] JonathanxD commented on #188
So, [At](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/injection/At.java) javadoc should be updated.

[2017-06-27 16:21] Mumfrey commented on #188
[Ok](https://github.com/SpongePowered/Mixin/commit/8fe09fb9781c33b460e95778f6dd4f4bfe53b93c).

[2017-06-28 12:11] Mumfrey opened #189 "Access Transformers trip visibility sanity check for overwritten methods"
This is an issue which has been illuminated by SpongePowered/SpongeForge#1604.

As a solution to #167, Mixin performs sanity-checks of overwritten methods to ensure that the access modifier of the mixin method is always the same or more permissive than the method being overwritten. This check can actually cause problems when a previously-`private` target method is transformed to `public` by anothe

[2017-06-28 16:47] MCmodding4K opened #190 "Make @ModifyConstant.Constant an array"
Hi,

i am trying to use @ModifyConstant in a ~350 lines method, and i need to modify ~10 constants, so it would be super cool i don't have to copy the same method 10 times just with different values, but just set an array of @Constant with all the values

[2017-06-29 02:05] Barteks2x commented on #189
I also had that problem once when I submitted forge or to change method visibility.. And with that I broke my own mod. I didn't know it could be considered sponge issue...

[2017-06-29 02:42] ZeroMemes opened #191 "Snapshot releases not working as launcher profile libraries"
When adding Mixin 0.6.10-SNAPSHOT to a launcher profile config as so, the minecraft launcher failed to download the snapshot as a library.
[code]
This is due to the file being located at ``https://repo.spongepowered.org/maven/org/spongepowered/mixin/0.6.10-SNAPSHOT/mixin-0.6.10-20170525.114836-1.jar`` and not ``.../0.6.10-SNAPSHOT/mixin-0.6.10-SNAPSHOT.jar``.

Liteloader doesn't seem to have the s

[2017-06-29 03:47] ryantheleach commented on #189
@Barteks2x Strictly speaking it's not, but having this feature allows a compromise that would have otherwise been painful to work around.

[2017-06-29 08:07] Mumfrey commented on #189
Exactly, I feel like even though this isn't technically my problem, I still want to solve it, and ideally in as robust a way as possible. My concern is that the cure could be worse than the disease in some bizarre corner cases (and we all know how often *those* actually tend to crop up) it could lead to some very weird behaviour, and I'm wondering if the warning message is enough.

Play with *Acce

[2017-06-29 09:07] Mumfrey commented on #191
This is an issue because the Sponge maven repo is not a "real" maven repo, it's just an FTP server, my repository at `repo.mumfrey.com` is a *Sonatype Nexus* installation. However you are correct to assert that there is some server-side magic in place, you just aren't using the correct URL, the server side magic exists on `dl.liteloader.com`.

To clarify, you should **not** use `repo.mumfrey.com`

[2017-06-29 09:07] #191 closed

[2017-06-29 09:24] Mumfrey commented on #190
I will look into this.

[2017-06-30 16:24] MCmodding4K opened #192 "Mixin does not work with Generics like normal Java"
Hi,

I think this would be super cool because you can apply it to multiple classes and use the same code.
(and it might be easy to add to Mixin)

https://gist.github.com/MCmodding4K/254298dcd98b96d315b52048915b1798
instead of
https://gist.github.com/MCmodding4K/9a5cfc71cc5bbadee21ff65fdb505efc
and https://gist.github.com/MCmodding4K/99249f9f21d53feeb176873bd8b68203

[2017-06-30 18:00] Mumfrey commented on #192
Oddly enough you are incorrect: the issue here is not actually about generics, since generics don't actually exist at runtime, the issue preventing this working as you hoped is that injector signatures have to match types exactly. To explain what's going on and how to deal with it, you need to understand a bit about what the generics on the classes in question **actually _mean_**:

### Explanation

[2017-06-30 18:41] Zidane commented on #192
Great explanation as always @Mumfrey ...especially for something many use but many have no clue on how  it actually functions.

[2017-06-30 19:23] MCmodding4K commented on #192
dude, thank you SO much!

[2017-06-30 20:09] #192 closed

[2017-07-02 14:55] Mumfrey commented on #189
Resolved in version 0.6.13, commit 64232fe110ed339aab08c590dfdae0b50d478f57

[2017-07-02 14:55] #189 closed

[2017-07-03 12:03] Mumfrey commented on #192
@MCmodding4K further to the discussion above. I realised that as long as the type on the injector is a supertype of the argument in question, then it's possible to simply invoke the handler without a type cast or any other checking in the injection itself. *However* since this would require a superclass lookup for **every** reference type argument on every injector, it could get expensive very qui

[2017-07-04 13:11] MCmodding4K commented on #192
one last question...
Everything works fine, but when i try to build, it fails :(

MixinTileEntity_Renderer.java:35: error: Multi-target reference conflict for @Redirect target renderTileEntityAt: renderTileEntityAt -> func_180535_a(Lnet/minecraft/tileentity/TileEntityEnderChest;DDDFI)V previously defined as func_180535_a(Lnet/minecraft/tileentity/TileEntityChest;DDDFI)V
[ERROR] [system.err]     @R

[2017-07-04 15:36] Mumfrey commented on #187
I've decided to just straight up support inner classes in Mixins from version 0.7 onward, so I'm considering this issue resolved.

[2017-07-04 15:36] #187 closed

[2017-07-04 15:55] Mumfrey commented on #192
You need to update to the latest snapshot, I [reduced this to a warning](https://github.com/SpongePowered/Mixin/commit/c6ce27efb06175843ac1ffff500635e1a88c44bc) for methods using `@Coerce`.

[2017-07-05 08:13] Mumfrey commented on #179
This will change in 0.7. I'm still not *requiring* `@Overwrite` since I feel like the "don't overwrite things" is already properly handled with `@Unique`. However I am making the following changes:

* Adding a `remap` argument to the annotation, to allow it to be used for non-obfuscated methods
* Adding a config-level option to only overwrite methods if the annotation is present. This preserves th

[2017-07-05 17:47] MCmodding4K commented on #192
hm, now i have a warning and an error... xD
https://gist.github.com/MCmodding4K/3e949b934f8db41679524f683e86bfcb

[2017-07-06 14:03] #129 closed

[2017-07-06 14:03] #173 closed

[2017-07-06 14:03] #190 closed

[2017-07-06 14:05] Mumfrey commented on #179
Added in 0.7-dev, commits 41e53c49425c854ff8d44104a18246d9b9e672c0 and 50660894fcfdcd8847b60e39978000f2ac097d31

[2017-07-06 14:05] #179 closed

[2017-07-06 22:03] JBYoshi opened #193 "Pre-super() redirect broken again"
#174 seems to be back  again... with the exact same injection, just a newer Mixin version. After looking into the issue, it seems that Mixin performs the constructor-specific error check ([this line](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/mixin/injection/invoke/RedirectInjector.java#L233), referring to [this method](https://github.com/SpongePowered/M

[2017-07-06 22:18] Mumfrey commented on #193
Hoorah, I'll look at that.

[2017-07-07 10:53] #193 closed

[2017-07-11 15:15] #154 closed

[2017-07-19 12:28] Barteks2x opened #194 "Make ModifyConstant.slice an array"
It's already an array in `Inject`, I don't see any reason it wouldn't be in `ModifyConstant` or any other injectors. It also feels a bit inconsistent.

In some cases I need to modify the same constant (mostly zero) in many places, but need to specify slice to avoid replacing ones I don't want to change. Currently I just need to copypaste the same method many times changing only te slice.

I think

[2017-07-19 12:37] Mumfrey commented on #194
It's mainly just like that for legacy reasons, I see no reason not to change it.

[2017-07-19 12:57] #194 closed

[2017-07-19 12:59] Barteks2x opened #195 "A more intuitive way to specify max allowed injections for an injector"
There are some injections, mostly `ModifyConstant`, where replacing a new unknown one should be considered a critical failure. When replacing a constant there is no way to know what that constant means aside of reading the code, so any constants added by transformers or version updates could cause hard to track down unintended side effects.

Currently I usually use `@Group` on each of those inject

[2017-07-19 13:18] Mumfrey commented on #195
If you specify an `ordinal` value then the number of injections is limited to 1.

On the contrary, it's exactlly what `@Group` is intended for.

[2017-07-19 13:59] Barteks2x commented on #195
Then the documentation could also mention that. For me group feels a bit strange when the group size is 1.

And when there are 3 or more places, adding separate method with specified ordinal for each of a bit verbose.

[2017-07-19 15:17] Mumfrey commented on #195
So just a `max` or `allowed` value on injectors is what you're after?

[2017-07-19 15:37] Barteks2x commented on #195
This would be ideal.

But if this is really what `@Group` is intended for then I can keep using it. But I think it should be made clear in documentation. And `require` already "duplicates" the `min` part of `@Group` functionality.

[2017-07-19 16:07] Mumfrey commented on #195
Yeah I agree. To be clear, `@Group` is intended as a way of sanity checking maximal number of injections across any number of injectors, so it can be from 1 injector to many. The thing is as you say, it makes sense to put a max allowed marker on the injectors where you want a specific distribution of injection counts as well, so it's both a more concise way of achieving the same thing, and also ad

[2017-07-19 17:31] #195 closed

[2017-07-19 18:09] Barteks2x opened #196 "Allow Inject local capture to only capture local variables specified in a slice"
I thought about this for the last few weeks and came to the conclusion that it may be a viable idea.

Mixin already has a way to know all local variables defined/used up to a specific point, so it shouldn't be too hard to discard all local variables specified up to a point somewhere before in the code.

Currently injecting with local capture into any non trivial method means that the injection wil

[2017-07-19 19:15] Mumfrey commented on #196
I'm not really keen on this for a couple of reasons:

Firstly, capturelocals is already the most brittle aspect of mixins, and adding functionality which makes it less deterministic doesn't really help in my opinion. You can already discard any local variables from the *end* of the signature, allowing you to only depend on the LVT being correct up to the point you want to use. This means that curr

[2017-07-19 19:28] Barteks2x commented on #196
Ok, I didn't realize it's already in so bad situaton. It seemed much simpler when I imagined it myself. Mixin hides the complexity enough that it's not so apparent that it's such a hard problem.

[2017-07-19 19:28] #196 closed

[2017-07-22 01:29] ThisTestUser opened #197 "Forge mod with mixin fails to work with Liteloader"
For some reason, using a Forge mod with mixin and then running liteloader with Forge always results in a crash. Is this intended behavior?

[main/ERROR]: mixins.testmod.json:MovementForward: Unsupported mixin class version 52. Mixin requires compatibility level JAVA_8 or above.
org.spongepowered.asm.mixin.transformer.InvalidMixinException: Unsupported mixin class version 52. Mixin requires compati

[2017-07-22 05:56] gabizou commented on #197
Post actual logs, preferably using https://gist.github.com/ or something thereof.

[2017-07-22 10:28] Tubbyboy05 opened #198 "I cant install Mixin"
Can someone help me install mixin I cant get it!

If you need anything to help ask me!

[2017-07-22 13:31] Mumfrey commented on #198
This is an issue tracker not a support forum.

[2017-07-22 13:31] #198 closed

[2017-07-22 13:36] Mumfrey commented on #197
Wrong issue tracker. Normally I'd say open an issue on the LiteLoader tracker but since you're using an ancient version of the game I'm not really prepared to support it anyway since I only support back to 1.10.2.

The Version 52 error means you compiled a class with Java 1.8 but didn't specify 1.8 in your mixin config. This is not a bug and therefore not relevant on this issue tracker. If the bug

[2017-07-22 13:36] #197 closed

[2017-07-22 15:57] Mumfrey commented on #198
You can thumbs-down all you like, and you know what? When people have come here and asked a serious question with time and thought put into it, I've closed their issue *and answered their question*!

You wrote

The question makes **no sense**. Do you mean *maven install*, *deploy with your mod*, *use with your project*? What? You don't say what you're trying to "install" in the first place, and si

[2017-07-24 14:47] Barteks2x opened #199 "Mixin reports invalid usage of LOAD injection point as STORE injection point"
I tried to use `LOAD` injection point in `@Slice` (why isn't it even allowed anyway?), I noticed that mixn reports it as `STORE` in exception:

[code]

[2017-07-24 14:54] Mumfrey commented on #199
The error message being wrong is just a minor oversight in the error message.

The reason that `LOAD` and `STORE` can only be used with `ModifyVariable` is because they are not normal general-purpose injection points. They are special injection points for use with `ModifyVariable` which use the `@ModifyVariable` annotation as a *discriminator* to locate the correct local variable. Without the oute

[2017-07-24 15:14] #199 closed

[2017-07-24 20:27] Barteks2x opened #200 "Non-required mixins failing is still considered critical failure"
I don't have a clear simple test case for it yet but reporting it anyway because it's not the first time this issue bites me and I always forgot to report it later.

Sometimes it works as intended and mixin continues. But sometimes it just throws exception like here: https://pastebin.com/raw/jjSpU3NJ (with this obviosuly incorrect code, but these mixins shouldn't be required: [command clone](https

[2017-07-24 22:21] Barteks2x commented on #200
Seems like this is intended behavior, and a misunderstanding of documentation.

[2017-07-24 22:21] #200 closed

[2017-07-25 01:31] ThisTestUser commented on #197
@Mumfrey Sorry if I'm doing this wrong, but I already have Java 1.8 support added:
(Config mixins.testmod.json)
`
{
    "required": "true",
    "package": "com.testmod.mixins",
    "mixins": [
        "MixinMinecraft"
    ],
    "compatibilityLevel": "JAVA_8",
    "refmap": "mixins.testmod.refmap.json"
}`
I've also tried to use MixinEnvironment.setCompatibilityLevel(), but it doesn't work either.

[2017-07-25 01:54] Mumfrey commented on #197
Being able to set the compatibility level in the config wasn't added until 0.5.6 so I would guess that the issue is that the 0.5.3 being used is the issue. You either need to put a newer version of mixin higher on the classpath than liteloader or specify `-Dmixin.env.compatLevel=JAVA_8` on the command line.

[2017-08-01 17:02] Barteks2x opened #202 "Show more obvious error message if refmap is missing in the jar"
Currently mixin shows a very unobvious message like:
[code]

This combined with issue https://github.com/SpongePowered/MixinGradle/issues/4 can be really annoying to figure out for someone who doesn't know about the issue.

[2017-08-02 17:53] #202 closed

[2017-08-07 01:32] Aaron1011 opened #203 "Don't suppress exception in MixinPlatformAgentFML#initFMLCoreMod"
[Supressing all Exceptions](https://github.com/SpongePowered/Mixin/blob/ee0c879dc7c3d16c82d77be69f3d3faad106310d/src/main/java/org/spongepowered/asm/launch/platform/MixinPlatformAgentFML.java#L114) ended up hiding an important problem that I was debugging.

[2017-08-07 11:32] Mumfrey commented on #203
Ok.

[2017-08-07 11:36] #203 closed

[2017-08-14 19:01] Minecrell opened #204 "Mixin expects weird method parameters for redirect"
With Mixin 0.7.1 this [`@Redirect` in `MixinWorldServer` in SpongeCommon](https://github.com/SpongePowered/SpongeCommon/blob/2b828ac9c30e11a576735b81c68106aa08f072b7/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L1957-L1960) is failing for some reason:

[code]

The redirected call takes a `String` and two `Object`s so the method parameters for the `@Redirect` look c

[2017-08-14 20:50] Mumfrey commented on #204
Ah ok, I think I know which change in 0.7.1 would cause that, it's to do with the runtime refmap remapping. I most likely made the BeforeInvoke matcher too permissive when refmap remapping is active. The good news is this should be fine in production, it'll just fail in dev. Should be pretty easy to fix.

[2017-08-15 10:29] #204 closed

[2017-08-23 14:31] zeroeightytsix opened #205 "Incompatibility with forge?"
Hello, I'm trying to use mixins for a 1.12.1 forgemod I'm starting on.
However, my mod will error upon launch due to mixins using guava 17 and forge using guava 21.
My build.gradle: https://pastebin.com/aCjFs2qZ
Forge 1.12.1-14.22.0.2460
How would I go about fixing this? I'm a total noob at working with gradle and such, please be nice~

edit: Stacktrace: https://pastebin.com/Lud83tgY

[2017-08-23 14:45] Mumfrey commented on #205
Duplicate of #186, just manually evict the guava dependency in your build script, I see that you're already evicting `launchwrapper` so you already know the syntax to do so.

[2017-08-23 14:45] #205 closed

[2017-08-23 17:30] Barteks2x opened #206 "Platform manager can be instanced multiple times in development environment leading to coremods being injected more than once"
My mod has optional dependency on MalisisCore, which recently started using Mixin. Now when running my mod in dev environment, it's transformers break because they are applied many times on already transformed code.

The dependency transformers end up being added 3 times to the transformer list, with me being able to remove one by adding `--noCoreSearch` argument:
 * The first time, it's added as

[2017-08-24 00:24] Mumfrey commented on #206
This seems to be tied to the platform manager being instanced more than once, most likely because it's a static field on mixinbootstrap which is being loaded in both classloaders.

[2017-08-24 00:58] Mumfrey commented on #206
Try that, it might work or it might explode, it should theoretically work with forgegradle's scanning too, I haven't got an environment I can actually test this in so I'm just guessing.

[2017-08-24 01:25] Barteks2x commented on #206
I will test it tomorrow when I'm back at the computer where I have the dev environment.

[2017-08-24 03:35] Zidane commented on #206
@Mumfrey @kashike is reporting that after bumping Almura to latest Mixin, we're now experiencing Sponge getting double-loaded.

https://gist.github.com/kashike/d818797ed90cee7a677b1463c54c00c9#file-gistfile1-txt-L3478

[2017-08-24 03:35] kashike commented on #206
I don't think this worked. It seems to still be happening with Almura:
https://gist.github.com/kashike/d818797ed90cee7a677b1463c54c00c9#file-gistfile1-txt-L115
https://gist.github.com/kashike/d818797ed90cee7a677b1463c54c00c9#file-gistfile1-txt-L355

[2017-08-24 10:37] Mumfrey commented on #206
Looking at your logs it looks like the changes fixed the problem *as described above*. Mixin platform now:

* Only gets initialised once ✔️
* Properly ignores the command-line coremod for Almura ✔️
* Only bootstraps and injects SpongeForge once ✔️

However, I think we now have a corollary problem which is that in production, Mixin has to co-initialise the tweaker wrapper because it's injected too

[2017-08-24 16:17] Mumfrey commented on #206
Ok this might work now. Using `--noCoreSearch` seems to be basically required if you have more than one coremod because it nukes any coremod specified on the command line, so we'll just take it as read that that option needs to stay enabled.

@Zidane in my investigations I also found a bug in the AP which means that [these mixins](https://github.com/Ordinastie/MalisisCore/blob/1.12/src/main/java/n

[2017-08-24 22:30] Barteks2x commented on #206
Works fine for me.

[2017-08-25 09:22] Mumfrey commented on #206
Fantastic, I shall consider this resolved.

[2017-08-25 09:22] #206 closed

[2017-08-31 18:41] Barteks2x opened #207 "When a mod contains forge mod, coremod and mixin, the forge mod won't be loaded when used as dependency in dev environment"
MalisisCore is an issue **again**.

I probably just didn't notice it before when testing. The coremod and mixins load jut find, but the forge mod isn't loaded at all.

Log: https://pastebin.com/raw/NxuJqDqf

[2017-08-31 18:57] Mumfrey commented on #207
But from the log it looks like it's specified on the command line, so are you sure you're running with `--noCoreSearch`? Basically mixin isn't managing the injection of the coremod if it's specified on the command line, which is an intentional situation generated as a solution to the *previous* issue.

[2017-08-31 19:02] Barteks2x commented on #207
I tried with `--noCoreSearch` before, and thought maybe that was the issue so I removed that argument. Imwill post a log with `--noCoreSearch` in a few minutes.

[2017-08-31 20:57] Mumfrey commented on #207
All indications are that things are working as normal, can you verify that the malisis jar definitely contains an `FMLCorePluginContainsFMLMod` entry?

[2017-08-31 21:29] Barteks2x commented on #207
This is the whole MANIFEST.MF copied as is
[code]

[2017-09-01 12:11] Mumfrey commented on #207
Sorry I've been over the log with a fine-tooth comb and I seriously can't see anything wrong, everything looks like it should, I'm completely baffled as to why it wouldn't work unless there's some underlying issue in FML that we're inadvertently tripping over.

Literally as far as I can tell, the mixin fml agent is doing exactly what it's supposed to at exactly the right times. I have no idea how

[2017-09-01 13:54] Barteks2x commented on #207
Oh well, right now I can get things to more-or-less "work" without the mod being loaded (all GUI textures are missing), even if forge complains about impossible errors. So I ca wait for it to be fixed.

Note that I will be away for the next 2 weeks, *maybe* with internet access on my phone. So if I don't reply, that's why.

[2017-09-10 05:46] v0idst4r commented on #207
I am having the same issue. My forge mod isn't being loaded at all when trying to use mixins with it in a development environment.

[2017-09-11 11:00] Mumfrey commented on #207
@v0idst4r Open an issue, provide logs, you cannot just piggy-back on someone else's issue. *This* specific issue pertains to a very specific situation with using `deobfCompile` dependencies containing mixins and also a regular `@Mod`-annotated classes, it is not a general-purpose bandwagon thread, this is not a forum. Saying "me too" with no corollary evidence or even a basic description of your c

[2017-09-11 15:52] v0idst4r commented on #207
This very specific situation happens to be the exact same situation I'm in. My mod has a coremod and a normal mod but is not being loaded, mixins is working fine. I don't see why it's necessary to open a new issue you'll just be copy pasting the same messages to both issues to get it solved.

[2017-09-11 16:13] Mumfrey commented on #207
But you keep saying "your mod", when this issue is not about a mod, but is specifically about a mod *being used as a dependency __in development__*. You also still haven't provided any logs so I don't know what you're adding to this issue by simply saying "me too"?

Are you talking about your mod not being loaded from a jar container in production? Are you talking about it not loading as a `deobfC

[2017-09-11 16:21] v0idst4r commented on #207
Yes, as a dependency in development. I'll provide logs when I get home today but I didn't see anything suspicious.

[2017-09-15 16:38] kingdevnl opened #208 "[Itweaker] How could i do my ASM Work before loading Mixins?"
Im currenyly having an issue that Mixin overwrites my changes that i made using ASM

This its my injectIntoClassLoader method inside the Iweaker i have
[code]

[2017-09-15 16:40] kingdevnl commented on #208
PS: I have to do the Changes with ASM before Mixins
Like (Acces Transforming of fields etc)

[2017-09-15 16:52] Mumfrey commented on #208
You can make any changes you like with transformers, however mixin will nearly always apply its changes last in order to be working with the bytecode in its final form. Mixin will not overwrite access changes to fields and it will only overwrite methods when they are specifically decorated with `@Overwrite` annotations.

When an overwrite occurs, the original method is gone and there is no way to

[2017-09-15 16:54] Mumfrey commented on #208
Oh, I also realised from re-reading your issue that it might be your own mixins which are overwriting your own changes. In which case the same things still apply, they just describe ways to interact with your mixins which are possible using a companion plugin or in your existing transformer.

[2017-09-15 16:55] kingdevnl commented on #208
Getting a Bit too advanced for me to get Haha, Thanks for the Fast reply aswell!

[2017-09-15 16:56] kingdevnl commented on #208
What its the Best way to do it for a Newcomer to Mixin?

[2017-09-15 17:00] Mumfrey commented on #208
Again it depends what you want to do. If you want to transform the mixin code, you can do that because the mixins pass through your transformer, otherwise you can use a config companion plugin and just use the `postApply` callback which receives the ASM tree node for the target class after all the mixins have been applied. It's really up to you.

Like I said, mixin won't ever "undo" your changes t

[2017-09-15 17:03] kingdevnl commented on #208
Im not using Overwrite anywhere only using the Inject system to Inject in the method init()V

[2017-09-15 17:04] Mumfrey commented on #208
In which case mixin will not overwrite any of the changes made by your transformer.

[2017-09-15 17:07] kingdevnl commented on #208
mmm, Hers a Link to my code https://github.com/EnderLoader/EnderLoader

[2017-09-15 17:20] Mumfrey commented on #208
Your transformer changes the class bytes but never actually returns them: [AccesModder.java line 28](https://github.com/EnderLoader/EnderLoader/blob/1.12-DEV/src/main/java/com/enderloader/asm/transformers/AccesModder.java#L28).

Next time you should verify that your transformer works *without* Mixin before wondering if Mixin is the thing breaking it 😀

[2017-09-15 17:20] #208 closed

[2017-09-19 14:44] Barteks2x commented on #207
Any progress on this? The issue makes it near impossible to work work on some parts of my code. I really don't know what other information I could provide to help find the issue.

[2017-09-19 15:39] Mumfrey commented on #207
I've not investigated any further because as far as I can tell this is not a fault with Mixin. @v0idst4r said he was going to provide logs since he's having the same issue but didn't actually do so. There's no indication from FML as to why it's skipping the malisis core container, by all accounts the normal discovery process does two things: it adds the container to the reparseable collection, and

[2017-09-19 16:26] Barteks2x commented on #207
I took a look at the relevant fml code, and it looks like reparseable collection is completely excluded from loading mods from classpath, and the mod obviously isn't in the mods directory. So now I'm puzzled as to how loading coremod+mod dependencies has ever worked in dev environment, as I don't see any other potential places where mods are added.

I was able to workaround it by adding this to my

[2017-09-19 16:28] kashike commented on #207
https://gist.github.com/kashike/5032776729a99912c86baf1908cf1b58#file-gistfile1-txt-L792

https://github.com/SpongePowered/Mixin/blob/master/src/launchwrapper/java/org/spongepowered/asm/launch/platform/MixinPlatformAgentFML.java#L184-L201
https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/common/discovery/ModDiscoverer.java#L50-L79

[2017-09-19 16:47] Mumfrey commented on #207
Hmm, okay that adds some useful info. I've been over and over the FML code and it seems like nothing changed so I was confused. So, maybe this works when the agent is managing a _jar_ because FML somehow picks it up, but doesn't work when the thing is on the classpath already because it defeats FML's candidate scan?

So are we saying that the logic in the agent should be:

* If container is on cla

[2017-09-19 16:52] kashike commented on #207
The only use of `net.minecraftforge.fml.relauncher.CoreModManager#getReparseableCoremods` is [here](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/common/discovery/ModDiscoverer.java#L50-L57), which is where the issue is. I think simply removing the addition of the container to the reparseable collection all-together should work - the mod is [remo

[2017-09-19 21:38] Mumfrey commented on #207
All of which _seems_ sensible, but I know I added that code for a reason so I'm not ready to just blithely remove it in case it breaks whatever it was fixing in the first place. Unless something internal to FML changed since 1.8 and that code is now no longer needed of course.

[2017-09-19 21:54] kashike commented on #207
Related:
- https://github.com/SpongePowered/Mixin/issues/44
- https://github.com/SpongePowered/Mixin/commit/c01d491a15e662622c6e26ddc6e608511184628a

[2017-09-19 22:06] Ordinastie opened #209 "Possible bug with @ModifyVariable"
I'm trying to mixin the method NetHandlerPlayServer.processPlayerDigging(CPacketPlayerDigging packetIn) to modify the variable declared as
`double d3 = d0 * d0 + d1 * d1 + d2 * d2;` (L:690) https://puu.sh/xDPiH.png

The code I have :
[code]

I couldn't make it work and always got :
`[23:15:29] [Netty Local Client IO #0/INFO] [STDERR]: [org.spongepowered.asm.mixin.transformer.MixinTransformer:trans

[2017-09-20 02:03] #209 closed

[2017-09-20 02:21] Mumfrey commented on #209
There actually was a bug, but not the actual bug you were thinking of. In investingating this I realised that the interaction of a failing implicit discriminator and the `print` option actually leads to no useful output, so that's the first bug I fixed. The second bug was in the [Locals](https://github.com/SpongePowered/Mixin/blob/master/src/main/java/org/spongepowered/asm/util/Locals.java) class

[2017-09-20 02:44] Ordinastie commented on #209
Thanks for the quick fix. And for the explanation.
It's true I wasn't understanding what each ordinal truly represented. The print output really clarifies it.

I still have questions if you don't mind.
Why is the `@At` ordinal necessary if the lvt index is different for each variable ?
How can some context be passed to the annotated method ? I was advised to have an `@Inject` to capture necessary

[2017-09-20 08:51] kashike commented on #209
I based that off the output only having one "full" entry during debug:
[code]

[2017-09-20 10:14] Mumfrey commented on #209
So the discriminator `ordinal` or `index` will identify *which* local variable you're talking about. `ordinal` should in theory be more reliable over time since if the number of arguments on the method change then all the indexes are gonna shift along accordingly whereas ordinal will only change if another variable of the same type is added.

So let's assume that from our example we're identifying

[2017-09-20 10:17] Mumfrey commented on #209
Ah I see where the confusion is. The injector was actually finding the correct `DLOAD` but it was not determining the locals correctly because of the other bug.

[2017-09-20 10:20] Mumfrey commented on #209
@Ordinastie I also realised while typing the explanation above that my example was wrong. Once the discriminator is configured, the `ordinal` in the `@At` becomes the ordinal index of the `DLOAD` which matches the discriminator, in this case you want the *first* one, so the correct `ordinal` for the `@At` is `0` not `3`. Apologies for that.

The correct handler looks like this (formatted for clari

[2017-09-21 15:50] kashike commented on #207
The code I linked in my comment above (usage of `getReparseableCoremods`) is the same as the current `1.12.x` branch as it was in `1.8`, it seems.

[2017-09-21 15:57] Mumfrey commented on #207
So is it safe to assume that what I need to do is remove the action of adding the file to the reparseable collection if the file is on the boot classpath?

[2017-09-21 16:02] kashike commented on #207
It seems that way, yes. It might be safe to remove the code that adds to the repaseable collection all-together.

[2017-09-21 16:06] Mumfrey commented on #207
But it must have been there in the first place to address some issue, it wasn't just added at random. I seem to remember it being something like it adding the mods/coremods twice or something if it wasn't added. I'm not removing it to fix **this** issue if all it does it recreate the **original** issue.

[2017-09-21 16:27] kashike commented on #207
The only thing I can find is #44.

From what I can see:
In FML, mods *without* the `"FMLCorePluginContainsFMLMod": true` manifest entry [will be added](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/relauncher/CoreModManager.java#L410-L413) to `net.minecraftforge.fml.relauncher.CoreModManager#ignoredModFiles`, which Mixin [removes](https://github.

[2017-09-26 13:15] Ordinastie opened #210 "java.lang.NoSuchMethodException: org.spongepowered.asm.service.MixinService.getInstance()"
Since I updated to 0.7.4, I get that error in the log.
java.lang.NoSuchMethodException: org.spongepowered.asm.service.MixinService.getInstance()
https://gist.github.com/Ordinastie/b2bd9fa7056ad3cabd242cfd2f2b1750#file-fml-log-L21

Doesn't seem to prevent any mixin to work though.

[2017-09-26 14:32] Mumfrey commented on #210
Ah, yes that's a refactoring fail right there. It doesn't matter too much if there is more than one service which is why that's not fatal, but what it does mean is that in production re-entrance wouldn't necessarily be detected because different parts of the subsystem might be using different services.

Should be simple to fix by fixing the reflective call to use the right name.

[2017-09-26 14:41] Mumfrey commented on #210
That should have fixed it, let me know if the problem persists. If the issue is resolved feel free to close this ticket.

[2017-09-27 12:28] Mumfrey commented on #210
It seems like there's some failure of classloader isolation going on, since fixing this issue leads to a LinkageError so I suspect I need to split the service down into parts which can be more effectively isolated before this is going to be resolved.

The whole purpose of isolating support for LaunchWrapper into a service is to support the java 9 branch and switching to modlauncher, but at the mom

[2017-09-27 15:26] #210 closed

[2017-09-28 13:47] Ordinastie opened #211 "java.lang.ClassNotFoundException: org.spongepowered.asm.launch.MixinTweaker"
The class does appear in the JAR, I don't know if I did anything wrong : https://github.com/Ordinastie/MalisisCore/issues/123

[2017-09-28 15:03] Mumfrey commented on #211
Can you reproduce without MultiMC?

[2017-09-28 16:34] Ordinastie commented on #211
Got another report with MultiMC with same stacktrace.
I don't have MultiMC but it doesn't happen with vanilla launcher. (On the other hand, I get that with the vanilla launcher : https://gist.github.com/Ordinastie/fee374187675138904ee6f2c3e9a5628#file-fml-log-L238. Should I open another issue ?)

[2017-09-28 16:56] Mumfrey commented on #211
Something weird going on with MultiMC in that case perhaps? I have no idea why you'd get that error under normal circumstances.

The error you linked in vanilla is because [your refmap isn't being loaded](https://gist.github.com/Ordinastie/fee374187675138904ee6f2c3e9a5628#file-fml-log-L193) which more than likely is a gradle packaging error. Make sure you're running version `0.5-SNAPSHOT` of the *

[2017-09-28 17:02] Ordinastie commented on #211
I was indeed using MixinGradle 0.4 (I blame @Zidane :p for that one).
About MultiMC, what do I say to my users ? That you're currently investigating it ?

[2017-09-28 17:06] Mumfrey commented on #211
If you're on IRC or discord, jump on their channel and see if anyone is about who could look into it. I'm not around until this evening so I can't currently ask anyone about it.

[2017-09-28 17:35] tgstyle commented on #211
SpongeForge server logs this error

https://gist.github.com/tgstyle/65434bc190394409b886ea31703699a8

[main/WARN] [mixin/]: Mixin config mixins.malisiscore.core.json requires mixin subsystem version 0.7.4 but 0.7.2 was found. The mixin config will not be applied.

[2017-09-28 18:04] Mumfrey commented on #211
That's intentional. If mixin is booted by a particular mod but another mod needs a newer version, it raises that error. It is necessary to shuffle the order of the mods so that the one with the newer mixin version loads first. This is one of the reasons that switching to jar-in-jar is happening, but at the moment it's not properly supported and doesn't work as intended.

Regardless, that error is

[2017-09-28 18:17] tgstyle commented on #211
OK, the server stops on that error though.

[2017-09-28 19:09] Zidane commented on #211
@Ordinastie

I completely forgot there was a newer MixinGradle build. My bad :p.

[2017-09-28 19:13] Zidane commented on #211
@tgstyle As it should You're using a mod that requires a new version of Mixin when another mod loaded an older one.

[2017-09-28 19:18] mcsnetworks commented on #211
My response:  https://i.imgur.com/91jOMpI.gif

[2017-09-28 19:56] pKalju opened #212 "Modify arguments that are given to a void."
Hello, I would like to know how to modify a void which gets called in multiple places. I thought about using `@ModifyConstant`, but that requires the overwritten input to be finalized. Ideally I want to be able to change the value so it could be changed multiple times.

I also tried using @Inject, but that won't make it so the modified variable gets called later.

Example:
[code]

[2017-09-28 20:11] Mumfrey commented on #211
@tgstyle I do not tolerate people polluting tickets with unrelated idiotic prattle. Go and request advice either via an appropriate forum or via IRC.

[2017-09-28 20:21] Mumfrey commented on #212
The problem in question is quite target-specific. Depending on the nature of your target will determine the type of injection you use. You are most likely looking for [ModifyVariable](http://jenkins.liteloader.com/view/Other/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/injection/ModifyVariable.html) but it very much depends.

In your example case an `@ModifyVariable` can be used at `HE

[2017-09-28 20:41] pKalju commented on #212
This works for my use perfectly. Thanks for the help.
[code]

[2017-09-28 21:14] tgstyle commented on #211
@Mumfrey What did I do ?

[2017-09-28 21:37] tgstyle commented on #211
@Mumfrey I do believe you confused my response with @mcsnetworks ?

[2017-09-28 21:38] Ordinastie commented on #211
Ok, I think I found the MultiMC issue. Turns out the class was NOT in the jar.
Apparently, the base jar was getting uploaded to CurseForge instead of the shadow jar. I should have noticed that. Sorry.

[2017-09-28 21:38] #211 closed

[2017-09-28 21:40] #212 closed

[2017-09-28 21:41] Mumfrey commented on #211
No worries, at least it was just derp and not anything serious.

[2017-10-01 13:27] Ordinastie opened #213 "Error loading class: net/minecraft/world/chunk/Chunk"
It seems the first mixin in the list from https://github.com/Ordinastie/MalisisCore/blob/1.12/src/main/resources/mixins.malisiscore.core.json#L9 always show an error in the log :
`[14:58:00] [main/WARN] [mixin/]: Error loading class: net/minecraft/world/World`
`[14:58:00] [main/TRACE] [mixin/]: Added class metadata for net/minecraft/world/World to metadata cache`
`[14:58:00] [main/WARN] [mixin/]:

[2017-10-01 13:40] Mumfrey commented on #213
Hm, yes it's not possible to tell what error is being caught in the classload which is leading to that because mixin catches it and just emits that error. I'll change the relevant part to log the exception stacktrace so we can see where it's failing.

[2017-10-01 13:44] Mumfrey commented on #213
Ok if you give that few minutes to build on jenkins and upload to creeperhost it should generate some more useful log info.

[2017-10-01 14:35] Ordinastie commented on #213
Is it supposed to be uploaded yet ? I can't seem to have the exception shown.

[2017-10-01 14:37] Mumfrey commented on #213
Yes it was available nearly an hour ago.

[2017-10-01 14:49] Ordinastie commented on #213
I don't see any exception in the log. Apprently vanilla launcher eats logs, so that doesn't help but even inside the log window, I don't see any exception.

[2017-10-01 14:50] Mumfrey commented on #213
Did you definitely refresh-dependencies before you rebuilt your mod?

[2017-10-01 14:51] Ordinastie commented on #213
I did. Let's do it again to be sure.

[2017-10-01 15:01] Ordinastie commented on #213
This time it worked I think, but I don't see the exception being that helpful :
https://gist.github.com/Ordinastie/b038e3f19180e393a06c87100a9cb76c#file-fml-log-L271

[2017-10-01 15:02] Ordinastie commented on #213
I should specify it only happens in prod, not in dev.

[2017-10-01 15:05] Mumfrey commented on #213
Can you send me a binary or link me to the project source please. I have no idea why that would happen it's very unusual.

[2017-10-01 15:07] Ordinastie commented on #213
https://github.com/Ordinastie/MalisisCore
https://puu.sh/xNpqq.jar

[2017-10-01 15:11] Ordinastie commented on #213
If you launch a world, it will crash also, if you want to take a look at it too :)

[2017-10-01 15:13] Mumfrey commented on #213
Is that definitely the correct binary? It works 100% perfectly for me:

[log file](https://gist.github.com/Mumfrey/55e0e232519a6a929caaee6503d71d2c)

Including creating a world and loading in in single player:

![image](http://eq2.co.uk/minecraft/2017-10-01_16.12.25.png)

[2017-10-01 15:18] Ordinastie commented on #213
I don't know about the crash when loading a world, but there is the exception in your log : https://gist.github.com/Mumfrey/55e0e232519a6a929caaee6503d71d2c#file-fml-client-latest-log-L267

[2017-10-01 15:18] Mumfrey commented on #213
For comparison (since I'm using the old Java launcher) I tested using the new native windows launcher as well, just to make sure it isn't an issue with the new launcher:

[log file](https://gist.github.com/Mumfrey/f5bb89a7f1ca60ca6a1053336144721a)

[2017-10-01 15:19] Mumfrey commented on #213
Ah ok, that means I can attach a debugger to it and figure out what's going on then.

[2017-10-01 15:36] Mumfrey commented on #213
Okay I've identified the problem. There was a race condition between detecting the name transformer and when the first mixin could be processed. Resolving the race condition fixes the problem.

[2017-10-01 15:40] Ordinastie commented on #213
My other issue doesn't seem to happen anymore for some reason, but it was that : https://github.com/Ordinastie/MalisisCore/issues/124

[2017-10-01 15:40] #213 closed

[2017-10-01 15:47] Mumfrey commented on #213
It might be you were running a version of mixin before [this fix](https://github.com/SpongePowered/Mixin/commit/5a1a51a2f059a1a62c32741422b3032591537b29) which fixed the mappings generated by the AP for inner-class mixins. Looking at the current binary everything seems to be properly obfuscated.

[2017-10-01 15:51] Ordinastie commented on #213
I don't know, I was sure I updated the snapshot, but today it took me like half-dozen tries to have it downloaded. I need to make a new release, I'll see if it's fixed in that one.
Thanks for your help.

[2017-10-01 15:54] Mumfrey commented on #213
Do yourself a favour and put this in your global gradle init:

[code]
It basically sets system-wide that SNAPSHOTs should be checked every build and basically means you hardly ever have to run `--refresh-dependencies`. Only add it if you have a good internet connection though.

[2017-10-01 18:43] Ordinastie opened #214 "Shadow field serverController was not located in the target class net.minecraft.network.NetHandlerPlayServer. Using refmap mixins.malisiscore.refmap.json"
I'm at a total loss here. Somehow, the jar I build and test myself works, but when I upload it to Curseforge, I get this exception :
https://gist.github.com/Ordinastie/667f56526ec862c7db47a0166261ab3b#file-log-L221 (had to copy the log window as the exception is not logged in fml-latest.log)

I don't know why, but in case it help, here are the two jar (supposedly identical) :
Working : https://puu

[2017-10-01 19:03] Mumfrey commented on #214
The files are not identical, one is correctly obfuscated and the other is not. Decompiling `MixinNetHandlerPlayServer` we see this in the "working" jar:

[code]
and this in the "failing" jar:
[code]
Notice that the shadow methods are not obfuscated in the latter.

[2017-10-01 19:57] Mumfrey commented on #214
Identified as a bug in [MixinGradle](https://github.com/SpongePowered/MixinGradle/), version bumped to 0.6-SNAPSHOT with fix.

[2017-10-01 19:57] #214 closed

[2017-10-06 14:33] Ordinastie opened #215 "Trying to have Sponge run in a dev environment."
I'm trying to have Songe in my dev environment to help me fix my mixin, but it crashes.
I just put the dev jar in mods/ folder.
Here is the log : https://gist.github.com/Ordinastie/ffdb58b42b4ff7a58fa62cde7a544946

[2017-10-06 14:46] Mumfrey commented on #215
Looks like something else you have in your environment is breaking the coremod contract.

[2017-10-06 14:49] Mumfrey commented on #215
Also there is not sufficient information in the console log to troubleshoot something like that, the fml log will provide the required details.

[2017-10-06 14:52] Ordinastie commented on #215
I added the log to the gist.

[2017-10-06 14:57] Mumfrey commented on #215
Looks like it's discovering the spongeforge jar too late to get the PREINIT phase mixins applied, you could try putting the spongeforge jar on the classpath instead.

[2017-10-06 15:08] Ordinastie commented on #215
If I just put the jar on the classpath, it apparently gets loaded first and takes its Mixin version instead of the 0.7.4 MalisisCore needs.
I don't see to be able to change the order.

[2017-10-06 15:14] Mumfrey commented on #215
Assuming you're using eclipse, you can just click on the sponge jar in the run configuration and change its order with respect to the other items on the classpath.

[2017-10-06 15:16] Ordinastie commented on #215
I got the same result for both :
https://puu.sh/xRsYy.png and https://puu.sh/xRsY2.png

[2017-10-06 15:20] Mumfrey commented on #215
Hm weird, I wonder if there's some internal sorting going on in FML or ForgeGradle. There's two possible remedies:

* Add the mixin 0.7.4 jar to the classpath directly, at the top
* Open the spongeforge jar and just delete `org.spongepowered.asm` package, it only needs the manifest entries in order to detect it properly

[2017-10-06 15:44] Ordinastie commented on #215
I somehow broke everything as I can't even launch at all anymore, even without Sponge. I'll get back to you once it's fixed.

[2017-10-06 15:53] Mumfrey commented on #215
It's probably easier to deal with this kind of thing over IRC anyway, better to wait until this evening if you can.

[2017-10-10 12:17] #207 closed

[2017-10-10 12:18] Mumfrey commented on #207
@Barteks2x, @kashike has come up with a solution for this which I have merged, please can you let us know whether the issue is resolved with this build and re-open if necessary.

[2017-10-10 19:03] Barteks2x commented on #207
It works.

[2017-10-10 19:08] v0idst4r commented on #207
Works, thanks.

[2017-10-10 20:59] Mumfrey commented on #207
Cool, thanks for the reports. Also thanks to @kashike for having the time to look into it.

[2017-10-10 21:00] Mumfrey commented on #210
This should now be fully resolved by the addition of the bootstrap services.

[2017-10-21 15:01] Sollace opened #217 "Mixin @Static fields and methods, and constructors"
Over the last few days I've been looking at the mixins to see what it can can can't do, and trying to see if I can get rid of the access transformer we're currently using. After a while, though, I noticed there were a few limitations.

The first one (Static members): The docs already say that you can inject static members, but that static methods are pretty much useless because you wouldn't have a

[2017-10-21 21:40] Mumfrey commented on #217
This seems like an insanely complicated way of just achieving what you can already do with a static `@Accessor` method in Java 8+ mixins? Or am I misunderstanding your use case? For example like [this example](http://develop.liteloader.com/liteloader/LiteLoader/blob/master/src/client/java/com/mumfrey/liteloader/client/mixin/IKeyBinding.java)

Correct, there is no use-case for this.

[2017-10-22 07:55] Sollace commented on #217
The wiki specifically said that your example wouldn't work though. I don't know if that's changed since, but it said you'd have no way to call that method at all because it has to be called on the destination class. They recommended that any methods you do add all be declared as private, which kind of defeats the purpose.

My use case is like this:
- CREATIVE_TAB_ARRAY is defined as "public static

[2017-10-22 15:15] Mumfrey commented on #217
Making a `public static final` member mutable in any way other than allowing it to be changed at initialisation time is a bad idea. There are fundamental reasons I'm opposed to access transformers in general and these stem from *contractual assumptions* made both by the compiler and the JVM which mean that certain types of transformation are inherently dangerous to make at runtime. To take a stupi

[2017-10-22 15:15] #217 closed

[2017-10-22 17:20] Sollace commented on #217
Okay, well thanks for explaining it all, and sorry for wasting your time.

[2017-10-22 17:38] Mumfrey commented on #217
It's not a waste of time if you get something out of it, it's always worth having a discussion.

Some notes for next time:

* One issue per issue, it's impossible to track multiple feature requests/bugs/questions if they are asked in one ticket. Whilst it might seem frivolous, like I said this is not a forum and it's infinitely easier to manage that way.
* If you want to ask a question, go ahead.

[2017-10-22 19:25] Sollace commented on #217
Yeah. I feel really silly now. I dove right into "how can I make something _really cool_ to add to this" and didn't think there was any room to ask for help. A lot of what was done with ATs could already be replaced with Mixins. The number got cut from ~12 to now 2, plus one reflection call to instantiate new objects:

    Constr<WorldType> worldTypeConstructor = Reflect.lookupConstructor(...);

[2017-10-23 10:38] Mumfrey commented on #217
Invokers can't (currently) invoke constructors, though it's a sensible addition and I would accept it as a feature request. Calling a constructor is more than just a regular method call because internally it's actually two steps: create the object using the `NEW` opcode and then ctor is called on the newly created object, and invokers don't currently have a generator which supports this, though it

[2017-10-25 16:34] Sollace commented on #217
Okay, that'd be perfect!

Shall I make an issue out of that so it can be tracked?

[2017-10-25 19:31] Mumfrey commented on #217
No it's fine it's already on my mind to add anyway, I'm going to be away next week at the paris games week so I'll take a look at it when I get back.

[2017-10-29 10:59] Barteks2x opened #218 "deobfCompile dependencies using mixin don't work when runnning from unit tests with LWTS"
It's yet another issue I got trying to use MalisisCore. It runs find outside of unit tests. When running unit tests using LWTS, and after adding these lines in build.gradle dependencies section:
[code]
I'm getting this exception: https://pastebin.com/raw/rQH6gA4z

This is full `./gradlew build` log after adding `testLogging { showStandardStreams = true }` to the test task in gradle: https://pasteb

[2017-10-29 12:37] Barteks2x opened #219 "-Dmixin.env.refMapRemappingFile does nothing (always empty)"
After looking at the code, [this line](https://github.com/SpongePowered/Mixin/blob/404f5da0b6b18980b4e44c7f1cfeddcd47fe4aa6/src/main/java/org/spongepowered/asm/mixin/MixinEnvironment.java#L554) always returns the default value for the option, because parent is never null, and the `ENVIRONMENT` one always returns `false` as booleanValue, so mixin never attempts to access the system property. And I

[2017-10-29 12:53] Barteks2x commented on #218
It works after adding this to my MixinServerTweaker:
[code]

So this is not really a mixin issue, and looks more like LWTS issue.

[2017-10-29 12:53] #218 closed

[2017-10-30 04:33] w-o-a-h opened #220 "Inject into a forge mod?"
Is there a way to inject something into a forge mod I'm trying to do this to fix a issue in a mod that is closed source.

[2017-10-30 04:36] liach commented on #220
@w-o-a-h You can. Add that mod's deobfuscated version as one of your dependencies and make a coremod that add your mixin config into your mixin. Then, you can target your mixins to classes in that mod.

[2017-10-30 17:54] ImMorpheus opened #221 "Spongeforge and Mixin 0.6.15+"
Spongeforge: 1.11.2-2476-6.1.0-BETA-2699
Mixin: 0.6.15+

project: https://github.com/ImMorpheus/Orion/tree/da3dbfb97d0f49d5563c7d164e3c5e26c22d9666
Changing mixin to anything newer than 0.6.14 and using "run server" results in:
[code]

I'm almost sure I'm doing something wrong.

[2017-10-30 21:24] w-o-a-h commented on #220
Its compiling there mod into my mod for some reason

[2017-11-08 08:57] Ordinastie opened #222 "Mixin failing in the presence of LiteLoader"
I've got user reports of crashes with this log :
https://gist.github.com/Ordinastie/785dd81f71e8a70c2c40695dc874f450#file-fml-log-L992
User confirmed that removal of LiteLoader fixes the issue.

Note that I can't replicate the crash myself, it doesn't happen for me.
For info, here is the mixin :
https://github.com/Ordinastie/MalisisCore/blob/1.12/src/main/java/net/malisis/core/asm/mixin/core/Mixin

[2017-11-08 12:10] Mumfrey commented on #219
That's a refactoring fail I think, I changed the way the inheritance worked to try and remove some code duplication a while back and it must have buggered up the string property handling. I'll take a look and fix that.

[2017-11-08 12:11] #220 closed

[2017-11-08 12:14] Mumfrey commented on #221
Versions of Mixin prior to 0.7.(x I can't remember which) had issues when running in obfuscated environments where the consumed library is being used as a deobfDep. Update mixin to latest version and Sponge to latest bleeding and test again, reference also issues #207 and #215.

[2017-11-08 12:21] Mumfrey commented on #222
I think I know what happened, it's because of [this fix](https://github.com/SpongePowered/Mixin/commit/164e471dcda327c41f5348e76b1de3fa5313cb39) which was rolled into 0.7.4 with no version bump because I thought it was minor. I think the current liteloader snapshot ships a version of 0.7.4 which is prior to this patch (by 1 day) and that's causing the failure. This is a liteloader issue rather tha

[2017-11-08 12:21] #222 closed

[2017-11-08 12:36] Ordinastie commented on #222
I'll share blame, I should have looked at LiteLoader issues :p

[2017-11-08 12:39] Mumfrey commented on #222
Not your fault in any way, I should just be more regimental about bumping the minor version when a potentially breaking change is made. I guess we both learned something from this experience :D

[2017-11-12 21:24] Marco-MC opened #224 "Mixin can't locate methods"
Mixin: 0.7.5-SNAPSHOT
MixinGradle: 0.5-SNAPSHOT

**Error**:
[code]

**Full log**: https://pastebin.com/icDZu1sF

**build.gradle**:
[code]

Class:
[code]

The method "sendClickBlockToController(boolean leftClick)" is the reason.
If I remove the method, I get the next error. This is a always the same issue... He can't find the methods etc.
I saw that I'm not the first with this issue: https://github

[2017-11-13 14:47] Mumfrey commented on #224
You're targetting forge but obfuscating to `NOTCH`.

[2017-11-13 17:58] Marco-MC commented on #224
Thanks <3
It work.

[2017-11-13 17:58] #224 closed

[2017-11-14 15:48] DaMatrix opened #225 "Call an injected super method from a mixin class"
Imagine the following scenario:

[code]
[code]
I can't call super because the method doesn't exist in `Entity` at compile time.  Is such a feat possible using Mixin, and if so, how? Thanks!

[2017-11-14 15:59] Mumfrey commented on #225
Set the superclass of `MixinEntityAnimal` to `MixinEntity`.

[2017-11-14 17:36] DaMatrix commented on #225
Works, thanks!

[2017-11-14 17:36] #225 closed

[2017-11-18 13:37] pKalju opened #226 "Question - Modifying local variable"
Hello, I would like to know how to modify a local variable that gets modified and called multiple times in a method. I tried looking for ```@ModifyLocal```, but that does not seem to exist.

I noticed there are quite a few interesting methods here, but there are no full examples about them.
https://github.com/SpongePowered/Mixin/tree/master/src/main/java/org/spongepowered/asm/mixin/injection/modif

[2017-11-18 16:52] Mumfrey commented on #226
What you're looking for is [`@ModifyVariable`](http://jenkins.liteloader.com/view/Other/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/injection/ModifyVariable.html) though bear in mind it can be a bit sensitive to changes in the target method which is why it takes a "discriminator" approach where possible. If you have any questions about its use then let me know below.

[2017-11-18 18:09] Minecrell commented on #226
Your example is confusing: If I understand you correctly, you want to multiply `elapsedPartialTicks` with another value before it is added to `renderPartialTicks`. However, `elapsedPartialTicks` is a field, not a local variable. Therefore you can just `@Redirect` the field normally.

[2017-11-18 19:35] pKalju commented on #226
Alright I tried to use ```@Redirect```, but that caused this error:
[code]
@Redirect(method = "updateTimer", at = @At(value = "FIELD", target = "net/minecraft/util/Timer.elapsedPartialTicks:F", ordinal = 1))
    private float onUpdateTimer() {
        return elapsedPartialTicks *= timerSpeed;
    }
[code]
@Inject(method = "updateTimer", at = @At(value = "FIELD", target = "net/minecraft/util/Timer.

[2017-11-18 19:39] Minecrell commented on #226
The reason why the `@Inject` is working is that you actually modify the actual `elapsedPartialTicks` field, instead of only the number that will be added to `renderPartialTicks`.

The reason why your `@Redirect` isn't working is that you need to add a single `Timer` parameter (you don't have to use it, though).

[2017-11-18 19:54] pKalju commented on #226
Alright now that this is figured out, I would like to know how to modify an if check, making one of the parts return true.
[code]

[2017-11-18 21:47] Mumfrey commented on #226
Then Redirect `cantDoAfter()`.

[2017-11-18 21:47] #226 closed

[2017-11-22 16:21] #221 closed

[2017-11-22 17:41] ImMorpheus commented on #221
Whoops, forgot this.
I tried creating a 1.12 mod, however "StartServer" crashes as soon as the server starts.

[code]
Removing MixinGradle seems to make the server start. (obv it doesn't fix the problem).
No luck with cleanCache (forgegradle task).
Note: The class is not really empty, I'm using MinecraftDev.

[2017-12-19 04:18] Dockter opened #227 "Mixin bootstrap loading in the wrong order"
@Zidane asked me to post this.  We had an unusual instance where Mixin bootstrapping should have taken place within the almura.jar but instead MalisisCore loaded it instead.

Log:  https://gist.github.com/Dockter/97fe3513d192088dd19cfa326cf18f23

Zidane was confused if Almura's was asked to start first by did Malisis start before Almura's did.  This error was not immediately re-producible.

[2017-12-19 16:14] Mumfrey commented on #227
It's not so much "started first" as an artefact of the interaction between FML and Launchwrapper. The coremod jars get injected by FML and the tweaker names get queued for Launchwrapper to process on the next pass (tweakers get spun up by launchwrapper but the jars are added to the classpath by FML). This leads to an irritating kinda-sorta-but-not-really nondeterministic behaviour with who is real

[2017-12-25 12:46] Barteks2x opened #228 "Mixin and forge coremods policies (dependency extraction)"
I already asked about that on IRC but got no reply so far, so asking here instead.

As of Minecraft 1.12, modders are supposed to separate coremods into separate jars, that just handle the class transformation, and to still keep it one file to download - use forge dependency extraction system, where forge will extract the coremod jar from inside the normal mod.

According to lex, this is also supp

[2017-12-25 18:50] Mumfrey commented on #228
This is a discussion for IRC, also not on Christmas day.

[2017-12-25 18:50] #228 closed

[2017-12-25 18:56] Mumfrey commented on #228
https://github.com/MinecraftForge/MinecraftForge/pull/4081

[2017-12-26 21:39] #227 closed

[2017-12-27 15:20] Mumfrey commented on #228
Yes I know, and believe me Sponge will be at the forefront of that adoption wave as soon as it's *physically* possible

It doesn't work currently because Forge extracts bundled deps but has no mechanism to *then* choose the most recent version, instead if mod x and mod y both ship versions of mixin as an extracted dep, then the **oldest** one will get loaded because the files are actually loaded a

[2017-12-27 22:55] Barteks2x opened #229 "Using ModifyConstant with constant 0 on method that returns boolean may lead to JVM-dependent behavior (undefined behavior?)"
I know this is all a consequence of a feature I requested myself... I can deal with it but this may be something mixin could try to at least detect and warn about.

Consider the following source bytecode (asm format as shown by intellij bytecode outline plugin):

[code]
(you can find example of such bytecode in `Chunk#isEmptyBetween` in Minecraft)

and consider the following `@ModifyConstant`:
[co

[2017-12-27 23:04] Pokechu22 commented on #229
Shouldn't it be possible to just refuse changing a Boolean to an int?  I _think_ the localvariabletable knows the actual type (or, maybe it's in the stackmap?)

I'll have to look this up -- I don't know for sure.

[2017-12-27 23:14] Barteks2x commented on #229
it is technically valid for the bytecode to return an int local variable as boolean, as long as at runtime it will always be either 0 or 1. `javac` may never generate such code, but other compilers, or even other coremods may do that.

[2017-12-27 23:19] Pokechu22 commented on #229
Ah, and it turns out that the verifier doesn't actually care about the difference between Booleans and ints:

So that wouldn't work :/

[2017-12-28 21:19] JonathanxD commented on #229
This is weird statement because JVM does not interpret boolean values, `javac` compiles boolean checks (`if (boolean)` or `boolean ?:`) to a check against `zero` values (`ifeq` to check `==0` and `ifne` to check `!=0` and branch to ouside of if. [ref](https://docs.oracle.com/javase/specs/jvms/se7/html/jvms-6.html#jvms-6.5.if_cond)).

I think that `world.getMinHeight()` may return `0` or `1` (natur

[2017-12-28 21:45] Barteks2x commented on #229
`world.getMinHeight` is a methoid I add and I know for a fact that it returns `Integer.MIN_VALUE/2`. And what I said may have something to do with JVM optimizer assuming a boolean is always either 0 or 1.

[2017-12-29 12:08] Mumfrey commented on #229
Yeah this behaviour being undefined kind of sucks, I wish Java treated booleans like C where 0 means `false` and everything else is `true` because at least that would be consistent.

There are little tips of the hat to the fact that everything shorter than an `int` is still an `int` internally sprinkled throughout Mixin, eg. in features like [`@Coerce`](http://jenkins.liteloader.com/view/Other/job

[2018-01-01 19:55] Desetude opened #230 "Unexpected (Wrong?) Injection Location"
Mixin: 0.7.4-SNAPSHOT (as depended on by SpongeCommon)

I have the following mixin: https://gist.github.com/Desetude/1a7462fecdeac91c8e13ee65ccef4594.

With this mixin, the following class (decompiled) https://gist.github.com/Desetude/aae68b852dbe7d2fd1a656f1b7feff59 is exported.

onBreedFeed is injected into the location I targetted (L132), however onAgeFeed is injected into the locations at: L13

[2018-01-01 20:22] Mumfrey commented on #230
I don't see anything wrong with the injection itself looking over it, so it would seem to be a bug. I will take a look into it and see what's going on.

[2018-01-01 20:58] Barteks2x commented on #230
I'm not sure if that matters, but in the bytecode, isChild and ageUp are invoked on EntityAnimal, not EntityAgeable (`INVOKEVIRTUAL net/minecraft/entity/passive/EntityAnimal.ageUp (IZ)V`). Does mixin actually handle that case?

[2018-01-01 21:41] Mumfrey commented on #230
I noticed that too, but honestly if the slice is invalid then the behaviour should be to either *report* the invalid slice or select **no** nodes, so I'd still consider it a bug either way, since the behaviour isn't what is expected.

[2018-01-02 17:17] Desetude commented on #230
@Barteks2x Oh thanks, I didn't see that, I just got the target from IntelliJ minecraft-dev.

[2018-01-03 14:36] Mumfrey commented on #230
As I mentioned above, I still consider the behaviour a bug since if the slice is wrong then really it should report that or inject no nodes. Maybe report a related bug over at [minecraft-dev/MinecraftDev](https://github.com/minecraft-dev/MinecraftDev) if it's that which was giving you the wrong target for the invocation.

[2018-01-08 15:35] #219 closed

[2018-01-08 15:35] #229 closed

[2018-01-08 15:35] #230 closed

[2018-01-08 15:38] Mumfrey commented on #230
So it turns out the issue was I wasn't differentiating between a slice endpoint being *unspecified* (eg when just specifying `from` but not `to`) and an endpoint being *specified* but not actually succeeding.

I have adjusted the behaviour of slice matching so that in the situation that a slice endpoint is specified but doesn't match any nodes, the slice will be zero-sized (causing any injectors u

[2018-01-08 16:01] Mumfrey commented on #229
The injector now does a very basic static analysis of the code and attempts to find the obvious scenarious where a narrowing conversion is occurring, static analysis is only performed and warning emitted when debug verbose is enabled, for performance reasons. This should allow developers to find these issues but won't impact end users.

[2018-01-13 18:11] gaeqs opened #231 "ClassNotFoundException in InnerClassGenerator"
Mixin: 0.7.4-SNAPSHOT (The build in the last Spongevanilla update)
I'm trying to edit a non-static nested class, But it seems Sponge crashes when it tries to load the class, throwing a ClassNotFoundException.

Error log: https://pastebin.com/czLcjpfQ
(Shouldn't it be ClassRemapper instead of Remapper?)

Code: https://pastebin.com/BtAJQ6QG

[2018-01-13 18:58] Mumfrey commented on #231
This looks like a packaging error, that class hasn't been included in the jar.

No, they are two different classes.

[2018-01-13 19:21] #231 closed

[2018-01-17 19:19] DaMatrix opened #232 "ModifyVariable does not warn when handler signature is invalid"
I'm trying to modify the `x`, `y` and `z` arguments of `Entity#move` at HEAD. I can't use ModifyArgs because that needs a method to inject at. So I tried this somewhat hacky code:

https://github.com/ValkyrienWarfare/Valkyrien-Warfare-Revamped/blob/aae7645fd30f1da5f00ba86548a2b1efaaa3424d/src/main/java/valkyrienwarfare/mixin/entity/MixinEntityIntrinsic.java#L51-L86

In theory, it works. In practic

[2018-01-17 21:06] Mumfrey commented on #232
Arg, ASM and stack map frames. I'll look into that.

[2018-01-18 12:07] Mumfrey commented on #232
Okay so I've looked into this and there are two problems:

* Your code is wrong
* My code doesn't warn you when your code is wrong.

Of the injectors you defined, only one was actually injecting, and wasn't actually the right thing. The correct injectors look like this:

[code]

Note the use of `ordinal` instead of `index`. The `index` discriminator is used to point to an explicit position in the

[2018-01-18 12:51] #232 closed

[2018-01-18 16:48] DaMatrix commented on #232
Alright, thanks!

[2018-01-25 23:11] Eufranio opened #233 "Mixin not reobfuscating non-mc fields"
I have the following code that modifies a non-mc class (a class from another mod):

[code]

On my IDE, I have the deobfuscated version of the mod that has this class. The target method overrides `onImpact`, which is a minecraft method, from EntityThrowable. The problem is that Mixin is not reobfuscating the `onImpact`, so after compiling, it still `onImpact` instead `func_70184_a`. This works when

[2018-01-26 14:18] ryantheleach commented on #233
@Eufranio Try reading over Mumfrey's reply here, and see if it helps at all.

https://github.com/SpongePowered/Mixin/issues/133

[2018-01-26 14:23] Eufranio commented on #233
Hmm, my refmaps are ok and as I said, it is able to reobfuscate vanilla mixins correctly. Unless there's a special setup for using it along with other mods, it might not be causing this problem...

[2018-01-26 18:19] Mumfrey commented on #233
What happens if you fully-qualify the the method reference instead of just using the name. I don't think the AP is going to have enough information available to reobf the reference with just the name.

[2018-01-27 15:52] Eufranio commented on #233
Same error, `@Inject annotation on handler$injectImpact$zbe000 could not find 'onImpact'`, using the filly-qualified name:
[code]

Maybe because `onImpact` is a method of `EntityFlorb.class`, which extends EntityThrowable, and not `EntityThrowable.class`?

[2018-01-27 17:58] Mumfrey commented on #233
The extends isn't a problem as long as the AST is available for the class at compile time. The annotation processor is able to handle this kind of situation by looking up the superclass information of the target class until it finds an obf mapping for the reference (or not).

Does `EntityFlorb` exist on your compile-time classpath?

[2018-01-27 20:50] Eufranio commented on #233
Yes, `EntityFlorb` exist on my compile classpath, trough a deobfuscated jar as compile dependency.

[2018-01-28 09:38] Yeregorix opened #234 "Mixin is sometimes detecting my plugin, sometimes not."
I've recently developed a public Sponge plugin using Mixin which works fine for me and for most users but for some users using SpongeForge my plugin is not working at all because my mixin config does not seems to be applied or even detected. I don't know if I'm doing something wrong or it's a Mixin issue and I cannot reproduce the issue on my computer that's why I'm asking for help. Here is my plu

[2018-01-29 01:04] Mumfrey commented on #234
Wrong repo.

[2018-01-29 01:04] #234 closed

[2018-02-06 21:40] w-o-a-h opened #235 "java.lang.LinkageError: loader constraint violation: loader"
This is super wierd it only happens on some mc versions but works fine on 1.8.9 and 1.12.2 and only happens if I override it from a interface.

Code that cause's this below.
[code]

Error below.
[code]

[2018-02-08 11:33] Mumfrey commented on #235
Can you please post the entire log. I am unable to reproduce this and wonder if I'm missing some piece of the puzzle.

[2018-02-09 19:57] w-o-a-h commented on #235
As I said this is really weird I believe it might be something todo with 1.7.10 (Modified ForgeGradle 2.1 so it works with 1.7.10 without crashing on setupDevEnv) anyways I found a solution that is hackery but it works for my little mod I'm making for some friends.

[2018-02-09 19:57] #235 closed

[2018-02-11 09:20] ryantheleach commented on #235
@w-o-a-h i doubt it's relevent, but mind mentioning what the solution was?

[2018-02-12 00:39] ryantheleach opened #236 "MixinToy example repo"
I'd love to get more hands on experience with Mixin in a hands on environment that is tightly controlled, and not going to make a mess of my workspaces. Additionally I think there is some interest in using Mixin outside of Minecraft.

Would it be possible to setup a 'MixinToy' repository that
1. sets up launchwrapper/transformers to transform classes that run through.
2. has 2 source sets, the ori

[2018-02-12 00:40] Pokechu22 commented on #236
Not exactly that, but there is https://github.com/SpongePowered/LaunchWrapperTestSuite which might be a good starting point.

[2018-02-12 06:18] mikroskeem commented on #236
You could look into [Orion](https://github.com/OrionMinecraft/Orion)'s code, which is pretty much a simple wrapper around Paper Minecraft server. That could be forked into standalone project not targeting Minecraft.

[2018-02-12 12:20] Mumfrey commented on #236
Obviously I'm biased here but personally as a "Mixin playground" I recommend making a simple litemod. 3 files is sufficient to get you running with mixins in a litemod, a `build.gradle`, a `litemod.json` and a mixin config json. The reason being that LiteLoader has Mixin directly built in so there's no wiring to speak of, and it loads quickly like a vanilla environment but has modding creature com

[2018-02-12 20:13] DemonWav commented on #236
And mcdev will automatically generate a LiteLoader mod project for you too.

[2018-02-13 22:00] w-o-a-h commented on #235
I did this instead,
[code]

[2018-02-25 13:58] VRCube opened #237 "Injection failed"
MIXIN Subsystem Version: 0.6.4
Mapping: NOTCH Stable_20
Target Version: 1.8.9

It works in development environment but not with launcher
Stacktrace:
[code]

[2018-02-25 14:01] VRCube commented on #237
refmap was wrong in mixin config

[2018-02-25 14:01] #237 closed

[2018-02-26 12:11] Mumfrey commented on #233
Having investigated this further, I'm still unable to reproduce the issue with a deobf dependency provided via gradle, as fas as I can tell the AP handles this situation exactly as it should and correctly resolves the method name and contributes it to the refmap.

Can you please upload your project or an MCVE reproduction of the problem so I can use it to diagnose the problem.

[2018-02-26 12:15] Mumfrey commented on #237
You should use a more recent version of Mixin, in later versions this error message will actually tell you which refmap is active (or none) so it makes it much more obvious when an injector is failing simply because the refmap has not been loaded.

[2018-03-12 07:06] VRCube opened #238 "ClassCastException"
Stacktrace:
[code]

[2018-03-12 07:37] mikroskeem commented on #238
What Mixin library version?

[2018-03-12 07:39] VRCube commented on #238
0.6.4 SNAPSHOT
[code]

[2018-03-12 07:41] mikroskeem commented on #238
`org.apache.logging.log4j.core.Logger log = (org.apache.logging.log4j.core.Logger)LogManager.getLogger("FML");` is (possible) culprit.

[2018-03-12 07:43] VRCube commented on #238
Wdym?

[2018-03-12 07:43] VRCube commented on #238
+ I am not using Forge

[2018-03-12 07:49] mikroskeem commented on #238
You don't need to use Forge for that. MixinLogger class expects Log4j2 LogManager#getLogger to return `org.apache.logging.log4j.core.Logger` implementation, but that's not in the case.

So any idea how SimpleLogger gets used instead?

[2018-03-12 07:51] VRCube commented on #238
I have no idea, the source code is at https://github.com/HyperiumClient/Hyperium you can take a look

[2018-03-12 08:50] VRCube commented on #238
When I run the client from Workspace it worked fine, but not when I run from the launcher

[2018-03-13 14:21] VRCube opened #239 "How do I override method call in method I am injecting into"
![](http://cubxity.hypixel.life/7ac8afe.png)
I would like to override these 4 method calls with my own code, How could I do that?
Inject Annotation: `@Inject(method = "drawSplashScreen", at = @At(value = "INVOKE", target = "net/minecraft/client/renderer/Tessellator.draw()V", shift = At.Shift.BEFORE))`

[2018-03-13 16:09] Pokechu22 commented on #239
Use [@Redirect](http://jenkins.liteloader.com/job/Mixin/javadoc/org/spongepowered/asm/mixin/injection/Redirect.html), or alternatively [@ModifyArgs](http://jenkins.liteloader.com/job/Mixin/javadoc/org/spongepowered/asm/mixin/injection/ModifyArgs.html).

[2018-03-13 16:34] VRCube commented on #239
@Pokechu22 Any examples on those?

[2018-03-14 15:54] VRCube commented on #239
Anyone else?

[2018-03-14 22:03] mikroskeem commented on #239
[@Redirect](https://github.com/OrionMinecraft/Helios/blob/master/implementation/src/main/java/eu/mikroskeem/helios/mod/mixins/world/MixinPlayerList.java) example. Also consider using [MinecraftDev](https://github.com/minecraft-dev/MinecraftDev) plugin if you happen to use IntelliJ

[2018-03-15 13:14] VRCube commented on #238
Anyone?

[2018-03-16 15:43] Mumfrey commented on #238
Sorry I'm away at the moment until early next week. I'll take a look into it when I get back, I suspect there's a simple fix for it but that code was added as part of the initphase scaffolding so I can't remember who wrote it or why it would use a concrete class rather than an interface.

[2018-03-18 15:40] Foghrye4 opened #242 "Mixin target owner Type check is incorrect"
Apparently owner name should start with "L" and ends with ";"
https://github.com/SpongePowered/Mixin/blob/2f63e40255f81a9f69b15d7b15e464bcfe0705ea/src/main/java/org/spongepowered/asm/mixin/injection/struct/MemberInfo.java#L682

In next line of code this "L" is stripped from owner string.
Mixin use a stupid check which detects if owner type class descriptor gained via Type.getType(String) is a same

[2018-03-18 16:21] Zidane commented on #239
This repo is for issues with using Mixin, not to explain its usage. Read the javadocs, examples, or find others on github (there are many).

[2018-03-18 16:21] #239 closed

[2018-03-19 16:23] Mumfrey commented on #242
Even though the code in question does not actually do what it's supposed to, it was originally added for a purpose and that purpose is not fulfilled by either of the proposed "fix" PRs referencing this issue. One simply removes the check (which doesn't catch the original intended problem the check was intended to catch) and one fixes the "bug" without actually fixing the check.

Whilst I appreciat

[2018-03-19 16:25] Foghrye4 commented on #242
Ok, sorry.

[2018-03-19 16:29] Mumfrey commented on #242
No worries. I'll try and think of a better way to detect the issue @gabizou was originally having with badly formatted descriptors. The reason this code was added was because it was possible to supply descriptors which passed the regex check but failed when handed into `Type`. This does work for a small subset of descriptors but as you have pointed out, in most cases it doesn't actually work as in

[2018-03-20 13:40] #242 closed

[2018-03-24 07:28] phase opened #245 "Kotlin Support"
This isn't a high priority at all, but projects outside of Sponge that use Mixins may want to use Kotlin. The only issue I see is with `static` functions, and Kotlin's lack of them.

Let's say I want to overwrite `Minecraft.main()`. In Java, it's simple:

[code]

In Kotlin, there are no `static` functions. In place of them are Companion Objects.

[code]

Instead of generating a static function, th

[2018-03-24 16:25] VRCube commented on #238
[code]
Still does not work, please reopen

[2018-03-24 18:27] DemonWav commented on #245
![](https://media.giphy.com/media/RHiD0K65NxxLO/giphy.gif)

This should be fun.

[2018-03-24 19:29] VRCube commented on #238
@Mumfrey

[2018-03-25 09:40] pKalju opened #246 "Out of memory JVM fully frozen"
Hello,

Please add fallbacks to when there is no more free RAM to run Mixin injections.

I'm not entirely sure if it's really out of memory, but I got the JVM to crash when I run a stress test (100% CPU usage) with only 1 GB of RAM.

I have a few mixin injection points when Minecraft is heavily allocating RAM to load in the World.

I'm not entirely sure why it crashes, but it might be one of these

[2018-03-26 02:48] gabizou commented on #246
Can you provide evidence pointing to Mixins being at fault?

[2018-03-26 06:46] DemonWav commented on #246
Or just close this ridiculous, stupid issue.

[2018-03-26 08:01] pKalju commented on #246
Interesting how I can't replicate the JVM fully freezing "crash" any more

[2018-03-26 08:58] mikroskeem commented on #246
wat

In my opinion adding such fallback would be completely useless as JVM will run soon out of memory anyway.

[2018-03-26 11:28] Mumfrey commented on #246
This issue is frivolous, closing as invalid.

[2018-03-26 11:28] #246 closed

[2018-03-26 11:48] Mumfrey commented on #245
Whilst I don't have a problem with the functionality in principle, I know next to nothing about Kotlin besides what Kyle has mentioned to me over the last couple of years. The biggest issue is not how easy it is to work around minor issues but what this means for the longer term.

I'm not the kind of person to add something half-baked, so the choices from my point of view are either "Kotlin is sup

[2018-03-26 12:25] #238 closed

[2018-03-26 13:01] VRCube commented on #238
@Mumfrey so I need to use version 0.7.7 right?

[2018-03-26 13:27] Mumfrey commented on #238
Yes. In general you should always be using the latest version because Mixin guarantees backward compatibility so your mixins will not break with newer versions, however you benefit from improvements in the core and in compatibility and stability improvements.

[2018-03-26 13:28] Mumfrey commented on #238
See also [this PSA](https://github.com/SpongePowered/Mixin/wiki/PSA-Forward-Compatibility-Features-in-Mixin) about the use of `minVersion`.

[2018-03-26 14:18] VRCube commented on #238
is the maven repo updated?

[2018-03-26 14:19] VRCube commented on #238
also do you have discord so I can contact you easier?

[2018-03-26 15:10] Mumfrey commented on #238
Yes.

No I can't stand discord, you can contact me on IRC in `#spongedev` on esper if necessary. If my nick name has uppercase `M` then I'm online, lowercase `m` is my bouncer.

[2018-03-26 15:32] DemonWav commented on #245
This is what I would recommend in general with using Mixins with Kotlin for the time being, until it's "officially supported". Simply treat the Mixin file as a header file, and the Kotlin file as the implementation. Unfortunately you'll need to add some "Java glue" in there to really make that work, but it's certainly possible.

As far as supporting Kotlin officially, Kotlin has [`kapt`](https://k

[2018-03-26 16:19] Mumfrey commented on #245
I'd agree with that, as I mentioned above. It doesn't seem overly taxing to write mixins in Java for the moment, and leverage other languages for business logic. As developers we already write shell scripts for automation, groovy or xml for build scripts, etc. etc. I don't see Java as a DSL for mixins being that outrageous, and if I can support other languages for that down the line then it makes

[2018-03-26 18:32] DemonWav commented on #245
I agree, I'm mostly talking to @phase with that comment, saying he might be able to build a tool like that himself if proper Mixin support falls through.

[2018-03-27 11:52] phase opened #247 "NPE when Injecting Redirect for Constructor that doesn't exist"
I've got a weird setup going...
Currently, `MinecraftServer` is calling an invalid constructor for `FrozenThread`:

[code]

[code]

I'm attempting to apply this mixin:

[code]

When applying, I get this error:

[code]

which says that `meta` in

https://github.com/SpongePowered/Mixin/blob/46763a31e50049702b8ccb75d6ee83c6a913b9e2/src/main/java/org/spongepowered/asm/mixin/injection/invoke/RedirectIn

[2018-03-27 13:44] Mumfrey commented on #247
I'd say the way you're going about it is as sensible as it's possible to be, it's obviously a bit odd that a class is able to be compiled against a class with a ctor which doesn't exist but with respect to fixing the issue I'd say you're using the most sensible approach.

As to why the `meta` decoration is ending up null, that's really weird and definitely a bug, in so far as it either shouldn't g

[2018-03-27 14:11] Mumfrey commented on #247
To elaborate on why this isn't supported in Mixin, there are two reasons:

* Under normal circumstances, there would be no use-case for this scenario because there wouldn't be any way to call the constructor without using reflection anyway. This is the minor reason.
* Constructors as they exist in compiled code are something of a Frankenstein's Monster of mashed-together parts and there is no reli

[2018-03-27 21:08] phase commented on #247
It wasn't compiled against the version it's trying to call, it was compiled against a different version of the class. These switched classes are classes that appear in both the client & the server (the server only classes are then mapped to the shared mappings in [this file](https://github.com/PigeonMC/BetaMappings/blob/977539b48043292815c53e8e786d35b8406d80fb/serverToClientObf.tsrg)), and the cli

[2018-03-28 12:34] Mumfrey commented on #247
I figured as much, this is a similar approach to Forge but they overcome the issues using patches, which is a maintenance burden.

Beautiful. For reference I use (and thoroughly recommend) Microsoft Visio for all of my diagrams.

Yes this doesn't surprise me in the slightest, constructors are a minefield because of their composite nature as described above. It's certainly nontrivial to unpick them

[2018-03-28 21:58] phase commented on #247
I tried [patches](https://github.com/phase/gamma/tree/master/patches/minecraft/unknown) before, but it quickly became a hassle.

erhh, you can [_attempt_](https://github.com/PigeonMC/Pigeon#cloning) to do that. (Don't ask why I'm modding Beta 1.7.3, Zidane already laughed at me for it.) I think it should build out of the box, but I don't have a `gradle run` yet because you need to add the LWJGL Na

[2018-03-29 12:03] VRCube opened #248 "GuiButton class not mixed"
Hello there,
My MixinGuiButton is not mixed, in dev env it does work but not when I launch the client from launcher with tweakclass.

Please review this issue ASAP, thanks.
- Cubxity

[2018-03-29 13:13] Mumfrey commented on #248
Logs?

[2018-03-29 14:08] VRCube commented on #248
there is no error or any logs about mixin

On Thu, Mar 29, 2018, 3:13 PM Mumfrey <notifications@github.com> wrote:

[2018-03-29 14:27] Mumfrey commented on #248
Then what exactly are you asking me to fix? Either submit an actual bug report or demonstrate that you have done even basic troubleshooting on this issue to warrant investigation. So far you have

* Provided no basic information about the issue. There are a slew of reasons that your mixin might not be applied but you are too lazy to even bother submitting the debug logs or show the result of runni

[2018-03-29 14:27] #248 closed

[2018-03-29 15:35] VRCube commented on #248
The program/project is not released yet, so installer won't work yet. Could I dm you the guide or something?

[2018-03-29 15:44] Mumfrey commented on #247
Ok I finally got your project to work. I had to disable the 'mapMinecraft` task because the jar it generated was useless, I used the merged jar you linked instead. However getting it to run was a real nuisance. For reference you have put java classes in your `src/main/kotlin` dir instead of `src/main/java` so they don't get compiled!

Once I moved the java files to the correct location and built a

[2018-03-29 16:27] Mumfrey commented on #247
So I found the problem, this is actually a bug in my handling of *wildcard* ctor redirects. For wildcard redirects the meta is created and for non-wildcard the meta is not used and the absence of the meta was used as the semaphore for this state. However I wasn't taking that into account in the injector body itself.

I have changed the injector to always add the decoration and store the `wildcard`

[2018-03-29 16:30] #247 closed

[2018-03-29 16:33] Mumfrey commented on #248
The IRC channel is `#spongedev` on esper, when the `m` in my name is uppercase, I am online.

[2018-04-08 20:45] Barteks2x commented on #228
This is not the issue I was talking about

So how are changes to forge going to make it possible? Mixin will still try to load stuff from the main mod jar, which at that point isn't yet in any classloader.

if it only needed the mixin interfaces to be there, I could put some of them in the core jar, and as lex suggested add API jar to classloader myself. But if it attempts to load classes that are

[2018-04-13 20:59] gabizou opened #249 "Vague Error for Bad Arguments in ModifyArgs"
For the following mixin:
[code]

I get this exception at runtime (obviously something I'm doing wrong), but there's no clear explanation as to what the arguments are supposed to be.
[code]

So far I've tried not having any additional arguments added, but still the same exception.

[2018-04-14 00:56] Mumfrey commented on #249
This error is vague because it's not supposed to be a user-facing error, it shouldn't occur. It's happening because the signature of `newExplosion` is not being correctly marshalled by the injector. Generally if the errors are verbose it means they can be dealt with by the user, in this case this is indicating an internal error in the injector.

I can see why this is happening, shouldn't be too di

[2018-04-14 02:24] gabizou opened #250 "Allow Targeting INSTANCEOF opcode for JUMP injections"
For the following redirect (I'm hoping I can get this redirect to work in some way, since I had the impression we'd be able to modify variables, a redirect on a comparison jump call shouldn't be terribly bad.
[code]
I'm getting this error:

[code]

which is pretty vague, granted, but I'm expecting I'm doing something wrong or unsupported.

The target method is as such:
[code]

Which has the follow

[2018-04-15 14:37] Yeregorix opened #251 "Allow injections in overwritten methods"
I need to `@Inject` some code at the end of a specific mc method which is already `@Overwritten` by another mod (which uses Mixin) but it's currently not possible. It makes sense when the injection point is at specific opcode because the whole method was changed and the injection point may have moved or totally disappeared. However I can't see why we can't inject at the HEAD or the RETURN point(s)

[2018-04-15 18:51] Mumfrey commented on #251
Indeed, the reason for prohibiting this is that injections are usually tied to the method structure. However `HEAD` and `RETURN` are not actually dependent on this behaviour so it would make sense to allow an exception to this. Good suggestion.

[2018-04-15 19:01] Mumfrey commented on #250
If you recall, redirection of logical jumps was provided for by rerouters but the spec for those could never be nailed down. Redirectors can only redirect method and field accesses, so targetting a jump instruction is not permitted, this is what the headline error:

[code]

is saying.

This is exactly why injector groups exist. It's well a understood situation that a single mixin might target mult

[2018-04-15 19:01] #250 closed

[2018-04-15 19:25] Barteks2x commented on #251
Could there be anyway to specifically allow injecting into overwritten methods when when it's not HEAD or RETURN? This could be useful for solving compatibility issues between different mods that use mixin, where one overwrites a method, and another one injects into it. Or is there already a way to make that work? Or a completely different way to solve the issue?

[2018-04-15 19:37] Mumfrey commented on #251
I think the only way it could realistically be allowed is if some extra metadata were added to the injector to say specifically _"this injector is intended to inject into a **specific** overwritten method from `MixinBlah`"_ because otherwise there's no way to realistically be sure that the injector is going to behave as intended.

The thought process going like this:

* In general, inject into a t

[2018-04-15 20:02] Barteks2x commented on #228
@Mumfrey any update on this? The dependency extraction forge PR has been merged (a second one submitted by lex, not sure if its able to select the right version for now, but that's not my issue). Does it change the status of this in any way?

[2018-04-15 20:06] Mumfrey commented on #228
Hopefully, the proposed solution was that non-mod jars would just need to include some version metadata but the format wasn't nailed down. If the issue has now been solved then the relevant metadata will be added to Mixin artefacts going forward.

[2018-04-15 20:10] Barteks2x commented on #228
The problem I'm actually talking about is not selecting the right mixin version, which I'm fully aware of, and I know what is needed for it to be fixed, but that actually separating the mixin classes and actual mod into separate jar makes mixin attempt to load many of the classes from the mod jar that are referenced from mixins. Another issue is that the interfaces would need to be in the coremod

[2018-04-18 11:40] Mumfrey commented on #251
So looking into this, it looks like I already took this situation into account with the priority system. If a mixin has higher priority than the one which merged the method then it should be able to inject into the method just fine.

[2018-04-18 11:42] #249 closed

[2018-04-18 13:25] Yeregorix commented on #251
If the mixin containing the `@Inject` has an higher priority than the mixin containing the `@Overwrite` then the code injected by the first one is erased by the second one. If the mixin containing the `@Inject` has an lower priority then it can't be injected at all. Currently, from what I know, there is no way to `@Inject` after an `@Overwrite`, as explained above. Making an exception for `HEAD` o

[2018-04-18 13:46] Mumfrey commented on #251
How? If the injector is in a higher priority mixin then why would it overwrite the previous overwrite?

Correct, this is intentional.

Yes there is, the injector mixin just needs a higher priority than the overwriting mixin.

This is true, for an exception to the priority rule, but your implication is that there is currently *no* way to inject into an overwritten method, but this isn't true.

**Al

[2018-04-18 13:49] Mumfrey commented on #233
Closing for now as no clarification is forthcoming and I cannot reproduce this.

[2018-04-18 13:49] #233 closed

[2018-04-19 06:40] Zidane opened #252 "ClassCircularityError: scala/Predef$"
https://pastebin.com/wAXDrwha

SpongeForge issue: https://github.com/SpongePowered/SpongeForge/issues/1840

User reported that modifying Mixin to not transform scala library classes "fixes" it.

Cleaning up old tickets on SF issue tracker, is this still a problem? (Unsure if I missed a relevant commit). Is this something needing to be changed on SpongeForge end?

[2018-04-19 08:55] Yeregorix commented on #251
I thought after some tests that @Overwrite was erasing all injections but I just did better tests and I've found that I was wrong. Sorry for that ^^'. Anyway the enhancement mentioned is still a good idea. 👍

[2018-04-19 10:59] Mumfrey commented on #252
Couldn't this just be readily fixed by adding a transformer exclusion for `scala.`, since really no transformers should be touching those classes anyway?

[2018-04-19 13:45] Zidane commented on #252
@Mumfrey

Thanks, I've added the transformer exclusion.

[2018-04-19 13:45] #252 closed

[2018-04-21 19:59] Barteks2x opened #253 "ForceLoadAsMod causes mod to be loaded twice with latest forge (that includes new dependency extraction)"
Some user just reported to me that CubicChunks mod gets loaded twice and is detected as dumplicate mod, causing a crash on latest forge version.

Unfortunately, removing ForceLoadAsMod makes it not load as mod at all, and adding `FMLCorePluginContainsFMLMod: true` doesn't work either.

Based on debug log output it looks like the jar is found once when looking for jarmods (how?) and once when scann

[2018-04-22 14:50] Aaron1011 opened #254 "Provide finer-grained control over generic parameter assignment"
Let's say we have two interfaces, each with a type parameters `T`:

[code]

[code]

and an interface mixin which makes `TargetInterface` extend `AddedInterface`:

[code]

After applying the mixin, `TargetInterface` should look like this:

[code]

However, Mixin's logic for merging generic signatures will cause a new type parameter to be created, causing `TargetInterface` to look like this:

[code]

[2018-04-22 16:47] Aaron1011 opened #255 "Support working around projects that won't support Mixin"
Some projects like [AstralSorcery](https://github.com/HellFirePvP/AstralSorcery/issues/644#issuecomment-383394696) won't address any issues that occur with Sponge or other Mixin-using projects. It would be helpful if Mixin provided a way to exclude certain class transformers from being run twice (once during startup, and once when the class is actually loaded) without needing to modify the transfo

[2018-04-22 16:58] gabizou commented on #255
If I remember correctly, we ended up supporting transformers if they used `@Resource` as a class annotation. Not sure if that system has been advocated yet, but it's something simple that is available from the JVM itself.

[2018-04-23 12:00] Mumfrey commented on #254
This is related to #169 and boils down to needing to not just merge generic signatures based on symbols but also on type. It turns out that this is quite complicated, though this scenario is simpler it still involves a lot of additional scaffolding which is also needed by the other problem.

I don't undertsand. So you're saying a way to force type tokens to be merged without checking the bounds at

[2018-04-23 12:07] Mumfrey commented on #255
@gabizou that contravenes the premise of the above request, this specificially covers the situation where the mod author isn't going to cooperate. Though it looks like they actually [fixed their issue](https://github.com/HellFirePvP/AstralSorcery/commit/7a0e16406690b136df04407f2055cccaea60127f) so that the transformer contract is not being violated anyway.

However if a transformer doesn't want to

[2018-04-23 12:07] #255 closed

[2018-04-23 12:11] Mumfrey commented on #253
Ok I will take a look into this. The problem with the FML agent is obviously that it's tightly-coupled to the structure of forge and thus if any internal changes take place then it will break.

[2018-04-25 19:36] Zidane commented on #254
Here is another case of fun issues with kotlin:

https://github.com/SpongePowered/SpongeCommon/issues/1845

[2018-04-25 20:31] Mumfrey commented on #254
@Aaron1011 I see, that should be possible in a naïve way as long as the type parameters are identical. In [ClassSignature::merge javadoc]() I explicitly say:

Basically some level of merging, even if it's only very basic, is what you're asking for? That should be possible. However bear in mind that this means that your situation is only fixed in the case that the type parameters are **literally id

[2018-05-04 19:57] Aaron1011 commented on #254
It would also be helpful if Mixin were to log a message when it makes a breaking change to a generic signature (e.g. adding another generic parameter). This would make it much easier to debug this kind of mod compatibility issue in the future.

[2018-05-06 19:03] Barteks2x opened #256 "Oberwrite methods (all or only some?) aren't getting deobfuscated when loading obfuscated mixin in deobfuscated environment"
Normally this isn't an issue as one can just use BON2 to properly deobfuscate the jar and it will work fine.

The issue starts the moment I want to have separate API for a mod that uses mixin, and a thing that uses the API. To be able to run the mod that uses such API in dev environment, the actual mod that uses mixin is needed, so it seems like a runtime dependency would be perfect for it. Unfort

[2018-05-06 20:32] Mumfrey commented on #256
Yeah obviously this is the reason the AP exists in the dev -> obf direction of travel, but there is no equivalent in the opposite direction. The mixin AP could definitely provide the relevant information into the compiled jar to allow deobfuscation, but then there would need to be some corresponding component in ForgeGradle (or an additional feature in MixinGradle perhaps) which would process that

[2018-05-06 21:15] Barteks2x commented on #256
Will probably take me up to an hour to set up special test environment for it, in the meantime I can provide cubic chunks jar that shows the issue here: https://oss.sonatype.org/content/repositories/snapshots/io/github/opencubicchunks/cubicchunks/1.12.2-0.0.835.0-SNAPSHOT/cubicchunks-1.12.2-0.0.835.0-20180503.171642-2-all.jar (if you don't need a small test case just tell me so I don't need to wor

[2018-05-11 15:09] ZombieHDGaming commented on #253
Just because Barteks recommended that I leave a message about it here, I found during my testing that the duplicate mod scenario only happens on Forge servers and not on clients. Why it does this, I'm not sure, but I feel something is done differently on the servers rather than the client to cause this.

[2018-05-11 17:28] ZombieHDGaming commented on #253
As an interesting turn of events, there is actually a way to get around the duplicate mod scenario here. After looking at the mod LagGoggles, I found it weird that nothing was happening with it on newer versions. Upon adding the top option in this code:
[code]
The mod no longer throws a duplicate mod found exception on servers. I'm not sure why the FMLCorePluginContainsFMLMod option makes a differ

[2018-05-11 19:49] Runemoro commented on #253
@ZombieHDGaming's solution is more a workaround, this is still a bug with Mixin. Our mod does not contain a FML mod in its core plugin, so adding the `FMLCorePluginContainsFMLMod: "true"` somehow breaks one of the two mod loads, making the mod correctly load.

[2018-05-27 19:12] kixkid229 opened #258 "Mixin apply failed to replace Minecraft class with my own Mixin version."
In which neither my Keybind calls nor my Render calls are actually taking place inside of forge.
My error report is shown below:
[code]
Inside of each of these mixins the calls that I am trying to call are shown below:
[code]
and
[code]

Would you happen to know why neither event is getting registered with the mixins on compile but is being registered in debug.

[2018-05-28 16:08] kixkid229 commented on #258
Doing this fixed it aswell as refactoring some mapping stuff. Thanks Mumfrey.

[2018-05-28 21:38] Mumfrey commented on #258
No problem, since this is not a bug I will close this issue.

[2018-05-28 21:38] #258 closed

[2018-06-02 21:15] Barteks2x commented on #256
Looks like this is actually caused by me adding transformer exclusion. Something I never even considered to check for, and initially did because every single coremod example did it, and it has never caused issues before so I never looked at it.

[2018-06-02 21:26] Aaron1011 opened #259 "Warn when a transformer exclusion is applied to a Mixin class"
As @Barteks2x and I recently discovered, some Forge mods end up accidentally adding a transformer exclusion for their Mixin classes (e.g. by excluding a parent package). This prevents a production jar from being used in a development environment, since the mixin classes will not be debofuscated before being applied.

It can be difficult to trace the problems caused by this (e.g.  a `NoSuchMethodEr

[2018-06-02 21:32] Barteks2x commented on #259
Previously I didn't even realize this is caused by transformer exclusion and reported this https://github.com/SpongePowered/Mixin/issues/256

[2018-06-03 01:07] Mumfrey commented on #259
Nice detective work. This kind of thing should hopefully go away in the long run but fixing it for LegacyLauncher is not a massive ask.

[2018-06-10 16:41] cakoyo opened #260 "Add rename feature to @Shadow"
#### Example:
(Mixin)
[code]
(Target)
[code]
Then we can use `isLightPopulated` in our mixin codes instead of `lit`. This is very useful when use mixin to modify obfuscated classes (such as Spigot), and may an improvement version of `prefix`.

[2018-06-10 16:46] gabizou commented on #260
I think what you're looking for is `aliases` which are available currently, but I'm not sure how you're aiming to remap mixins otherwise.

[2018-06-10 16:47] cakoyo commented on #260
Oh, I saw that, thanks.

[2018-06-10 16:47] #260 closed

[2018-06-11 14:00] Mumfrey commented on #254
Having looked into this issue some more, I think my original approach is the only one that works and turning off class signature merging when it's either not needed or deliberately excluded is the only sensible way to do this, barring some sort of mapping being created for formal type parameters in the base interfaces.

The purpose behind merging the signatures in the first place was to allow deco

[2018-06-11 14:34] Mumfrey commented on #259
Closed via 2d410a79df9d4aa4ed1c5004603064849c3eac9a

[2018-06-11 14:34] #259 closed

[2018-06-12 04:58] DemonWav opened #261 "Reorder version history in readme"
Yeah I expect to be murdered for this.

But seriously, the release order goes from oldest to newest, so you have to scroll all the way down to the bottom of the page to get information about the most recent versions - information that is likely to be a lot more relevant and useful to someone other than the first versions.

[2018-06-12 11:12] Mumfrey commented on #261
Honestly the only reason it's still like this is that I didn't honestly think anyone would read it and appending to the bottom just became a habit. I mainly just wanted to provide a list which could be grepped for certain features so that people wanting to put `minVer` entries in their configs could look up the most recent feature they're using and see like "oh, version foo.bar was when this was a

[2018-06-12 11:39] #261 closed

[2018-06-13 18:19] Barteks2x opened #262 "Initializers of fields added by mixins are added to all constructors, potentially reinitializing fields"
I'm honestly not sure if it should be considered a bug. I've been unknowingly relying on this "feature" for my mod to work for quite a long time now But at least it should be documented somewhere because it's very surprising, unexpected behavior.

Take the Chunk class as an example. It has 2 constructors - one that takes World and 2 ints, and one that on top of that takes a ChunkPrimer. The second

[2018-06-14 10:15] Mumfrey commented on #262
I'll consider this a documentation issue since this is absolutely the intended behaviour, field initialisers in mixins are a powerful feature that can actually be used to do some cool things, and like all initialisers they appear in all constructors.

[2018-06-16 11:08] Runemoro opened #263 "ClassNotFoundExceptions in InnerClassGenerator"
An anonymous class inside a mixin causes a `ClassNotFoundException` in `InnerClassGenerator`: https://paste.dimdev.org/agetotuxeh.txt

The ClassNotFoundException randomly changes between these classes from one run to another:
 - org.spongepowered.asm.lib.commons.FieldRemapper
 - org.spongepowered.asm.lib.commons.AnnotationRemapper
 - org.spongepowered.asm.lib.commons.MethodRemapper

[2018-06-16 11:47] gabizou commented on #263
Do you have some example of the mixin to reproduce the issue?

[2018-06-16 12:06] Mumfrey commented on #263
The version info is in the stack trace, and this is clearly just a shading issue so I don't really need an example mixin.

[2018-06-16 12:13] gabizou commented on #263
Oh yeah, that's what I get trying to read things at 3am....

[2018-06-16 12:16] #263 closed

[2018-06-16 12:16] Mumfrey commented on #263
@Runemoro give that a try, if it doesn't fully resolve the issue then re-open this issue.

[2018-06-16 12:30] Runemoro commented on #263
@Mumfrey Thanks, that fixed it!

[2018-06-16 19:24] gabizou opened #264 "Field Initializer using a JUMP code is invalid"
With the following Mixin:
[code]
I get a nice big fat:
[code]

I would have thought the boolean would be sufficient, I can make this a method to initialize it, but I was hoping this would be something simple to have in Mixins.

[2018-06-16 19:29] gabizou commented on #264
Nevermind, investigated further and a discussion was mentioning about instructions that wouldn't be valid to append to constructors/field initializers because they're complicated as is.

[2018-06-16 19:29] #264 closed

[2018-06-17 06:41] DemonWav commented on #245
I took a stroll through the issues again and came across this one and realized this issue might be slightly flawed.

It's a common misconception that Kotlin doesn't have `static` functions because `companion objects` take their place. `companion objects` take the place for _class level state_ things, and obviously your example shows that `@JvmStatic` allows generating bridge methods to the generat

[2018-06-19 04:56] Runemoro opened #265 "maxShiftBy has no effect"
Setting `maxShiftBy` in a Mixin config has no effect, and this warning still appears:

This is caused by `MAX_ALLOWED_SHIFT_BY ` ([in InjectionPoint](https://github.com/SpongePowered/Mixin/blob/2d410a79df9d4aa4ed1c5004603064849c3eac9a/src/main/java/org/spongepowered/asm/mixin/injection/InjectionPoint.java#L166)) being 0. I'm not sure if this is intentional, but if it is, what's the point of even h

[2018-06-19 09:11] Mumfrey commented on #265
Looks like a typo, and I take the point about different message when the hard limit is exceeded.

[2018-06-20 06:07] Aaron1011 opened #266 "'remapRefMap' option causes BeforeInvoke ordinals to be wrong"
When the `remapRefMap` option is set (which happens automatically in development), all `BeforeInvoke` injectors [will attempt to search for a 'permissive target' if searching for the normal @At#target fails](https://github.com/SpongePowered/Mixin/blob/81a22a4f1d1cf59089bed40cdab4913860340c22/src/main/java/org/spongepowered/asm/mixin/injection/points/BeforeInvoke.java#L128).

However, since the 'pe

[2018-06-20 09:31] Mumfrey commented on #266
Hm, that is *sort* of working as intended, but obviously having an unintended side-effect. I assume that basically this happens when the original injector is actually wrong and therefore only succeeds because of the permissive search, which is not what is intended.

I guess a sensible improvement would be to make the following changes:

* Don't use permissive search when a refmap doesn't actually

[2018-06-20 09:35] Mumfrey commented on #266
As a corollary observation, this is also why slices are preferable to ordinals wherever possible.

[2018-06-20 09:50] Aaron1011 commented on #266
@Mumfrey: Both of those changes sound good to me. The second one especially would have made debugging the SpongeForge issue much easier.

I also forgot to mention - I actually experienced this issue while using a slice. The `to` target was a `BeforeInvoke` injector with an ordinal - necessary because of the long and complex method that was being modified.

[2018-06-24 05:48] Runemoro opened #267 "Allow injecting in constructors and class initializers"
I'd like to inject some code in the following constructor, right before `findAmbiguities` https://paste.dimdev.org/febovazuwi.java, but Mixin doesn't allow me to do this since the only valid injection point is RETURN.

My options are:
 - Redirect the call to `findAmbiguities` and add the code before (luckily in this case I have access to `field_197062_b` from a redirect, but this isn't always the

[2018-06-25 09:29] Mumfrey commented on #267
No sorry, there is no way I'm going to allow injecting into constructors beyond the ones which are already supported. You can redirect the call to `findAmbiguities` for this use-case. Frankly I'd rather prohibit operations on the constructor altogether but the functionality is too essential.

Don't forget you can redirect field accesses, constants and object constructors as well and those provide

[2018-06-25 09:29] #267 closed

[2018-07-03 12:10] #254 closed

[2018-07-03 12:10] #265 closed

[2018-07-03 12:10] #266 closed

[2018-07-05 18:23] pKalju opened #268 "Redirect void which is in an anonymous inner class"
Hello, I need help figuring out how to redirect `displayGuiScreen` in the GuiDisconnected class.

[code]

I tried to do this, but this does nothing.
[code]

[2018-07-05 18:30] Barteks2x commented on #268
You would probably need to target the inner class in your mixin, which would probably need to be done by string for it to work as you can't reference inner classes otherwise. If it can work at all.

[2018-07-05 18:31] Pokechu22 commented on #268
That actually isn't a lambda, but an anonymous inner class.  You can mix into it by using `@Mixin(targets="fully.qualified.class.Name$Inner")`, which would probably be something like `net.minecraft.client.gui.GuiDisconnected$1`.  However, I don't see this code in any of the versions of the game, so I'm not sure where you're even getting that inner class...

[2018-07-05 18:48] pKalju commented on #268
This is Minecraft 1.13, they changed how buttons work, that is actionPerformed.
I checked the jar and indeed the class name is with $1.

I got it to work now, but I don't think this is a reliable solution, is claims there is an error with this, since it can't be found:
![cool](https://i.futureclient.net/0E6dqvrd.png)

[2018-07-05 20:34] #268 closed

[2018-07-09 10:50] Runemoro opened #269 "Elide accessors when the underlying field is package-visible"
Currently, it's not possible to use a package-private field or method from another class (or private field from an inner class) without having a mixin that adds a getter in the other class.

But that's unnecessary overhead since the code should have access to the other field once it's mixed in and its package is changed. A compile-time only access transformer doesn't work in all cases, for example

[2018-07-09 11:56] Mumfrey commented on #269
Whilst I agree this is desirable functionality, I fundamentally disagree with your proposed solution. Adding a shadow member that exists in another class into a mixin is horrible for a number of reasons. The one thing everyone seems to forget is that all of Mixin is written with multi-target support and the assumptions for single-target are immediately invalidated given the flexibility of supporti

[2018-07-10 06:36] DemonWav commented on #269
I just feel the need to interject here and mention that I think this is ridiculous and a total non-issue. @Mumfrey shouldn't even waste the time to implement his proposed solution as far as I'm concerned.

There, I said it.

[2018-07-10 09:59] Mumfrey commented on #269
I assume you're referring to the fact that such accessor invocations are just JIT'd away in practice and thus in practice there is **no** performance gain to be had by eliding the calls in the bytecode? It honestly didn't cross my mind (embarrassingly) when writing the above reply that this is true.

I see what you're getting at. Basically for a net zero performance increase (and even in the situa

[2018-07-10 09:59] #269 closed

[2018-07-10 13:28] Runemoro opened #270 "Illegal ctor redirect raises NPE instead of a useful error"
Exception: https://paste.dimdev.org/yilaqohabe.txt
Mixin:
[code]
It seems like `superCall` is null when calling `target.indexOf(superCall)` in `InvokeInjector`.

[2018-07-10 14:14] Mumfrey commented on #270
You can't redirect a constructor like this, read the documentation. However it should at least provide a useful error message instead of the NPE, so that part is valid.

[2018-07-10 14:22] Mumfrey commented on #270
I can't even see where in the code this is mixing in to. I cannot find an invocation of `BlockStateContainer`'s ctor inside another ctor anywhere in vanilla minecraft. Since you failed to actually provide the parent mixin I have no idea how I'm supposed to recreate your test case.

[2018-07-10 14:31] Mumfrey commented on #270
Wait, **what**?!?!!?!

The initial example is **trying to redirect a SUPER CONSTRUCTOR CALL**?

I can't even.

....

Still doesn't explain the actual bug but seriously this is some dumb crap.

[2018-07-10 15:30] Runemoro commented on #270
@gabizou @Mumfrey I am not redirecting the super constructor. The mixin's target is `BlockStateContainer`, not `ExtendedBlockStateContainer` (which both have the same constructor).

The inability to modify constructors is a major flaw in Mixin, in my opinion. It's forcing me to use ASM directly to patch some of the constructors I'm not able to edit using Mixin.

[2018-07-10 16:33] Mumfrey commented on #270
Ok so my superctor lookup is failing because this is actually an overloaded ctor. Makes sense, that can be fixed.

You're entitled to your opinion, but I directly reject your assertion. **The inability to modify constructors is a deliberate feature of Mixin.**

Consider the things that you **can** do with Mixin to interact with object construction:

* Use modifyargs and modifyarg to modify ctor ar

[2018-07-10 18:30] Runemoro commented on #270
The only reason I can't do what I need to do is that Mojang decided to put the initialization code for the `BlockStateContainer` in the constructor. If they had simply put it in a separate method named `init` which was called by the constructor, I would be able to inject into it, but just because the method I want to inject into is named `<init>` rather than `init`, Mixin refuses to do so.

But th

[2018-07-10 21:52] DemonWav commented on #270
This sentence screams such ignorance it's frightening.

[2018-07-10 22:01] Runemoro commented on #270
@DemonWav

        if (Constants.CTOR.equals(target.method.name)) { // Constants.CTOR is "<init>"
            for (InjectionPoint injectionPoint : injectionPoints) {
                if (!injectionPoint.getClass().equals(BeforeReturn.class)) {
                    throw new InvalidInjectionException(this.info, "Found injection point type " + injectionPoint.getClass().getSimpleName()

[2018-07-10 22:04] DemonWav commented on #270
[And here is a link that shows you how to reflectively assign a new value to a `private static final` variable.](https://stackoverflow.com/a/3301720/2353230)

It's almost as if "able to do something" and "should do something" and "will always work" are 3 entirely separate categories of things.

[2018-07-10 22:07] Runemoro commented on #270
And how would that affect injecting into a constructor?

What does that have anything to do with this?

[2018-07-10 22:28] DemonWav commented on #270
It doesn't, simply making a point.

Just making a point, as my second line says.

Field initialization guarantees, field initialization ordering, super and primary constructor calls, etc. There are concrete examples (and cases I'm not aware of) that I'm sure will be provided, but as this isn't a project I work on, don't have any at hand.

[2018-07-10 22:36] Runemoro commented on #270
As I stated in my previous comment, Mixin could check that an overwrite/injection into a constructor initializes all final fields once and only once.

As I stated in my previous comment, this is not a problem since the constructor always initializes the fields in the class. But some parts of Mixin such as local variable capture require you to know the bytecode of the target method, so determining

[2018-07-11 01:13] Pokechu22 commented on #270
Not just that; they can also extend [other mixins in the hierarchy](https://github.com/SpongePowered/Mixin/wiki/About-Hierarchy-Validation-in-Mixins#mixin-inheritance) too.  You won't have any meaningful constructor in that case.

[2018-07-11 07:13] Runemoro commented on #270
If you want to use the super constructor of a package-private class, then you can just extend a mixin targeting it which `@Shadow`s the constructor (same as if you wanted to access any other super method).

If you want to overwrite a constructor and extend a mixin, you would have to add an intermediate mixin targeting the super class of your mixin's target, add a shadow constructor to that one, an

[2018-07-11 10:10] Mumfrey commented on #270
I don't know why you guys are arguing about this, I thought I made my position clear above.

Of course it does. And "proving" that a ctor is a normal method by showing how they're normal methods in the bytecode. Did it occur to you that I know that and that my statement *ctor calls should never be treated like a normal method call* is about how they're *treated* not what they *are*? Did it not occ

[2018-07-12 02:36] bloodmc opened #271 "ModLauncher support for 1.13"
@cpw informed us that Forge 1.13 update will be replacing tweakers with the `modlauncher` system that you helped build. Any plans on updating mixin to support this in the near future?

API for mixin to use is here
https://github.com/cpw/modlauncher/blob/master/src/api/java/cpw/mods/modlauncher/serviceapi/ILaunchPluginService.java

Thanks!

[2018-07-12 12:48] Mumfrey commented on #271
I know, it's why the [entire surface area was refactored into service model](https://github.com/SpongePowered/Mixin/commit/d31ccf1220e31b875ab47a38c3d2ff6a05d961bf) last year. I've been planning for this for a while as you can see. I wasn't going to make an issue because its a fundamental project task which doesn't really need an issue to track it.

This isn't specifically for 1.13, this is mainly

[2018-07-12 17:10] bloodmc commented on #271
OK thanks! I'll close ticket then =)

[2018-07-12 17:10] #271 closed

[2018-07-13 19:38] Aaron1011 opened #273 "Allow config inheritance"
Large projects like Sponge can end up with a significant number of Mixin config files. Many options (`minVersion`, `target`, `compatibilityLevel`, `injectors`, etc) will be identical across all of these configs.

To help reduce duplication, and to make it easier to maintain a large number of configs, it would be helpful if Mixin were to provide a simple inheritance options for Mixin configs. This

[2018-07-13 22:10] Runemoro commented on #262
@Mumfrey How is this not a bug? Java field initializers are not added to a constructor calling `this()`, while Mixin adds them after the `this()` call, making fields be initialized many times (possibly even final fields).

[2018-07-13 22:47] Barteks2x commented on #262
If you think of mixin classes as data-driven ASM, it makes more sense to do some things different than what would normally happen in java. In this case, it's likely more useful in general to have this behavior than to stick with what java would do normally.

[2018-07-16 15:12] Mumfrey commented on #273
Yes! This is a really great idea.

[2018-07-16 15:13] Mumfrey commented on #273
I assume that @Demonwav would need to add support to mcdev for this as well, since I assume he reads those values out of the config?

[2018-07-16 23:44] Aaron1011 opened #274 "Allow injecting 'catch' block into method"
Sometimes, it's useful to be able add a 'try/catch' block to an existing method. Currently, the only way to accomplish this is to overwrite the method with a 'try' block placed around the original code.

This has all the downsides that come with Overwrites - it's incompatible with any other transformers that may have modified the method, and must be manually kept up-to-date as the target class cha

[2018-07-17 00:14] Mumfrey commented on #274
Already covered by EXIT and the associated issues. I have a working branch for it but obviously the problems which plagued EXIT basically still apply.

[2018-07-17 00:14] #274 closed

[2018-07-17 03:13] Dockter opened #275 "Classloader Restrictions in most recent SpongeForge builds"
Hello,
We are using SF: 3314 and we noticed the following:

https://gist.github.com/Dockter/7bd631029e1c2530d7dce41a6fdb70f4

@Zidane asked me to create an issue.  What is the restriction?

[2018-07-17 03:19] Aaron1011 commented on #275
This is an issue with MalisisCore - it's adding a transformer exclusion for its own Mixin classes. This (among other things) can prevent production jars from being used in a development environment.

[2018-07-17 10:04] Mumfrey commented on #275
This is Mixin *telling you* about a problematic restriction, not imposing one. This message was added to fix #259 so that broken restrictions could be noticed and fixed.

The restrictions in force are the ones in square brackets in the error message, in this case `PACKAGE_TRANSFORMER_EXCLUSION`, which indicates that the package is transformer-excluded.

[2018-07-17 10:04] #275 closed

[2018-07-17 15:19] gabizou commented on #274
I'm guessing the working branch is local? I didn't realize there was work being done on EXIT in this manner, this would definitely prove to be very useful, and while it would come at the cost of getting things to work to inject a catch essentially for a particular method call would be useful.

[2018-07-17 15:54] Mumfrey commented on #274
End of last year was the last I looked at it. It needs a serious rethink because generating the code is pretty straightforward but the code needed when there are multiple exit points from a method violates the stack map validation so you can create "valid" code that the JVM chokes on.

Basically I originally thought it boiled down to "just wrap the whole method in a try/catch" but it's a more comp

[2018-07-25 19:27] Aaron1011 opened #276 "Soft-implemented methods are not 'unmapped' properly"
When `mixin.env.remapRefMap` is enabled (such as when using `GradleStart`), Mixin allows running an obfuscated Mixin-using jar (e.g. a production SpongeForge jar) in a development environment. However, Mixin currently fails to properly deobfuscate any 'soft-implemented' methods.

In [InterfaceInfo#renameMethod](https://github.com/SpongePowered/Mixin/blob/2c72246fe0b67c145db5510e66c8873df18b5a9f/sr

[2018-07-26 11:44] Mumfrey commented on #276
Ah ok. Will look into that.

[2018-08-01 19:54] Aaron1011 opened #277 "Overwrites are not 'unmapped' when using super-mixins"
Similar to https://github.com/SpongePowered/Mixin/issues/276, this issue occurs when using an obfuscated jar in a development environment. If a Mixin class extends another Mixin (i.e. super-mixins), any `@Overwrite` methods it contains will not be de-obfuscated at runtime.

[2018-08-02 13:41] Mumfrey commented on #277
I swear I tested this... Mixins are supposed to be unmapped in the context of their target so this *should* already be covered. I'll look into it anyway.

[2018-08-06 23:38] mrgrim opened #278 ""No mixin host service is available" when loading production jar in FML"
I have a FML/Mixin based coremod I've been working on here: https://github.com/mrgrim/MUP

It works great in a dev environment, and it works fine in prod with Mixin 0.7.2 or older. However, anything newer than that, and all I get is this error. I'm attaching the debug log.

I've tried for hours to try to even vaguely understand this service thing and how it could possibly be failing, but I'm at th

[2018-08-08 09:35] Mumfrey commented on #278
Most likely you've just not shadowed the contents of the Mixin jar properly. If you forget to shadow the `services` from `META-INF` then there won't be any service declarations in your output jar so Java service loader won't load the service host.

Closing this as it's not a bug but you can post additional messages below if needed.

[2018-08-08 09:35] #278 closed

[2018-08-08 09:50] Mumfrey commented on #278
I have cloned and built your project and as I suspected, your mod artefact is failing to include the `services` declarations from Mixin. Most likely [this line in your build.gradle](https://github.com/mrgrim/MUP/blob/master/build.gradle#L145) which is excluding `META-INF` entirely without subsequently merging the service files.

[2018-08-09 00:11] mrgrim commented on #278
Thank you! I added the following after the exclude:

[code]

And it works perfectly! I figured I messed something up. :) Hopefully this is easy to find with Google for other folks in the future.

[2018-08-09 15:09] Mumfrey commented on #278
Likewise for anyone hitting this issue with Google and wanting further information about the Java service model for extensible applications:

* [Link to the Oracle Docs on Services](https://docs.oracle.com/javase/tutorial/ext/basics/spi.html)

[2018-08-09 15:10] Mumfrey commented on #278
I should also point out that your method won't work if there are multiple jars containing services of the same type and that the Gradle Shadow plugin provides the `mergeServiceFiles` task for precisely this reason.

[2018-08-17 02:59] Aaron1011 opened #279 "Support 'hybrid' redirectors that take a CallbackInfo"
When using Mixin, it's often necessary to prevent a method from executing based on the return value of a (modified) method call. For example, a mixin might want to redirect a call to`World#spawnEntity` or `World#setBlockState`, and cause the method to return early if some checks fail.

Currently, this requires writing two separate injections - a `@Redirect` targeting the method, and an `@Inject` i

[2018-08-17 03:58] gabizou commented on #279
I'm considering that the way this would have to work is where you'd point an injected `CallbackInfo`/`CallbackInfoReturnable` and then point the possible return point as well, so something along the lines of:
[code]
Where the target looks like this:
[code]

And the mixed in result being:
[code]

[2018-08-17 18:05] Mumfrey commented on #279
Sounds like a neat idea. I'm currently heading out to Germany for a week for Gamescom and all my time on Mixin has been focused on the Java 9/ModLauncher update anyway. I'll have a look at this more when I get back (or if I have some spare time in Cologne).

I don't see any issues with this from a paradigm perspective, but I've always resisted overloading the functionality of `@Redirect` and simil

[2018-08-19 15:25] TerminatorNL opened #280 "Question: Target classes that extends and overrides..."
First off, I love Mixin and all its capabilities. Thank you so much for all your effort.

However, I am struggling to target classes that extend a class.
For example:

[code]
Does not target
[code]
and
[code]
How do I target `Variant1` and `Variant2` without directly referencing it? (It's added by another mod, it may be present or not, and new mods may pop into existence without my knowledge exten

[2018-08-20 00:39] gabizou commented on #280
You won't be able to override sub classes if they do not call `super.doSomething()`. This is why Sponge does a lot of wraparounds or `@Redirect`s to ensure logic is called when you have subclassed classes.

[2018-08-20 00:39] #280 closed

[2018-08-20 00:40] TerminatorNL commented on #280
Allright, I'll try that. Thank you

[2018-08-25 22:23] TerminatorNL opened #281 "Back off when a conflicting mixin is detected from another mod you accounted for"
I am dealing with another mod, namely: SpongeForge that uses `@Redirect` and `@Overwrite`'s on methods I wished to intercept. This will result in Mixin conflicts, this makes total sense to me.

I circumvented this problem by `@Redirect`ing the same method in SpongeForge.

However, I only want to do this approach when SpongeForge is actually present. I simply lowered the priority of my own Mixins,

[2018-08-25 22:25] TerminatorNL commented on #281
Forgot to mention: This is purely cosmetic, the server will still start and everything will work as intended. This is just about suppressing the warnings, because they are accounted for.

[2018-08-25 23:29] Barteks2x commented on #281
Create a (mixin config plugin)[https://github.com/SpongePowered/Mixin/blob/2c72246fe0b67c145db5510e66c8873df18b5a9f/src/main/java/org/spongepowered/asm/mixin/extensibility/IMixinConfigPlugin.java].

[2018-08-25 23:34] TerminatorNL commented on #281
Thanks for this! I must have completely overlooked this.
Have a nice day!

[2018-08-25 23:34] #281 closed

[2018-08-25 23:50] Barteks2x commented on #277
As it is I don't see overwrites being unmapped at all.

[2018-09-02 13:10] Barteks2x commented on #277
I verified that removing this if() fixes that one issue with overwrites, but there are still some issues with remapping @Shadow fields, so I end up with this exception:
[code]

[2018-09-04 07:41] mrgrim opened #282 "Invalid Signature Attempting to Redirect NEW"
I'm not entirely sure if this is a bug, but I'm at a loss for what's happening. I'm trying to redirect a "new" call in a constructor as follows:

[code]

The bytecode I'm seeing shows that this should match:

[code]

Based on the documentation I believe I have the target correct and that this type of redirect in a constructor is supported. I receive the following error:

[code]

I've tried a few v

[2018-09-04 10:13] Mumfrey commented on #282
The signature of your handler is incorrect. A `@Redirect` handler needs to consume the same arguments as the method it is replacing. The ctor of `SlotCrafting` looks like this:

[code]

but your handler method has no arguments. The exception thrown by mixin explicitly tells you this (from your provided stack trace):

[code]

As you can see, the return type is correct but your argument list is wron

[2018-09-04 10:13] #282 closed

[2018-09-04 12:56] mrgrim commented on #282
Thank you. I feel proper embarrassed now... In the future when trying to act like I'm 20 and code until 4AM, I won't open tickets until _after_ I've slept. :)

[2018-09-07 19:27] Thiece opened #283 "java.lang.reflect.InvocationTargetException: null"
I have encountered some problems. The same file, I am able to run normally on my computer with better performance. When I migrated it to my other computer, this error occurred. I don't know how to debug it.

[code]

[2018-09-07 20:04] Thiece commented on #283
@Aaron1011 Thank you. After adjusting XMX, it will be normal. Is this the default parameter?

[2018-09-08 00:02] #283 closed

[2018-09-08 17:42] FalseHonesty opened #284 "Allow for shadowed fields to be declared using super types"
An issue I'm currently having with mixins is shadowing a field whose type is package private. The field is in SoundManager, and that is the class that I'm mixing into. The type of this field that I'm talking about is `SoundManager.SoundSystemStarterThread`. This package-private class extends SoundSystem, and that is the class that has all the functionality I want to use in it.

Ideally, I would be

[2018-09-10 10:28] Mumfrey commented on #284
I see exactly what you're trying to do and it's absolutely not a bad use-case. Neither of the proposed solutions are awful either so I will address each:

This is probably the cleanest solution, combined with a possible overload of `@Coerce` to indicate the type variance. I don't see any particular drawbacks to this approach. It also doesn't conflict with the roadmapped feature I mention below.

T

[2018-09-12 15:13] bxz2311196368 opened #285 "[1.10.2]Get problem when the compiled mod (using Mixin) was loaded with forge."
Get problem when the compiled mod (using Mixin) was loaded with forge ,but works well in IDEA development environment Debug.
log show error:
java.lang.NoClassDefFoundError: net/minecraft/block/BlockContainer
But I didn't modify "BlockContainer"
I only modify "ItemBucket"
full log: [https://paste.ubuntu.com/p/hVxKJszGFk/](https://paste.ubuntu.com/p/hVxKJszGFk/)
Code: [here](https://github.com/bxz23

[2018-09-12 15:31] Mumfrey commented on #285
You are [doing something stupid](https://github.com/bxz2311196368/someusefulthings/blob/1.10.2/src/main/java/com/bxzmod/someusefulthings/asm/ItemBucketClassTransformer.java#L87) in your `ItemBucketClassTransformer` which I'd pick as the prime candidate.

Not a Mixin issue, your transformer is violating the transformer contract.

[2018-09-12 15:31] #285 closed

[2018-09-12 15:49] bxz2311196368 commented on #285
I comment it out, makes it do nothing.
And removed FMLCorePlugin attribute in build.gradle.

[2018-09-13 17:08] Marco-MC opened #286 "Trying to launch mixin in 1.13 | No mixin host service is available"
Hey,

i currently try to launch mixin in 1.13 with LaunchWrapper... It works fine in my workspace, but if I export my jar and try to launch it with the json... Mixin don't find the mixin service.
I didn't found the reason yet. Anyone have a idea, why it don't work?

**Launch json**
[code]

**Tweaker**
[code]

**Exception**
[code]

[2018-09-13 17:33] Mumfrey commented on #286
LaunchWrapper is not being used for 1.13, work is underway to transition to ModLauncher.

[2018-09-13 17:33] #286 closed

[2018-09-15 16:13] Marco-MC commented on #286
[code]

![](https://img.ccbluex.net/moc/MinecraftLauncher_2018-09-15_18-12-23.png)

Same issue with ModLauncher.

[2018-09-15 16:16] Marco-MC commented on #286
[code]

![](https://img.ccbluex.net/moc/firefox_2018-09-15_18-16-06.png)

Same issue with ModLauncher.

[2018-09-15 16:28] Mumfrey commented on #286
ModLauncher support **is underway**, it's not supported yet.

[2018-09-15 16:36] Marco-MC commented on #286
Oh, okay. Do you any ideas how I could use mixin to modify 1.13?

[2018-09-15 16:40] Mumfrey commented on #286
If you do use it on 1.13 you are on your own. If you actually had the common sense to search for the issue you're having you would discover that this question about the service host has [been asked and answered already](https://github.com/SpongePowered/Mixin/issues/278).

You are literally going to put yourself in a position where you're incompatible with everything else for 1.13 though so I would

[2018-09-24 16:55] pKalju opened #287 "IllegalAccessError: no such constructor"
Original function in AbstractHorse.class:
[code]

My Mixin class:
[code]

Stacktrace:
[code]

[2018-09-25 10:12] Mumfrey commented on #287
Reading this stacktrace I think the actual underlying issue is handling of the `double` return type of the method you're injecting into. I'll need to take a look into it to verify that though. You could try to get a more scientifici result by using `-Dmixin.debug.verify=true` to enable the verifier and it should hopefully crash earlier on in the Class Verifier instead.

[2018-09-25 14:02] pKalju commented on #287
[code]

[2018-09-25 16:07] Mumfrey commented on #287
Yep, that confirms it. The `DUP` opcode is there to "grab" the return value from the stack so it can be captured into the `CallbackInfoReturnable` but because the return type is `double` then it **should** be `DUP2`.

[2018-09-28 21:00] gabizou opened #288 "InvalidMixinException: Using interface Mixin accessor within Mixin"
So, I had narrowed it down to this: If I have the following:
[code]
[code]
Mixin will fail to validate the usage `IMixinChunk`.

As a more concrete example from the [SpongeCommon commit](https://github.com/SpongePowered/SpongeCommon/commit/9e09c450d98e2d3f17db2e72aa2de9b933600e62#diff-5b2b2100bc183ebf3f7fb071fd192075R34), I added the accessor mixin to be usable (the very same way they are usable o

[2018-10-01 22:15] Barteks2x opened #289 "Found a remappable @Shadow annotation"
[code]

I got this while working on OptiFine E2 support, with the following mixin, in dev environment:
[code]
(the actual mixin had much more stuff in it, but this is the smallest one that shows the issue)
I know I forgot to set remap = false here, but mixin actually continued anyway, as if nothing happened. And didn't give me much of a clue about what is wrong (and also I read [here](https://gith

[2018-10-02 08:44] Barteks2x opened #290 "Mixin AP ignores @Dynamic, causing needless warnings and impossible to fix errors"
For example this optifine-specific mixin into `RenderList.class` and `VboRenderList.class`

[code]

works fine at runtime but mixin AP fails with the following error:
[code]

Using `remap=false` silences this error, but then the `GlStateManager.translate` part doesn't get a refmap entry. The mixin works fine after manually adding the missing refmap entry.

[2018-10-02 17:21] Mumfrey commented on #289
I don't see the problem here? Your mixin has multiple targets and therefore can't contain remappable members.

[2018-10-02 17:29] Mumfrey commented on #290
`@Dynamic` is a decorator and has no contractual function:

From the javadoc:

You need to disable remapping for the target and enable remapping for the injection point.

[2018-10-02 17:32] #289 closed

[2018-10-02 17:33] #290 closed

[2018-10-02 17:35] Barteks2x commented on #289
My point was that mixin seems to ignore the exception, and doesn't give any further diagnostic information.

[2018-10-02 17:38] Barteks2x commented on #290
I also have quite a few warnings that I really don't know how to deal with, and on Discord the only help I got was "they are just warnings, ignore them".

[2018-10-06 10:51] Barteks2x commented on #290
There is currently no way to silence these warnings when mixing into classes modified by other mods:
[code]

[2018-10-06 15:01] Barteks2x opened #291 "Can't capture the arguments of target method with array redirects"
As said above.

[2018-10-06 15:03] Barteks2x commented on #291
Nevermind, my mistake. It is possible.

[2018-10-06 15:03] #291 closed

[2018-10-21 11:01] vinz243 opened #292 "No obfuscation mapping for @Inject target and Cannot extend target class"
I'm trying to inject in a particular minecraft function, however I have two errors!
 - IntelliJ shows a `Cannot extend target class` error over the extends clause of my Mixin class
 - When running my project build, I get this error:
[code]
### `com.vinz243.vortice.mixins.ChunkRenderDispatcherMixin`

[code]

### `mixins.vortice.json`

[code]
### `build.gradle`

[code]

Thanks in advance for your he

[2018-10-21 11:30] vinz243 commented on #292
Awesome thanks ! So I need to remvoe the extends statement ? If so then here is my new mixin:

[code]
but I my injector isn't being called (nothing logged), even though the target function (uploadVertexBuffer) is being called multiple time (checked using debugger)

[2018-10-21 16:53] Barteks2x commented on #292
This actually does look like a vanilla method, so `remap=false` shouldn't be needed. When I try to compile it, without the remap=false, it doesn't show any warning. So for that, I think someone else would need to help. Also this is unlikely to be a bug, and may be resolved over irc/discord.

[2018-10-21 17:02] Pokechu22 commented on #292
Doesn't the sponge API (by which I mean `compile 'org.spongepowered:spongeapi:7.1.0'` and not mixin itself) target the server side?  It seems like you're mixing into client-side code, which wouldn't exist on a server-only environment.  Though this seems like an iffy statement from me since if that code is compiling at all, there probably are client classes...

[2018-10-21 19:03] Barteks2x commented on #292
The client classes are there probably only because ForgeGradle creates a merged jar, so the class still exists in dev environment. But yes, the mixin should be specified as a client mixin if the class only exists clientside.

[2018-10-22 12:56] vinz243 commented on #292
After trying different working projects, I managed to make it work ! thanks anyway guys

[2018-10-22 12:56] #292 closed

[2018-12-12 20:00] InsomniaKitten opened #293 "No Precondition Or Propagation For Overriding Final Method In Target Superclass"
If a mixin declares a method with a signature identical to that of a method in the superclass of the target class, and that method is *final*, it will crash at class loader level with a `java.lang.VerifyError`. Although this could very well be considered a matter of common sense not to attempt this, it might be worth adding a precondition, or propagating the error with context of the mixin causing